{%- doc -%}
  Renders section content for all sections that extend the list section.
  Custom version that supports individual border widths for top, bottom, left, and right.

  @param {string} children - The DOM content of the list section.
  @param {object} list_items - An array of HTML for the list items to display in the carousel
  @param {object} settings - The settings of the list section.
  @param {string} footer - The DOM content of the footer.

  @example
  {% render '1-health-interests', children: children, list_items: list_items, settings: section.settings %}
{%- enddoc -%}

{% liquid
  case settings.layout_type
    when 'grid'
      assign classes = 'resource-list--grid'
    when 'carousel'
      assign classes = 'resource-list__carousel'
  endcase
  
  if settings.columns > 2
    assign columns_tablet = settings.columns | divided_by: 2.0 | ceil
  endif
  if settings.columns > 3
    assign columns_tablet = settings.columns | divided_by: 2.0 | ceil
    assign columns_laptop = settings.columns | divided_by: 1.5 | ceil
  endif

  capture styles
    echo '--column-count-mobile: ' | append: settings.mobile_columns | append: ';'
    echo '--resource-list-column-gap-desktop: ' | append: settings.columns_gap | append: 'px;'
    echo '--resource-list-row-gap-desktop: ' | append: settings.rows_gap | append: 'px;'
    echo '--resource-list-columns: repeat(' | append: settings.columns | append: ', 1fr);'
    if settings.columns > 2
      echo '--resource-list-columns-tablet: repeat(' | append: columns_tablet | append: ', 1fr);'
    endif
    if settings.columns > 3
      echo '--resource-list-columns-laptop: repeat(' | append: columns_laptop | append: ', 1fr);'
    endif
    echo '--resource-list-columns-mobile: repeat(' | append: settings.mobile_columns | append: ', 1fr);'
    echo '--resource-list-column-gap-desktop: ' | append: settings.columns_gap | append: 'px;'
    echo '--column-count: ' | append: settings.columns | append: ';'
    if settings.columns > 2
      echo '--column-count-tablet: ' | append: columns_tablet | append: ';'
    endif
    if settings.columns > 3
      echo '--column-count-laptop: ' | append: columns_laptop | append: ';'
    endif
    echo '--column-count-mobile: ' | append: settings.mobile_columns | append: ';'
    if settings.layout_type == 'carousel' or settings.carousel_on_mobile == true
      echo '--mobile-card-size: ' | append: settings.mobile_card_size | append: ';'
    endif
  endcapture
%}

<div class="section-background color-{{ settings.color_scheme }}"></div>
<div
  class="
    section
    section--{{ settings.section_width }}
    color-{{ settings.color_scheme }}
    section-resource-list
    spacing-style
    gap-style
  "
  style="
    --column-count-mobile: {{ settings.mobile_columns }};
    {% render 'spacing-style', settings: settings %}
    {% render 'gap-style', value: settings.gap %}
    {{ styles }}
  "
>
  <div class="section-resource-list__header">
    {{ children }}
  </div>

  {% liquid
    # Create an array from the list items to be used for different layout types
    assign list_items_array = list_items | strip | split: '<!--@list/split-->'
  %}
  

  <div
    class="
      resource-list
      {% if settings.layout_type == 'carousel' %}
        force-full-width
      {% endif %}
      {% if settings.layout_type_mobile != settings.layout_type or settings.layout_type != 'grid' and settings.layout_type_mobile != 'grid' and settings.columns != settings.mobile_columns %}
        hidden--mobile
      {% endif %}
      {{ classes }}
    "
    style="
      {{ styles }}
    "
    {% if settings.layout_type == 'grid' %}
      data-testid="resource-list-grid"
    {% endif %}
  >
    {% case settings.layout_type %}
      {% when 'grid' %}
        {{ list_items }}
      {% when 'carousel' %}
        {% liquid
          assign slide_count = list_items_array.size | plus: 1 | minus: settings.columns
        %}
        {% render '1-list-carousel',
          ref: 'resourceListCarousel',
          slides: list_items_array,
          slide_count: slide_count,
          settings: settings
        %}
    {% endcase %}
  </div>

  {% if settings.layout_type_mobile != settings.layout_type or settings.layout_type != 'grid' and settings.layout_type_mobile != 'grid' and settings.columns != settings.mobile_columns %}
    {% case settings.layout_type_mobile %}
      {% when 'carousel' %}
        {% liquid
          assign mobile_carousel_gap = settings.columns_gap
        %}
        <div
          class="
            resource-list
            hidden--desktop
            force-full-width
          "
          style="
            --resource-list-column-gap-desktop: {{ mobile_carousel_gap }}px;
            --column-count: {{ settings.columns }};
          "
        >
          {% liquid
            assign slide_count = list_items_array.size | plus: 1 | minus: settings.mobile_columns
          %}
          {% render '1-list-carousel',
            ref: 'resourceListCarouselMobile',
            slides: list_items_array,
            slide_count: slide_count,
            settings: settings
          %}
        </div>
      {% when 'grid' %}
        <div
          class="
            resource-list
            hidden--desktop
            resource-list--grid
          "
          style="
            --resource-list-column-gap-desktop: {{ settings.columns_gap }}px;
            --resource-list-row-gap-desktop: {{ settings.rows_gap }}px;
            --resource-list-columns: repeat({{ settings.columns }}, 1fr);
            --resource-list-columns-mobile: repeat({{ settings.mobile_columns }}, 1fr);
          "
        >
          {{ list_items }}
        </div>
    {% endcase %}
  {% endif %}
  <div class="section-resource-list__footer">
    {{ footer }}
  </div>
</div>