{%- doc -%}
  Renders adjacent blog posts (previous and next) relative to the current blog post.
  This block displays half of max_posts (floor) previous posts and half of max_posts (ceil) next posts.
{%- enddoc -%}

{% liquid
  assign blog = closest.blog
  assign previous_article = blog.previous_article
  assign next_article = blog.next_article
  assign max_posts = block.settings.max_posts
  assign articles = blog.articles | reject: 'id', closest.article.id
  if previous_article
    assign max_posts = max_posts | minus: 1
    assign articles = articles | reject: 'id', previous_article.id
  endif
  if next_article
    assign max_posts = max_posts | minus: 1
    assign articles = articles | reject: 'id', next_article.id
  endif
  assign articles = articles | slice: 0, max_posts
%}

{% liquid
  capture styles
    echo '--resource-list-column-gap-desktop: ' | append: block.settings.columns_gap | append: 'px;'
    echo '--resource-list-row-gap-desktop: ' | append: block.settings.rows_gap | append: 'px;'
  endcapture
%}
<div
  class="
    group-block
    spacing-style
    color-{{ block.settings.color_scheme }}
  "
  {{ block.shopify_attributes }}
  data-testid="1-adjacent-blog-posts"
>
  <div
    class="
      group-block-content
      {% if request.design_mode %}group-block-content--design-mode{% endif %}
      layout-panel-flex
      layout-panel-flex--column
      {% if block.settings.use_individual_borders %}border-style--individual{% else %}border-style{% endif %}
    "
    style="
      {% render 'spacing-style', settings: block.settings %}
      {% if block.settings.use_individual_borders %}
        {% render '1-border-override', settings: block.settings %}
      {% else %}
        {% render 'border-override', settings: block.settings %}
      {% endif %}
    "
  >
    {%  capture heading %}
      {% content_for 'blocks' %}
    {% endcapture %}
    {% if heading != blank %}
    <div class="1-adjacent-blog-posts__heading">
      {{ heading }}
    </div>
    {% endif %}
    <div
      class="
        1-adjacent-blog-posts__list
        resource-list
        resource-list--grid
      "
      style="{{ styles }}"
    >
      {% if previous_article %}
        {% content_for 'block',
          type: '1-blog-post-card',
          id: 'static-previous-blog-post-card',
          closest.article: previous_article
        %}
      {% endif %}
      {% if next_article %}
        {% content_for 'block',
          type: '1-blog-post-card',
          id: 'static-next-blog-post-card',
          closest.article: next_article
        %}
      {% endif %}
      {% for article in articles %}
        {% content_for 'block',
          type: '1-blog-post-card',
          id: 'static-blog-post-card',
          closest.article: article
        %}
      {% endfor %}
    </div>
  </div>
</div>

{% stylesheet %}
  .\31-adjacent-blog-posts__list {
    display: grid;
    grid-template-columns: 1fr;
    @media (min-width: 768px) {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  .\31-adjacent-blog-posts-wrapper {
    width: 100%;
  }
{% endstylesheet %}

{% schema %}
{
  "name": "t:names.1_adjacent_blog_posts",
  "class": "adjacent-blog-posts-wrapper",
  "blocks": [
    {
      "type": "@theme"
    },
    {
      "type": "@app"
    }
  ],
  "settings": [
    {
      "type": "range",
      "id": "max_posts",
      "label": "t:settings.post_count",
      "min": 2,
      "max": 12,
      "step": 1,
      "default": 6
    },
    {
      "type": "range",
      "id": "columns_gap",
      "label": "t:settings.horizontal_gap",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 8
    },
    {
      "type": "range",
      "id": "rows_gap",
      "label": "t:settings.vertical_gap",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 8
    },
    {
      "type": "header",
      "content": "t:content.section_layout"
    },
    {
      "type": "range",
      "id": "gap",
      "label": "t:settings.gap",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 48
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:settings.color_scheme",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:content.borders"
    },
    {
      "type": "select",
      "id": "border",
      "label": "t:settings.style",
      "options": [
        {
          "value": "none",
          "label": "t:options.none"
        },
        {
          "value": "solid",
          "label": "t:options.solid"
        }
      ],
      "default": "none"
    },
    {
      "type": "checkbox",
      "id": "use_individual_borders",
      "label": "Use individual border widths",
      "default": false,
      "visible_if": "{{ block.settings.border != 'none' }}"
    },
    {
      "type": "range",
      "id": "border_width",
      "min": 0,
      "max": 10,
      "step": 0.5,
      "unit": "px",
      "label": "t:settings.thickness",
      "default": 1,
      "visible_if": "{{ block.settings.border != 'none' and block.settings.use_individual_borders == false }}"
    },
    {
      "type": "range",
      "id": "border_width_top",
      "min": 0,
      "max": 10,
      "step": 0.5,
      "unit": "px",
      "label": "Top border width",
      "default": 1,
      "visible_if": "{{ block.settings.border != 'none' and block.settings.use_individual_borders == true }}"
    },
    {
      "type": "range",
      "id": "border_width_bottom",
      "min": 0,
      "max": 10,
      "step": 0.5,
      "unit": "px",
      "label": "Bottom border width",
      "default": 1,
      "visible_if": "{{ block.settings.border != 'none' and block.settings.use_individual_borders == true }}"
    },
    {
      "type": "range",
      "id": "border_width_left",
      "min": 0,
      "max": 10,
      "step": 0.5,
      "unit": "px",
      "label": "Left border width",
      "default": 1,
      "visible_if": "{{ block.settings.border != 'none' and block.settings.use_individual_borders == true }}"
    },
    {
      "type": "range",
      "id": "border_width_right",
      "min": 0,
      "max": 10,
      "step": 0.5,
      "unit": "px",
      "label": "Right border width",
      "default": 1,
      "visible_if": "{{ block.settings.border != 'none' and block.settings.use_individual_borders == true }}"
    },
    {
      "type": "header",
      "content": "Mobile border widths",
      "visible_if": "{{ block.settings.border != 'none' and block.settings.use_individual_borders == true }}"
    },
    {
      "type": "range",
      "id": "border_width_top_mobile",
      "min": 0,
      "max": 10,
      "step": 0.5,
      "unit": "px",
      "label": "Top border width (mobile)",
      "default": 1,
      "visible_if": "{{ block.settings.border != 'none' and block.settings.use_individual_borders == true }}"
    },
    {
      "type": "range",
      "id": "border_width_bottom_mobile",
      "min": 0,
      "max": 10,
      "step": 0.5,
      "unit": "px",
      "label": "Bottom border width (mobile)",
      "default": 1,
      "visible_if": "{{ block.settings.border != 'none' and block.settings.use_individual_borders == true }}"
    },
    {
      "type": "range",
      "id": "border_width_left_mobile",
      "min": 0,
      "max": 10,
      "step": 0.5,
      "unit": "px",
      "label": "Left border width (mobile)",
      "default": 1,
      "visible_if": "{{ block.settings.border != 'none' and block.settings.use_individual_borders == true }}"
    },
    {
      "type": "range",
      "id": "border_width_right_mobile",
      "min": 0,
      "max": 10,
      "step": 0.5,
      "unit": "px",
      "label": "Right border width (mobile)",
      "default": 1,
      "visible_if": "{{ block.settings.border != 'none' and block.settings.use_individual_borders == true }}"
    },
    {
      "type": "range",
      "id": "border_opacity",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "label": "t:settings.opacity",
      "default": 100,
      "visible_if": "{{ block.settings.border != 'none' }}"
    },
    {
      "type": "range",
      "id": "border_radius",
      "label": "t:settings.border_radius",
      "min": 0,
      "max": 32,
      "step": 1,
      "unit": "px",
      "default": 0
    },
    {
      "type": "header",
      "content": "t:content.padding"
    },
    {
      "type": "range",
      "id": "padding-block-start",
      "label": "t:settings.top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding-block-end",
      "label": "t:settings.bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    }
  ],
  "presets": [
    {
      "name": "t:names.1_adjacent_blog_posts",
      "category": "t:categories.blog_post",
      "settings": {
        "max_posts": 3,
        "columns_gap": 32,
        "rows_gap": 24,
        "gap": 48,
        "color_scheme": "",
        "border": "none",
        "use_individual_borders": false,
        "border_width": 1,
        "border_width_top": 1,
        "border_width_bottom": 1,
        "border_width_left": 1,
        "border_width_right": 1,
        "border_width_top_mobile": 1,
        "border_width_bottom_mobile": 1,
        "border_width_left_mobile": 1,
        "border_width_right_mobile": 1,
        "border_opacity": 100,
        "border_radius": 0,
        "padding-block-start": 0,
        "padding-block-end": 0
      },
      "blocks": {
        "static-previous-blog-post-card": {
          "type": "1-blog-post-card",
          "static": true,
          "name": "t:names.1_previous_blog_post_card",
          "settings": {
            "inherit_color_scheme": true,
            "color_scheme": "",
            "border": "none",
            "use_individual_borders": false,
            "border_width": 1,
            "border_width_top": 1,
            "border_width_bottom": 1,
            "border_width_left": 1,
            "border_width_right": 1,
            "border_width_top_mobile": 1,
            "border_width_bottom_mobile": 1,
            "border_width_left_mobile": 1,
            "border_width_right_mobile": 1,
            "border_opacity": 100,
            "border_radius": 0,
            "padding-block-start": 0,
            "padding-block-end": 0,
            "padding-inline-start": 0,
            "padding-inline-end": 0
          },
          "blocks": {
            "1_group_rFYVck": {
              "type": "1-group",
              "name": "Card",
              "settings": {
                "link": "{{ closest.article.url }}",
                "open_in_new_tab": false,
                "visibility": "show_all",
                "content_direction": "column",
                "vertical_on_mobile": true,
                "horizontal_on_mobile": false,
                "reverse_order_on_mobile": false,
                "horizontal_alignment": "flex-start",
                "vertical_alignment": "center",
                "align_baseline": false,
                "horizontal_alignment_flex_direction_column": "flex-start",
                "vertical_alignment_flex_direction_column": "flex-start",
                "use_mobile_layout": false,
                "horizontal_alignment_mobile": "flex-start",
                "vertical_alignment_mobile": "center",
                "align_baseline_mobile": false,
                "horizontal_alignment_flex_direction_column_mobile": "flex-start",
                "vertical_alignment_flex_direction_column_mobile": "center",
                "gap": 16,
                "flex_wrap": "nowrap",
                "flex_wrap_mobile": "inherit",
                "width": "fill",
                "custom_width": 100,
                "width_mobile": "fill",
                "custom_width_mobile": 100,
                "height": "fill",
                "custom_height": 100,
                "position": "static",
                "z_index": 0,
                "enable_parallax": false,
                "parallax_speed": "medium",
                "parallax_direction": "vertical",
                "parallax_on_mobile": false,
                "position_top": 0,
                "position_bottom": 0,
                "position_left": 0,
                "position_right": 0,
                "enable_callout_pointer": false,
                "pointer_side_desktop": "left",
                "pointer_side_mobile": "bottomLeft",
                "pointer_length": 100,
                "pointer_length_mobile": 100,
                "pointer_width_mobile": 100,
                "pointer_style": "dashed",
                "pointer_color": "#ffffff",
                "pointer_opacity": 100,
                "inherit_color_scheme": true,
                "color_scheme": "",
                "background_media": "none",
                "video_position": "cover",
                "background_image_position": "cover",
                "enable_backdrop_blur": false,
                "backdrop_blur_amount": 20,
                "border": "none",
                "use_individual_borders": false,
                "border_width": 2,
                "border_width_top": 2,
                "border_width_bottom": 2,
                "border_width_left": 2,
                "border_width_right": 2,
                "border_width_top_mobile": 1,
                "border_width_bottom_mobile": 1,
                "border_width_left_mobile": 1,
                "border_width_right_mobile": 1,
                "border_opacity": 100,
                "border_radius": 0,
                "toggle_overlay": false,
                "overlay_color": "#00000026",
                "overlay_style": "solid",
                "gradient_direction": "to top",
                "padding-block-start": 0,
                "padding-block-end": 0,
                "padding-inline-start": 0,
                "padding-inline-end": 0,
                "use_mobile_padding": false,
                "padding-block-start-mobile": 0,
                "padding-block-end-mobile": 0,
                "padding-inline-start-mobile": 0,
                "padding-inline-end-mobile": 0
              },
              "blocks": {
                "1_group_7dyPUa": {
                  "type": "1-group",
                  "name": "t:names.1_group",
                  "settings": {
                    "link": "",
                    "open_in_new_tab": false,
                    "visibility": "show_all",
                    "content_direction": "column",
                    "vertical_on_mobile": true,
                    "horizontal_on_mobile": false,
                    "reverse_order_on_mobile": false,
                    "horizontal_alignment": "flex-start",
                    "vertical_alignment": "center",
                    "align_baseline": false,
                    "horizontal_alignment_flex_direction_column": "flex-start",
                    "vertical_alignment_flex_direction_column": "center",
                    "use_mobile_layout": false,
                    "horizontal_alignment_mobile": "flex-start",
                    "vertical_alignment_mobile": "center",
                    "align_baseline_mobile": false,
                    "horizontal_alignment_flex_direction_column_mobile": "flex-start",
                    "vertical_alignment_flex_direction_column_mobile": "center",
                    "gap": 12,
                    "flex_wrap": "nowrap",
                    "flex_wrap_mobile": "inherit",
                    "width": "fill",
                    "custom_width": 100,
                    "width_mobile": "fill",
                    "custom_width_mobile": 100,
                    "height": "fit",
                    "custom_height": 100,
                    "position": "static",
                    "z_index": 0,
                    "enable_parallax": false,
                    "parallax_speed": "medium",
                    "parallax_direction": "vertical",
                    "parallax_on_mobile": false,
                    "position_top": 0,
                    "position_bottom": 0,
                    "position_left": 0,
                    "position_right": 0,
                    "enable_callout_pointer": false,
                    "pointer_side_desktop": "left",
                    "pointer_side_mobile": "bottomLeft",
                    "pointer_length": 100,
                    "pointer_length_mobile": 100,
                    "pointer_width_mobile": 100,
                    "pointer_style": "dashed",
                    "pointer_color": "#ffffff",
                    "pointer_opacity": 100,
                    "inherit_color_scheme": false,
                    "color_scheme": "scheme-2",
                    "background_media": "none",
                    "video_position": "cover",
                    "background_image_position": "cover",
                    "enable_backdrop_blur": false,
                    "backdrop_blur_amount": 20,
                    "border": "none",
                    "use_individual_borders": false,
                    "border_width": 1,
                    "border_width_top": 1,
                    "border_width_bottom": 1,
                    "border_width_left": 1,
                    "border_width_right": 1,
                    "border_width_top_mobile": 1,
                    "border_width_bottom_mobile": 1,
                    "border_width_left_mobile": 1,
                    "border_width_right_mobile": 1,
                    "border_opacity": 100,
                    "border_radius": 24,
                    "toggle_overlay": false,
                    "overlay_color": "#00000026",
                    "overlay_style": "solid",
                    "gradient_direction": "to top",
                    "padding-block-start": 0,
                    "padding-block-end": 0,
                    "padding-inline-start": 0,
                    "padding-inline-end": 0,
                    "use_mobile_padding": false,
                    "padding-block-start-mobile": 0,
                    "padding-block-end-mobile": 0,
                    "padding-inline-start-mobile": 0,
                    "padding-inline-end-mobile": 0
                  },
                  "blocks": {
                    "1_blog_post_image_3cVPXi": {
                      "type": "1-blog-post-image",
                      "settings": {
                        "image": "{{ closest.article.image }}",
                        "link": "",
                        "image_ratio": "landscape",
                        "width": "fill",
                        "custom_width": 100,
                        "width_mobile": "fill",
                        "custom_width_mobile": 100,
                        "height": "fit",
                        "border": "none",
                        "border_width": 1,
                        "border_opacity": 100,
                        "border_radius": 0,
                        "padding-block-start": 0,
                        "padding-block-end": 0,
                        "padding-inline-start": 0,
                        "padding-inline-end": 0
                      },
                      "blocks": {}
                    }
                  },
                  "block_order": [
                    "1_blog_post_image_3cVPXi"
                  ]
                },
                "1_group_QwCzMb": {
                  "type": "1-group",
                  "name": "Content",
                  "settings": {
                    "link": "",
                    "open_in_new_tab": false,
                    "visibility": "show_all",
                    "content_direction": "column",
                    "vertical_on_mobile": true,
                    "horizontal_on_mobile": false,
                    "reverse_order_on_mobile": false,
                    "horizontal_alignment": "flex-start",
                    "vertical_alignment": "center",
                    "align_baseline": false,
                    "horizontal_alignment_flex_direction_column": "flex-start",
                    "vertical_alignment_flex_direction_column": "center",
                    "use_mobile_layout": false,
                    "horizontal_alignment_mobile": "flex-start",
                    "vertical_alignment_mobile": "center",
                    "align_baseline_mobile": false,
                    "horizontal_alignment_flex_direction_column_mobile": "flex-start",
                    "vertical_alignment_flex_direction_column_mobile": "center",
                    "gap": 24,
                    "flex_wrap": "nowrap",
                    "flex_wrap_mobile": "inherit",
                    "width": "fill",
                    "custom_width": 100,
                    "width_mobile": "fill",
                    "custom_width_mobile": 100,
                    "height": "fit",
                    "custom_height": 100,
                    "position": "static",
                    "z_index": 0,
                    "enable_parallax": false,
                    "parallax_speed": "medium",
                    "parallax_direction": "vertical",
                    "parallax_on_mobile": false,
                    "position_top": 0,
                    "position_bottom": 0,
                    "position_left": 0,
                    "position_right": 0,
                    "enable_callout_pointer": false,
                    "pointer_side_desktop": "left",
                    "pointer_side_mobile": "bottomLeft",
                    "pointer_length": 100,
                    "pointer_length_mobile": 100,
                    "pointer_width_mobile": 100,
                    "pointer_style": "dashed",
                    "pointer_color": "#ffffff",
                    "pointer_opacity": 100,
                    "inherit_color_scheme": true,
                    "color_scheme": "",
                    "background_media": "none",
                    "video_position": "cover",
                    "background_image_position": "cover",
                    "enable_backdrop_blur": false,
                    "backdrop_blur_amount": 20,
                    "border": "none",
                    "use_individual_borders": false,
                    "border_width": 1,
                    "border_width_top": 1,
                    "border_width_bottom": 1,
                    "border_width_left": 1,
                    "border_width_right": 1,
                    "border_width_top_mobile": 1,
                    "border_width_bottom_mobile": 1,
                    "border_width_left_mobile": 1,
                    "border_width_right_mobile": 1,
                    "border_opacity": 100,
                    "border_radius": 0,
                    "toggle_overlay": false,
                    "overlay_color": "#00000026",
                    "overlay_style": "solid",
                    "gradient_direction": "to top",
                    "padding-block-start": 0,
                    "padding-block-end": 0,
                    "padding-inline-start": 0,
                    "padding-inline-end": 0,
                    "use_mobile_padding": false,
                    "padding-block-start-mobile": 0,
                    "padding-block-end-mobile": 0,
                    "padding-inline-start-mobile": 0,
                    "padding-inline-end-mobile": 0
                  },
                  "blocks": {
                    "1_group_TmW3Fr": {
                      "type": "1-group",
                      "name": "Post Info",
                      "settings": {
                        "link": "",
                        "open_in_new_tab": false,
                        "visibility": "show_all",
                        "content_direction": "column",
                        "vertical_on_mobile": true,
                        "horizontal_on_mobile": false,
                        "reverse_order_on_mobile": false,
                        "horizontal_alignment": "flex-start",
                        "vertical_alignment": "center",
                        "align_baseline": false,
                        "horizontal_alignment_flex_direction_column": "flex-start",
                        "vertical_alignment_flex_direction_column": "center",
                        "use_mobile_layout": false,
                        "horizontal_alignment_mobile": "flex-start",
                        "vertical_alignment_mobile": "center",
                        "align_baseline_mobile": false,
                        "horizontal_alignment_flex_direction_column_mobile": "flex-start",
                        "vertical_alignment_flex_direction_column_mobile": "center",
                        "gap": 12,
                        "flex_wrap": "nowrap",
                        "flex_wrap_mobile": "inherit",
                        "width": "fill",
                        "custom_width": 100,
                        "width_mobile": "fill",
                        "custom_width_mobile": 100,
                        "height": "fit",
                        "custom_height": 100,
                        "position": "static",
                        "z_index": 0,
                        "enable_parallax": false,
                        "parallax_speed": "medium",
                        "parallax_direction": "vertical",
                        "parallax_on_mobile": false,
                        "position_top": 0,
                        "position_bottom": 0,
                        "position_left": 0,
                        "position_right": 0,
                        "enable_callout_pointer": false,
                        "pointer_side_desktop": "left",
                        "pointer_side_mobile": "bottomLeft",
                        "pointer_length": 100,
                        "pointer_length_mobile": 100,
                        "pointer_width_mobile": 100,
                        "pointer_style": "dashed",
                        "pointer_color": "#ffffff",
                        "pointer_opacity": 100,
                        "inherit_color_scheme": true,
                        "color_scheme": "",
                        "background_media": "none",
                        "video_position": "cover",
                        "background_image_position": "cover",
                        "enable_backdrop_blur": false,
                        "backdrop_blur_amount": 20,
                        "border": "none",
                        "use_individual_borders": false,
                        "border_width": 1,
                        "border_width_top": 1,
                        "border_width_bottom": 1,
                        "border_width_left": 1,
                        "border_width_right": 1,
                        "border_width_top_mobile": 1,
                        "border_width_bottom_mobile": 1,
                        "border_width_left_mobile": 1,
                        "border_width_right_mobile": 1,
                        "border_opacity": 100,
                        "border_radius": 0,
                        "toggle_overlay": false,
                        "overlay_color": "#00000026",
                        "overlay_style": "solid",
                        "gradient_direction": "to top",
                        "padding-block-start": 0,
                        "padding-block-end": 0,
                        "padding-inline-start": 0,
                        "padding-inline-end": 0,
                        "use_mobile_padding": false,
                        "padding-block-start-mobile": 0,
                        "padding-block-end-mobile": 0,
                        "padding-inline-start-mobile": 0,
                        "padding-inline-end-mobile": 0
                      },
                      "blocks": {
                        "1_text_fUHigK": {
                          "type": "1-text",
                          "settings": {
                            "text": "<h3><strong>{{ closest.article.title }}</strong></h3>",
                            "width": "fit-content",
                            "max_width": "normal",
                            "alignment": "left",
                            "type_preset": "h3",
                            "font": "var(--font-heading--family)",
                            "font_size": "1.25rem",
                            "line_height": "normal",
                            "letter_spacing": "normal",
                            "case": "none",
                            "wrap": "pretty",
                            "color": "var(--color-foreground-heading)",
                            "background": false,
                            "background_color": "#00000026",
                            "corner_radius": 0,
                            "padding-block-start": 0,
                            "padding-block-end": 0,
                            "padding-inline-start": 0,
                            "padding-inline-end": 0
                          },
                          "blocks": {}
                        },
                        "1_text_fakexC": {
                          "type": "1-text",
                          "settings": {
                            "text": "{{ closest.article.excerpt }}",
                            "width": "fit-content",
                            "max_width": "none",
                            "alignment": "left",
                            "type_preset": "paragraph",
                            "font": "var(--font-body--family)",
                            "font_size": "0.875rem",
                            "line_height": "normal",
                            "letter_spacing": "normal",
                            "case": "none",
                            "wrap": "pretty",
                            "color": "var(--color-foreground-heading)",
                            "background": false,
                            "background_color": "#00000026",
                            "corner_radius": 0,
                            "padding-block-start": 0,
                            "padding-block-end": 0,
                            "padding-inline-start": 0,
                            "padding-inline-end": 0
                          },
                          "blocks": {}
                        }
                      },
                      "block_order": [
                        "1_text_fUHigK",
                        "1_text_fakexC"
                      ]
                    },
                    "1_group_KXrKQi": {
                      "type": "1-group",
                      "name": "t:names.1_group",
                      "settings": {
                        "link": "",
                        "open_in_new_tab": false,
                        "visibility": "show_all",
                        "content_direction": "row",
                        "vertical_on_mobile": false,
                        "horizontal_on_mobile": false,
                        "reverse_order_on_mobile": false,
                        "horizontal_alignment": "flex-start",
                        "vertical_alignment": "center",
                        "align_baseline": false,
                        "horizontal_alignment_flex_direction_column": "flex-start",
                        "vertical_alignment_flex_direction_column": "center",
                        "use_mobile_layout": false,
                        "horizontal_alignment_mobile": "flex-start",
                        "vertical_alignment_mobile": "center",
                        "align_baseline_mobile": false,
                        "horizontal_alignment_flex_direction_column_mobile": "flex-start",
                        "vertical_alignment_flex_direction_column_mobile": "center",
                        "gap": 16,
                        "flex_wrap": "nowrap",
                        "flex_wrap_mobile": "inherit",
                        "width": "fit-content",
                        "custom_width": 100,
                        "width_mobile": "fit-content",
                        "custom_width_mobile": 100,
                        "height": "fit",
                        "custom_height": 100,
                        "position": "static",
                        "z_index": 0,
                        "enable_parallax": false,
                        "parallax_speed": "medium",
                        "parallax_direction": "vertical",
                        "parallax_on_mobile": false,
                        "position_top": 0,
                        "position_bottom": 0,
                        "position_left": 0,
                        "position_right": 0,
                        "enable_callout_pointer": false,
                        "pointer_side_desktop": "left",
                        "pointer_side_mobile": "bottomLeft",
                        "pointer_length": 100,
                        "pointer_length_mobile": 100,
                        "pointer_width_mobile": 100,
                        "pointer_style": "dashed",
                        "pointer_color": "#ffffff",
                        "pointer_opacity": 100,
                        "inherit_color_scheme": true,
                        "color_scheme": "",
                        "background_media": "none",
                        "video_position": "cover",
                        "background_image_position": "cover",
                        "enable_backdrop_blur": false,
                        "backdrop_blur_amount": 20,
                        "border": "none",
                        "use_individual_borders": false,
                        "border_width": 1,
                        "border_width_top": 1,
                        "border_width_bottom": 1,
                        "border_width_left": 1,
                        "border_width_right": 1,
                        "border_width_top_mobile": 1,
                        "border_width_bottom_mobile": 1,
                        "border_width_left_mobile": 1,
                        "border_width_right_mobile": 1,
                        "border_opacity": 100,
                        "border_radius": 0,
                        "toggle_overlay": false,
                        "overlay_color": "#00000026",
                        "overlay_style": "solid",
                        "gradient_direction": "to top",
                        "padding-block-start": 0,
                        "padding-block-end": 0,
                        "padding-inline-start": 0,
                        "padding-inline-end": 0,
                        "use_mobile_padding": false,
                        "padding-block-start-mobile": 0,
                        "padding-block-end-mobile": 0,
                        "padding-inline-start-mobile": 0,
                        "padding-inline-end-mobile": 0
                      },
                      "blocks": {
                        "1_text_czq4LT": {
                          "type": "1-text",
                          "name": "t:names.1_text",
                          "settings": {
                            "text": "<p><strong>Read More</strong></p>",
                            "width": "fit-content",
                            "max_width": "normal",
                            "alignment": "left",
                            "type_preset": "paragraph",
                            "font": "var(--font-body--family)",
                            "font_size": "1rem",
                            "line_height": "normal",
                            "letter_spacing": "normal",
                            "case": "none",
                            "wrap": "pretty",
                            "color": "var(--color-foreground-heading)",
                            "background": false,
                            "background_color": "#00000026",
                            "corner_radius": 0,
                            "padding-block-start": 0,
                            "padding-block-end": 0,
                            "padding-inline-start": 0,
                            "padding-inline-end": 0
                          },
                          "blocks": {}
                        },
                        "icon_QBB7CV": {
                          "type": "icon",
                          "name": "t:names.icon",
                          "settings": {
                            "icon": "price_tag",
                            "image_upload": "shopify://shop_images/icon-arrow-right.svg",
                            "width": 20,
                            "link": "",
                            "open_in_new_tab": false
                          },
                          "blocks": {}
                        }
                      },
                      "block_order": [
                        "1_text_czq4LT",
                        "icon_QBB7CV"
                      ]
                    }
                  },
                  "block_order": [
                    "1_group_TmW3Fr",
                    "1_group_KXrKQi"
                  ]
                }
              },
              "block_order": [
                "1_group_7dyPUa",
                "1_group_QwCzMb"
              ]
            }
          },
          "block_order": [
            "1_group_rFYVck"
          ]
        },
        "static-next-blog-post-card": {
          "type": "1-blog-post-card",
          "static": true,
          "name": "t:names.1_next_blog_post_card",
          "settings": {
            "inherit_color_scheme": true,
            "color_scheme": "",
            "border": "none",
            "use_individual_borders": false,
            "border_width": 1,
            "border_width_top": 1,
            "border_width_bottom": 1,
            "border_width_left": 1,
            "border_width_right": 1,
            "border_width_top_mobile": 1,
            "border_width_bottom_mobile": 1,
            "border_width_left_mobile": 1,
            "border_width_right_mobile": 1,
            "border_opacity": 100,
            "border_radius": 0,
            "padding-block-start": 0,
            "padding-block-end": 0,
            "padding-inline-start": 0,
            "padding-inline-end": 0
          },
          "blocks": {
            "1_group_Xbe4pT": {
              "type": "1-group",
              "name": "Card",
              "settings": {
                "link": "{{ closest.article.url }}",
                "open_in_new_tab": false,
                "visibility": "show_all",
                "content_direction": "column",
                "vertical_on_mobile": true,
                "horizontal_on_mobile": false,
                "reverse_order_on_mobile": false,
                "horizontal_alignment": "flex-start",
                "vertical_alignment": "center",
                "align_baseline": false,
                "horizontal_alignment_flex_direction_column": "flex-start",
                "vertical_alignment_flex_direction_column": "flex-start",
                "use_mobile_layout": false,
                "horizontal_alignment_mobile": "flex-start",
                "vertical_alignment_mobile": "center",
                "align_baseline_mobile": false,
                "horizontal_alignment_flex_direction_column_mobile": "flex-start",
                "vertical_alignment_flex_direction_column_mobile": "center",
                "gap": 16,
                "flex_wrap": "nowrap",
                "flex_wrap_mobile": "inherit",
                "width": "fill",
                "custom_width": 100,
                "width_mobile": "fill",
                "custom_width_mobile": 100,
                "height": "fill",
                "custom_height": 100,
                "position": "static",
                "z_index": 0,
                "enable_parallax": false,
                "parallax_speed": "medium",
                "parallax_direction": "vertical",
                "parallax_on_mobile": false,
                "position_top": 0,
                "position_bottom": 0,
                "position_left": 0,
                "position_right": 0,
                "enable_callout_pointer": false,
                "pointer_side_desktop": "left",
                "pointer_side_mobile": "bottomLeft",
                "pointer_length": 100,
                "pointer_length_mobile": 100,
                "pointer_width_mobile": 100,
                "pointer_style": "dashed",
                "pointer_color": "#ffffff",
                "pointer_opacity": 100,
                "inherit_color_scheme": true,
                "color_scheme": "",
                "background_media": "none",
                "video_position": "cover",
                "background_image_position": "cover",
                "enable_backdrop_blur": false,
                "backdrop_blur_amount": 20,
                "border": "none",
                "use_individual_borders": false,
                "border_width": 2,
                "border_width_top": 2,
                "border_width_bottom": 2,
                "border_width_left": 2,
                "border_width_right": 2,
                "border_width_top_mobile": 1,
                "border_width_bottom_mobile": 1,
                "border_width_left_mobile": 1,
                "border_width_right_mobile": 1,
                "border_opacity": 100,
                "border_radius": 0,
                "toggle_overlay": false,
                "overlay_color": "#00000026",
                "overlay_style": "solid",
                "gradient_direction": "to top",
                "padding-block-start": 0,
                "padding-block-end": 0,
                "padding-inline-start": 0,
                "padding-inline-end": 0,
                "use_mobile_padding": false,
                "padding-block-start-mobile": 0,
                "padding-block-end-mobile": 0,
                "padding-inline-start-mobile": 0,
                "padding-inline-end-mobile": 0
              },
              "blocks": {
                "1_group_NEyf88": {
                  "type": "1-group",
                  "name": "t:names.1_group",
                  "settings": {
                    "link": "",
                    "open_in_new_tab": false,
                    "visibility": "show_all",
                    "content_direction": "column",
                    "vertical_on_mobile": true,
                    "horizontal_on_mobile": false,
                    "reverse_order_on_mobile": false,
                    "horizontal_alignment": "flex-start",
                    "vertical_alignment": "center",
                    "align_baseline": false,
                    "horizontal_alignment_flex_direction_column": "flex-start",
                    "vertical_alignment_flex_direction_column": "center",
                    "use_mobile_layout": false,
                    "horizontal_alignment_mobile": "flex-start",
                    "vertical_alignment_mobile": "center",
                    "align_baseline_mobile": false,
                    "horizontal_alignment_flex_direction_column_mobile": "flex-start",
                    "vertical_alignment_flex_direction_column_mobile": "center",
                    "gap": 12,
                    "flex_wrap": "nowrap",
                    "flex_wrap_mobile": "inherit",
                    "width": "fill",
                    "custom_width": 100,
                    "width_mobile": "fill",
                    "custom_width_mobile": 100,
                    "height": "fit",
                    "custom_height": 100,
                    "position": "static",
                    "z_index": 0,
                    "enable_parallax": false,
                    "parallax_speed": "medium",
                    "parallax_direction": "vertical",
                    "parallax_on_mobile": false,
                    "position_top": 0,
                    "position_bottom": 0,
                    "position_left": 0,
                    "position_right": 0,
                    "enable_callout_pointer": false,
                    "pointer_side_desktop": "left",
                    "pointer_side_mobile": "bottomLeft",
                    "pointer_length": 100,
                    "pointer_length_mobile": 100,
                    "pointer_width_mobile": 100,
                    "pointer_style": "dashed",
                    "pointer_color": "#ffffff",
                    "pointer_opacity": 100,
                    "inherit_color_scheme": false,
                    "color_scheme": "scheme-2",
                    "background_media": "none",
                    "video_position": "cover",
                    "background_image_position": "cover",
                    "enable_backdrop_blur": false,
                    "backdrop_blur_amount": 20,
                    "border": "none",
                    "use_individual_borders": false,
                    "border_width": 1,
                    "border_width_top": 1,
                    "border_width_bottom": 1,
                    "border_width_left": 1,
                    "border_width_right": 1,
                    "border_width_top_mobile": 1,
                    "border_width_bottom_mobile": 1,
                    "border_width_left_mobile": 1,
                    "border_width_right_mobile": 1,
                    "border_opacity": 100,
                    "border_radius": 24,
                    "toggle_overlay": false,
                    "overlay_color": "#00000026",
                    "overlay_style": "solid",
                    "gradient_direction": "to top",
                    "padding-block-start": 0,
                    "padding-block-end": 0,
                    "padding-inline-start": 0,
                    "padding-inline-end": 0,
                    "use_mobile_padding": false,
                    "padding-block-start-mobile": 0,
                    "padding-block-end-mobile": 0,
                    "padding-inline-start-mobile": 0,
                    "padding-inline-end-mobile": 0
                  },
                  "blocks": {
                    "1_blog_post_image_8RjrXh": {
                      "type": "1-blog-post-image",
                      "settings": {
                        "image": "{{ closest.article.image }}",
                        "link": "",
                        "image_ratio": "landscape",
                        "width": "fill",
                        "custom_width": 100,
                        "width_mobile": "fill",
                        "custom_width_mobile": 100,
                        "height": "fit",
                        "border": "none",
                        "border_width": 1,
                        "border_opacity": 100,
                        "border_radius": 0,
                        "padding-block-start": 0,
                        "padding-block-end": 0,
                        "padding-inline-start": 0,
                        "padding-inline-end": 0
                      },
                      "blocks": {}
                    }
                  },
                  "block_order": [
                    "1_blog_post_image_8RjrXh"
                  ]
                },
                "1_group_WGPR3q": {
                  "type": "1-group",
                  "name": "Content",
                  "settings": {
                    "link": "",
                    "open_in_new_tab": false,
                    "visibility": "show_all",
                    "content_direction": "column",
                    "vertical_on_mobile": true,
                    "horizontal_on_mobile": false,
                    "reverse_order_on_mobile": false,
                    "horizontal_alignment": "flex-start",
                    "vertical_alignment": "center",
                    "align_baseline": false,
                    "horizontal_alignment_flex_direction_column": "flex-start",
                    "vertical_alignment_flex_direction_column": "center",
                    "use_mobile_layout": false,
                    "horizontal_alignment_mobile": "flex-start",
                    "vertical_alignment_mobile": "center",
                    "align_baseline_mobile": false,
                    "horizontal_alignment_flex_direction_column_mobile": "flex-start",
                    "vertical_alignment_flex_direction_column_mobile": "center",
                    "gap": 24,
                    "flex_wrap": "nowrap",
                    "flex_wrap_mobile": "inherit",
                    "width": "fill",
                    "custom_width": 100,
                    "width_mobile": "fill",
                    "custom_width_mobile": 100,
                    "height": "fit",
                    "custom_height": 100,
                    "position": "static",
                    "z_index": 0,
                    "enable_parallax": false,
                    "parallax_speed": "medium",
                    "parallax_direction": "vertical",
                    "parallax_on_mobile": false,
                    "position_top": 0,
                    "position_bottom": 0,
                    "position_left": 0,
                    "position_right": 0,
                    "enable_callout_pointer": false,
                    "pointer_side_desktop": "left",
                    "pointer_side_mobile": "bottomLeft",
                    "pointer_length": 100,
                    "pointer_length_mobile": 100,
                    "pointer_width_mobile": 100,
                    "pointer_style": "dashed",
                    "pointer_color": "#ffffff",
                    "pointer_opacity": 100,
                    "inherit_color_scheme": true,
                    "color_scheme": "",
                    "background_media": "none",
                    "video_position": "cover",
                    "background_image_position": "cover",
                    "enable_backdrop_blur": false,
                    "backdrop_blur_amount": 20,
                    "border": "none",
                    "use_individual_borders": false,
                    "border_width": 1,
                    "border_width_top": 1,
                    "border_width_bottom": 1,
                    "border_width_left": 1,
                    "border_width_right": 1,
                    "border_width_top_mobile": 1,
                    "border_width_bottom_mobile": 1,
                    "border_width_left_mobile": 1,
                    "border_width_right_mobile": 1,
                    "border_opacity": 100,
                    "border_radius": 0,
                    "toggle_overlay": false,
                    "overlay_color": "#00000026",
                    "overlay_style": "solid",
                    "gradient_direction": "to top",
                    "padding-block-start": 0,
                    "padding-block-end": 0,
                    "padding-inline-start": 0,
                    "padding-inline-end": 0,
                    "use_mobile_padding": false,
                    "padding-block-start-mobile": 0,
                    "padding-block-end-mobile": 0,
                    "padding-inline-start-mobile": 0,
                    "padding-inline-end-mobile": 0
                  },
                  "blocks": {
                    "1_group_LYRqrb": {
                      "type": "1-group",
                      "name": "Post Info",
                      "settings": {
                        "link": "",
                        "open_in_new_tab": false,
                        "visibility": "show_all",
                        "content_direction": "column",
                        "vertical_on_mobile": true,
                        "horizontal_on_mobile": false,
                        "reverse_order_on_mobile": false,
                        "horizontal_alignment": "flex-start",
                        "vertical_alignment": "center",
                        "align_baseline": false,
                        "horizontal_alignment_flex_direction_column": "flex-start",
                        "vertical_alignment_flex_direction_column": "center",
                        "use_mobile_layout": false,
                        "horizontal_alignment_mobile": "flex-start",
                        "vertical_alignment_mobile": "center",
                        "align_baseline_mobile": false,
                        "horizontal_alignment_flex_direction_column_mobile": "flex-start",
                        "vertical_alignment_flex_direction_column_mobile": "center",
                        "gap": 12,
                        "flex_wrap": "nowrap",
                        "flex_wrap_mobile": "inherit",
                        "width": "fill",
                        "custom_width": 100,
                        "width_mobile": "fill",
                        "custom_width_mobile": 100,
                        "height": "fit",
                        "custom_height": 100,
                        "position": "static",
                        "z_index": 0,
                        "enable_parallax": false,
                        "parallax_speed": "medium",
                        "parallax_direction": "vertical",
                        "parallax_on_mobile": false,
                        "position_top": 0,
                        "position_bottom": 0,
                        "position_left": 0,
                        "position_right": 0,
                        "enable_callout_pointer": false,
                        "pointer_side_desktop": "left",
                        "pointer_side_mobile": "bottomLeft",
                        "pointer_length": 100,
                        "pointer_length_mobile": 100,
                        "pointer_width_mobile": 100,
                        "pointer_style": "dashed",
                        "pointer_color": "#ffffff",
                        "pointer_opacity": 100,
                        "inherit_color_scheme": true,
                        "color_scheme": "",
                        "background_media": "none",
                        "video_position": "cover",
                        "background_image_position": "cover",
                        "enable_backdrop_blur": false,
                        "backdrop_blur_amount": 20,
                        "border": "none",
                        "use_individual_borders": false,
                        "border_width": 1,
                        "border_width_top": 1,
                        "border_width_bottom": 1,
                        "border_width_left": 1,
                        "border_width_right": 1,
                        "border_width_top_mobile": 1,
                        "border_width_bottom_mobile": 1,
                        "border_width_left_mobile": 1,
                        "border_width_right_mobile": 1,
                        "border_opacity": 100,
                        "border_radius": 0,
                        "toggle_overlay": false,
                        "overlay_color": "#00000026",
                        "overlay_style": "solid",
                        "gradient_direction": "to top",
                        "padding-block-start": 0,
                        "padding-block-end": 0,
                        "padding-inline-start": 0,
                        "padding-inline-end": 0,
                        "use_mobile_padding": false,
                        "padding-block-start-mobile": 0,
                        "padding-block-end-mobile": 0,
                        "padding-inline-start-mobile": 0,
                        "padding-inline-end-mobile": 0
                      },
                      "blocks": {
                        "1_text_dzdWxh": {
                          "type": "1-text",
                          "settings": {
                            "text": "<h3><strong>{{ closest.article.title }}</strong></h3>",
                            "width": "fit-content",
                            "max_width": "normal",
                            "alignment": "left",
                            "type_preset": "h3",
                            "font": "var(--font-heading--family)",
                            "font_size": "1.25rem",
                            "line_height": "normal",
                            "letter_spacing": "normal",
                            "case": "none",
                            "wrap": "pretty",
                            "color": "var(--color-foreground-heading)",
                            "background": false,
                            "background_color": "#00000026",
                            "corner_radius": 0,
                            "padding-block-start": 0,
                            "padding-block-end": 0,
                            "padding-inline-start": 0,
                            "padding-inline-end": 0
                          },
                          "blocks": {}
                        },
                        "1_text_VtzePL": {
                          "type": "1-text",
                          "settings": {
                            "text": "{{ closest.article.excerpt }}",
                            "width": "fit-content",
                            "max_width": "none",
                            "alignment": "left",
                            "type_preset": "paragraph",
                            "font": "var(--font-body--family)",
                            "font_size": "0.875rem",
                            "line_height": "normal",
                            "letter_spacing": "normal",
                            "case": "none",
                            "wrap": "pretty",
                            "color": "var(--color-foreground-heading)",
                            "background": false,
                            "background_color": "#00000026",
                            "corner_radius": 0,
                            "padding-block-start": 0,
                            "padding-block-end": 0,
                            "padding-inline-start": 0,
                            "padding-inline-end": 0
                          },
                          "blocks": {}
                        }
                      },
                      "block_order": [
                        "1_text_dzdWxh",
                        "1_text_VtzePL"
                      ]
                    },
                    "1_group_4nUVpX": {
                      "type": "1-group",
                      "name": "t:names.1_group",
                      "settings": {
                        "link": "",
                        "open_in_new_tab": false,
                        "visibility": "show_all",
                        "content_direction": "row",
                        "vertical_on_mobile": false,
                        "horizontal_on_mobile": false,
                        "reverse_order_on_mobile": false,
                        "horizontal_alignment": "flex-start",
                        "vertical_alignment": "center",
                        "align_baseline": false,
                        "horizontal_alignment_flex_direction_column": "flex-start",
                        "vertical_alignment_flex_direction_column": "center",
                        "use_mobile_layout": false,
                        "horizontal_alignment_mobile": "flex-start",
                        "vertical_alignment_mobile": "center",
                        "align_baseline_mobile": false,
                        "horizontal_alignment_flex_direction_column_mobile": "flex-start",
                        "vertical_alignment_flex_direction_column_mobile": "center",
                        "gap": 16,
                        "flex_wrap": "nowrap",
                        "flex_wrap_mobile": "inherit",
                        "width": "fit-content",
                        "custom_width": 100,
                        "width_mobile": "fit-content",
                        "custom_width_mobile": 100,
                        "height": "fit",
                        "custom_height": 100,
                        "position": "static",
                        "z_index": 0,
                        "enable_parallax": false,
                        "parallax_speed": "medium",
                        "parallax_direction": "vertical",
                        "parallax_on_mobile": false,
                        "position_top": 0,
                        "position_bottom": 0,
                        "position_left": 0,
                        "position_right": 0,
                        "enable_callout_pointer": false,
                        "pointer_side_desktop": "left",
                        "pointer_side_mobile": "bottomLeft",
                        "pointer_length": 100,
                        "pointer_length_mobile": 100,
                        "pointer_width_mobile": 100,
                        "pointer_style": "dashed",
                        "pointer_color": "#ffffff",
                        "pointer_opacity": 100,
                        "inherit_color_scheme": true,
                        "color_scheme": "",
                        "background_media": "none",
                        "video_position": "cover",
                        "background_image_position": "cover",
                        "enable_backdrop_blur": false,
                        "backdrop_blur_amount": 20,
                        "border": "none",
                        "use_individual_borders": false,
                        "border_width": 1,
                        "border_width_top": 1,
                        "border_width_bottom": 1,
                        "border_width_left": 1,
                        "border_width_right": 1,
                        "border_width_top_mobile": 1,
                        "border_width_bottom_mobile": 1,
                        "border_width_left_mobile": 1,
                        "border_width_right_mobile": 1,
                        "border_opacity": 100,
                        "border_radius": 0,
                        "toggle_overlay": false,
                        "overlay_color": "#00000026",
                        "overlay_style": "solid",
                        "gradient_direction": "to top",
                        "padding-block-start": 0,
                        "padding-block-end": 0,
                        "padding-inline-start": 0,
                        "padding-inline-end": 0,
                        "use_mobile_padding": false,
                        "padding-block-start-mobile": 0,
                        "padding-block-end-mobile": 0,
                        "padding-inline-start-mobile": 0,
                        "padding-inline-end-mobile": 0
                      },
                      "blocks": {
                        "1_text_x9atMp": {
                          "type": "1-text",
                          "name": "t:names.1_text",
                          "settings": {
                            "text": "<p><strong>Read More</strong></p>",
                            "width": "fit-content",
                            "max_width": "normal",
                            "alignment": "left",
                            "type_preset": "paragraph",
                            "font": "var(--font-body--family)",
                            "font_size": "1rem",
                            "line_height": "normal",
                            "letter_spacing": "normal",
                            "case": "none",
                            "wrap": "pretty",
                            "color": "var(--color-foreground-heading)",
                            "background": false,
                            "background_color": "#00000026",
                            "corner_radius": 0,
                            "padding-block-start": 0,
                            "padding-block-end": 0,
                            "padding-inline-start": 0,
                            "padding-inline-end": 0
                          },
                          "blocks": {}
                        },
                        "icon_wactqE": {
                          "type": "icon",
                          "name": "t:names.icon",
                          "settings": {
                            "icon": "price_tag",
                            "image_upload": "shopify://shop_images/icon-arrow-right.svg",
                            "width": 20,
                            "link": "",
                            "open_in_new_tab": false
                          },
                          "blocks": {}
                        }
                      },
                      "block_order": [
                        "1_text_x9atMp",
                        "icon_wactqE"
                      ]
                    }
                  },
                  "block_order": [
                    "1_group_LYRqrb",
                    "1_group_4nUVpX"
                  ]
                }
              },
              "block_order": [
                "1_group_NEyf88",
                "1_group_WGPR3q"
              ]
            }
          },
          "block_order": [
            "1_group_Xbe4pT"
          ]
        },
        "static-blog-post-card": {
          "type": "1-blog-post-card",
          "static": true,
          "settings": {
            "inherit_color_scheme": true,
            "color_scheme": "",
            "border": "none",
            "use_individual_borders": false,
            "border_width": 1,
            "border_width_top": 1,
            "border_width_bottom": 1,
            "border_width_left": 1,
            "border_width_right": 1,
            "border_width_top_mobile": 1,
            "border_width_bottom_mobile": 1,
            "border_width_left_mobile": 1,
            "border_width_right_mobile": 1,
            "border_opacity": 100,
            "border_radius": 0,
            "padding-block-start": 0,
            "padding-block-end": 0,
            "padding-inline-start": 0,
            "padding-inline-end": 0
          },
          "blocks": {
            "1_group_KKkmp3": {
              "type": "1-group",
              "name": "Card",
              "settings": {
                "link": "{{ closest.article.url }}",
                "open_in_new_tab": false,
                "visibility": "show_all",
                "content_direction": "column",
                "vertical_on_mobile": true,
                "horizontal_on_mobile": false,
                "reverse_order_on_mobile": false,
                "horizontal_alignment": "flex-start",
                "vertical_alignment": "center",
                "align_baseline": false,
                "horizontal_alignment_flex_direction_column": "flex-start",
                "vertical_alignment_flex_direction_column": "flex-start",
                "use_mobile_layout": false,
                "horizontal_alignment_mobile": "flex-start",
                "vertical_alignment_mobile": "center",
                "align_baseline_mobile": false,
                "horizontal_alignment_flex_direction_column_mobile": "flex-start",
                "vertical_alignment_flex_direction_column_mobile": "center",
                "gap": 16,
                "flex_wrap": "nowrap",
                "flex_wrap_mobile": "inherit",
                "width": "fill",
                "custom_width": 100,
                "width_mobile": "fill",
                "custom_width_mobile": 100,
                "height": "fill",
                "custom_height": 100,
                "position": "static",
                "z_index": 0,
                "enable_parallax": false,
                "parallax_speed": "medium",
                "parallax_direction": "vertical",
                "parallax_on_mobile": false,
                "position_top": 0,
                "position_bottom": 0,
                "position_left": 0,
                "position_right": 0,
                "enable_callout_pointer": false,
                "pointer_side_desktop": "left",
                "pointer_side_mobile": "bottomLeft",
                "pointer_length": 100,
                "pointer_length_mobile": 100,
                "pointer_width_mobile": 100,
                "pointer_style": "dashed",
                "pointer_color": "#ffffff",
                "pointer_opacity": 100,
                "inherit_color_scheme": true,
                "color_scheme": "",
                "background_media": "none",
                "video_position": "cover",
                "background_image_position": "cover",
                "enable_backdrop_blur": false,
                "backdrop_blur_amount": 20,
                "border": "none",
                "use_individual_borders": false,
                "border_width": 2,
                "border_width_top": 2,
                "border_width_bottom": 2,
                "border_width_left": 2,
                "border_width_right": 2,
                "border_width_top_mobile": 1,
                "border_width_bottom_mobile": 1,
                "border_width_left_mobile": 1,
                "border_width_right_mobile": 1,
                "border_opacity": 100,
                "border_radius": 0,
                "toggle_overlay": false,
                "overlay_color": "#00000026",
                "overlay_style": "solid",
                "gradient_direction": "to top",
                "padding-block-start": 0,
                "padding-block-end": 0,
                "padding-inline-start": 0,
                "padding-inline-end": 0,
                "use_mobile_padding": false,
                "padding-block-start-mobile": 0,
                "padding-block-end-mobile": 0,
                "padding-inline-start-mobile": 0,
                "padding-inline-end-mobile": 0
              },
              "blocks": {
                "1_group_9biQyp": {
                  "type": "1-group",
                  "name": "t:names.1_group",
                  "settings": {
                    "link": "",
                    "open_in_new_tab": false,
                    "visibility": "show_all",
                    "content_direction": "column",
                    "vertical_on_mobile": true,
                    "horizontal_on_mobile": false,
                    "reverse_order_on_mobile": false,
                    "horizontal_alignment": "flex-start",
                    "vertical_alignment": "center",
                    "align_baseline": false,
                    "horizontal_alignment_flex_direction_column": "flex-start",
                    "vertical_alignment_flex_direction_column": "center",
                    "use_mobile_layout": false,
                    "horizontal_alignment_mobile": "flex-start",
                    "vertical_alignment_mobile": "center",
                    "align_baseline_mobile": false,
                    "horizontal_alignment_flex_direction_column_mobile": "flex-start",
                    "vertical_alignment_flex_direction_column_mobile": "center",
                    "gap": 12,
                    "flex_wrap": "nowrap",
                    "flex_wrap_mobile": "inherit",
                    "width": "fill",
                    "custom_width": 100,
                    "width_mobile": "fill",
                    "custom_width_mobile": 100,
                    "height": "fit",
                    "custom_height": 100,
                    "position": "static",
                    "z_index": 0,
                    "enable_parallax": false,
                    "parallax_speed": "medium",
                    "parallax_direction": "vertical",
                    "parallax_on_mobile": false,
                    "position_top": 0,
                    "position_bottom": 0,
                    "position_left": 0,
                    "position_right": 0,
                    "enable_callout_pointer": false,
                    "pointer_side_desktop": "left",
                    "pointer_side_mobile": "bottomLeft",
                    "pointer_length": 100,
                    "pointer_length_mobile": 100,
                    "pointer_width_mobile": 100,
                    "pointer_style": "dashed",
                    "pointer_color": "#ffffff",
                    "pointer_opacity": 100,
                    "inherit_color_scheme": false,
                    "color_scheme": "scheme-2",
                    "background_media": "none",
                    "video_position": "cover",
                    "background_image_position": "cover",
                    "enable_backdrop_blur": false,
                    "backdrop_blur_amount": 20,
                    "border": "none",
                    "use_individual_borders": false,
                    "border_width": 1,
                    "border_width_top": 1,
                    "border_width_bottom": 1,
                    "border_width_left": 1,
                    "border_width_right": 1,
                    "border_width_top_mobile": 1,
                    "border_width_bottom_mobile": 1,
                    "border_width_left_mobile": 1,
                    "border_width_right_mobile": 1,
                    "border_opacity": 100,
                    "border_radius": 24,
                    "toggle_overlay": false,
                    "overlay_color": "#00000026",
                    "overlay_style": "solid",
                    "gradient_direction": "to top",
                    "padding-block-start": 0,
                    "padding-block-end": 0,
                    "padding-inline-start": 0,
                    "padding-inline-end": 0,
                    "use_mobile_padding": false,
                    "padding-block-start-mobile": 0,
                    "padding-block-end-mobile": 0,
                    "padding-inline-start-mobile": 0,
                    "padding-inline-end-mobile": 0
                  },
                  "blocks": {
                    "1_blog_post_image_ayEmeH": {
                      "type": "1-blog-post-image",
                      "settings": {
                        "image": "{{ closest.article.image }}",
                        "link": "",
                        "image_ratio": "landscape",
                        "width": "fill",
                        "custom_width": 100,
                        "width_mobile": "fill",
                        "custom_width_mobile": 100,
                        "height": "fit",
                        "border": "none",
                        "border_width": 1,
                        "border_opacity": 100,
                        "border_radius": 0,
                        "padding-block-start": 0,
                        "padding-block-end": 0,
                        "padding-inline-start": 0,
                        "padding-inline-end": 0
                      },
                      "blocks": {}
                    }
                  },
                  "block_order": [
                    "1_blog_post_image_ayEmeH"
                  ]
                },
                "1_group_je3iYD": {
                  "type": "1-group",
                  "name": "Content",
                  "settings": {
                    "link": "",
                    "open_in_new_tab": false,
                    "visibility": "show_all",
                    "content_direction": "column",
                    "vertical_on_mobile": true,
                    "horizontal_on_mobile": false,
                    "reverse_order_on_mobile": false,
                    "horizontal_alignment": "flex-start",
                    "vertical_alignment": "center",
                    "align_baseline": false,
                    "horizontal_alignment_flex_direction_column": "flex-start",
                    "vertical_alignment_flex_direction_column": "center",
                    "use_mobile_layout": false,
                    "horizontal_alignment_mobile": "flex-start",
                    "vertical_alignment_mobile": "center",
                    "align_baseline_mobile": false,
                    "horizontal_alignment_flex_direction_column_mobile": "flex-start",
                    "vertical_alignment_flex_direction_column_mobile": "center",
                    "gap": 24,
                    "flex_wrap": "nowrap",
                    "flex_wrap_mobile": "inherit",
                    "width": "fill",
                    "custom_width": 100,
                    "width_mobile": "fill",
                    "custom_width_mobile": 100,
                    "height": "fit",
                    "custom_height": 100,
                    "position": "static",
                    "z_index": 0,
                    "enable_parallax": false,
                    "parallax_speed": "medium",
                    "parallax_direction": "vertical",
                    "parallax_on_mobile": false,
                    "position_top": 0,
                    "position_bottom": 0,
                    "position_left": 0,
                    "position_right": 0,
                    "enable_callout_pointer": false,
                    "pointer_side_desktop": "left",
                    "pointer_side_mobile": "bottomLeft",
                    "pointer_length": 100,
                    "pointer_length_mobile": 100,
                    "pointer_width_mobile": 100,
                    "pointer_style": "dashed",
                    "pointer_color": "#ffffff",
                    "pointer_opacity": 100,
                    "inherit_color_scheme": true,
                    "color_scheme": "",
                    "background_media": "none",
                    "video_position": "cover",
                    "background_image_position": "cover",
                    "enable_backdrop_blur": false,
                    "backdrop_blur_amount": 20,
                    "border": "none",
                    "use_individual_borders": false,
                    "border_width": 1,
                    "border_width_top": 1,
                    "border_width_bottom": 1,
                    "border_width_left": 1,
                    "border_width_right": 1,
                    "border_width_top_mobile": 1,
                    "border_width_bottom_mobile": 1,
                    "border_width_left_mobile": 1,
                    "border_width_right_mobile": 1,
                    "border_opacity": 100,
                    "border_radius": 0,
                    "toggle_overlay": false,
                    "overlay_color": "#00000026",
                    "overlay_style": "solid",
                    "gradient_direction": "to top",
                    "padding-block-start": 0,
                    "padding-block-end": 0,
                    "padding-inline-start": 0,
                    "padding-inline-end": 0,
                    "use_mobile_padding": false,
                    "padding-block-start-mobile": 0,
                    "padding-block-end-mobile": 0,
                    "padding-inline-start-mobile": 0,
                    "padding-inline-end-mobile": 0
                  },
                  "blocks": {
                    "1_group_ENhyB6": {
                      "type": "1-group",
                      "name": "Post Info",
                      "settings": {
                        "link": "",
                        "open_in_new_tab": false,
                        "visibility": "show_all",
                        "content_direction": "column",
                        "vertical_on_mobile": true,
                        "horizontal_on_mobile": false,
                        "reverse_order_on_mobile": false,
                        "horizontal_alignment": "flex-start",
                        "vertical_alignment": "center",
                        "align_baseline": false,
                        "horizontal_alignment_flex_direction_column": "flex-start",
                        "vertical_alignment_flex_direction_column": "center",
                        "use_mobile_layout": false,
                        "horizontal_alignment_mobile": "flex-start",
                        "vertical_alignment_mobile": "center",
                        "align_baseline_mobile": false,
                        "horizontal_alignment_flex_direction_column_mobile": "flex-start",
                        "vertical_alignment_flex_direction_column_mobile": "center",
                        "gap": 12,
                        "flex_wrap": "nowrap",
                        "flex_wrap_mobile": "inherit",
                        "width": "fill",
                        "custom_width": 100,
                        "width_mobile": "fill",
                        "custom_width_mobile": 100,
                        "height": "fit",
                        "custom_height": 100,
                        "position": "static",
                        "z_index": 0,
                        "enable_parallax": false,
                        "parallax_speed": "medium",
                        "parallax_direction": "vertical",
                        "parallax_on_mobile": false,
                        "position_top": 0,
                        "position_bottom": 0,
                        "position_left": 0,
                        "position_right": 0,
                        "enable_callout_pointer": false,
                        "pointer_side_desktop": "left",
                        "pointer_side_mobile": "bottomLeft",
                        "pointer_length": 100,
                        "pointer_length_mobile": 100,
                        "pointer_width_mobile": 100,
                        "pointer_style": "dashed",
                        "pointer_color": "#ffffff",
                        "pointer_opacity": 100,
                        "inherit_color_scheme": true,
                        "color_scheme": "",
                        "background_media": "none",
                        "video_position": "cover",
                        "background_image_position": "cover",
                        "enable_backdrop_blur": false,
                        "backdrop_blur_amount": 20,
                        "border": "none",
                        "use_individual_borders": false,
                        "border_width": 1,
                        "border_width_top": 1,
                        "border_width_bottom": 1,
                        "border_width_left": 1,
                        "border_width_right": 1,
                        "border_width_top_mobile": 1,
                        "border_width_bottom_mobile": 1,
                        "border_width_left_mobile": 1,
                        "border_width_right_mobile": 1,
                        "border_opacity": 100,
                        "border_radius": 0,
                        "toggle_overlay": false,
                        "overlay_color": "#00000026",
                        "overlay_style": "solid",
                        "gradient_direction": "to top",
                        "padding-block-start": 0,
                        "padding-block-end": 0,
                        "padding-inline-start": 0,
                        "padding-inline-end": 0,
                        "use_mobile_padding": false,
                        "padding-block-start-mobile": 0,
                        "padding-block-end-mobile": 0,
                        "padding-inline-start-mobile": 0,
                        "padding-inline-end-mobile": 0
                      },
                      "blocks": {
                        "1_text_C4g4JG": {
                          "type": "1-text",
                          "settings": {
                            "text": "<h3><strong>{{ closest.article.title }}</strong></h3>",
                            "width": "fit-content",
                            "max_width": "normal",
                            "alignment": "left",
                            "type_preset": "h3",
                            "font": "var(--font-heading--family)",
                            "font_size": "1.25rem",
                            "line_height": "normal",
                            "letter_spacing": "normal",
                            "case": "none",
                            "wrap": "pretty",
                            "color": "var(--color-foreground-heading)",
                            "background": false,
                            "background_color": "#00000026",
                            "corner_radius": 0,
                            "padding-block-start": 0,
                            "padding-block-end": 0,
                            "padding-inline-start": 0,
                            "padding-inline-end": 0
                          },
                          "blocks": {}
                        },
                        "1_text_Cd3n7x": {
                          "type": "1-text",
                          "settings": {
                            "text": "{{ closest.article.excerpt }}",
                            "width": "fit-content",
                            "max_width": "none",
                            "alignment": "left",
                            "type_preset": "paragraph",
                            "font": "var(--font-body--family)",
                            "font_size": "0.875rem",
                            "line_height": "normal",
                            "letter_spacing": "normal",
                            "case": "none",
                            "wrap": "pretty",
                            "color": "var(--color-foreground-heading)",
                            "background": false,
                            "background_color": "#00000026",
                            "corner_radius": 0,
                            "padding-block-start": 0,
                            "padding-block-end": 0,
                            "padding-inline-start": 0,
                            "padding-inline-end": 0
                          },
                          "blocks": {}
                        }
                      },
                      "block_order": [
                        "1_text_C4g4JG",
                        "1_text_Cd3n7x"
                      ]
                    },
                    "1_group_rXTYK3": {
                      "type": "1-group",
                      "name": "t:names.1_group",
                      "settings": {
                        "link": "",
                        "open_in_new_tab": false,
                        "visibility": "show_all",
                        "content_direction": "row",
                        "vertical_on_mobile": false,
                        "horizontal_on_mobile": false,
                        "reverse_order_on_mobile": false,
                        "horizontal_alignment": "flex-start",
                        "vertical_alignment": "center",
                        "align_baseline": false,
                        "horizontal_alignment_flex_direction_column": "flex-start",
                        "vertical_alignment_flex_direction_column": "center",
                        "use_mobile_layout": false,
                        "horizontal_alignment_mobile": "flex-start",
                        "vertical_alignment_mobile": "center",
                        "align_baseline_mobile": false,
                        "horizontal_alignment_flex_direction_column_mobile": "flex-start",
                        "vertical_alignment_flex_direction_column_mobile": "center",
                        "gap": 16,
                        "flex_wrap": "nowrap",
                        "flex_wrap_mobile": "inherit",
                        "width": "fit-content",
                        "custom_width": 100,
                        "width_mobile": "fit-content",
                        "custom_width_mobile": 100,
                        "height": "fit",
                        "custom_height": 100,
                        "position": "static",
                        "z_index": 0,
                        "enable_parallax": false,
                        "parallax_speed": "medium",
                        "parallax_direction": "vertical",
                        "parallax_on_mobile": false,
                        "position_top": 0,
                        "position_bottom": 0,
                        "position_left": 0,
                        "position_right": 0,
                        "enable_callout_pointer": false,
                        "pointer_side_desktop": "left",
                        "pointer_side_mobile": "bottomLeft",
                        "pointer_length": 100,
                        "pointer_length_mobile": 100,
                        "pointer_width_mobile": 100,
                        "pointer_style": "dashed",
                        "pointer_color": "#ffffff",
                        "pointer_opacity": 100,
                        "inherit_color_scheme": true,
                        "color_scheme": "",
                        "background_media": "none",
                        "video_position": "cover",
                        "background_image_position": "cover",
                        "enable_backdrop_blur": false,
                        "backdrop_blur_amount": 20,
                        "border": "none",
                        "use_individual_borders": false,
                        "border_width": 1,
                        "border_width_top": 1,
                        "border_width_bottom": 1,
                        "border_width_left": 1,
                        "border_width_right": 1,
                        "border_width_top_mobile": 1,
                        "border_width_bottom_mobile": 1,
                        "border_width_left_mobile": 1,
                        "border_width_right_mobile": 1,
                        "border_opacity": 100,
                        "border_radius": 0,
                        "toggle_overlay": false,
                        "overlay_color": "#00000026",
                        "overlay_style": "solid",
                        "gradient_direction": "to top",
                        "padding-block-start": 0,
                        "padding-block-end": 0,
                        "padding-inline-start": 0,
                        "padding-inline-end": 0,
                        "use_mobile_padding": false,
                        "padding-block-start-mobile": 0,
                        "padding-block-end-mobile": 0,
                        "padding-inline-start-mobile": 0,
                        "padding-inline-end-mobile": 0
                      },
                      "blocks": {
                        "1_text_U8XAYP": {
                          "type": "1-text",
                          "name": "t:names.1_text",
                          "settings": {
                            "text": "<p><strong>Read More</strong></p>",
                            "width": "fit-content",
                            "max_width": "normal",
                            "alignment": "left",
                            "type_preset": "paragraph",
                            "font": "var(--font-body--family)",
                            "font_size": "1rem",
                            "line_height": "normal",
                            "letter_spacing": "normal",
                            "case": "none",
                            "wrap": "pretty",
                            "color": "var(--color-foreground-heading)",
                            "background": false,
                            "background_color": "#00000026",
                            "corner_radius": 0,
                            "padding-block-start": 0,
                            "padding-block-end": 0,
                            "padding-inline-start": 0,
                            "padding-inline-end": 0
                          },
                          "blocks": {}
                        },
                        "icon_DCczdw": {
                          "type": "icon",
                          "name": "t:names.icon",
                          "settings": {
                            "icon": "price_tag",
                            "image_upload": "shopify://shop_images/icon-arrow-right.svg",
                            "width": 20,
                            "link": "",
                            "open_in_new_tab": false
                          },
                          "blocks": {}
                        }
                      },
                      "block_order": [
                        "1_text_U8XAYP",
                        "icon_DCczdw"
                      ]
                    }
                  },
                  "block_order": [
                    "1_group_ENhyB6",
                    "1_group_rXTYK3"
                  ]
                }
              },
              "block_order": [
                "1_group_9biQyp",
                "1_group_je3iYD"
              ]
            }
          },
          "block_order": [
            "1_group_KKkmp3"
          ]
        }
      },
      "block_order": []
    }
  ]
}
{% endschema %}