{% capture children %}
  {% content_for 'blocks', closest.article: closest.article %}
{% endcapture %}

{% render '1-blog-post-card', children: children, article: article %}

{% schema %}
{
  "name": "t:names.1_blog_post_card",
  "blocks": [
    {
      "type": "1-group"
    },
    {
      "type": "text"
    },
    {
      "type": "image"
    },
    {
      "type": "icon"
    },
    {
      "type": "button"
    },
    {
      "type": "1-blog-post-card-date"
    },
    {
      "type": "1-blog-post-image"
    },
    {
      "type": "@app"
    }
  ],
  "tag": null,
  "settings": [
    {
      "type": "checkbox",
      "id": "inherit_color_scheme",
      "label": "t:settings.inherit_color_scheme",
      "default": true
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:settings.color_scheme",
      "default": "scheme-1",
      "visible_if": "{{ block.settings.inherit_color_scheme == false }}"
    },
    {
      "type": "header",
      "content": "t:content.borders"
    },
    {
      "type": "select",
      "id": "border",
      "label": "t:settings.style",
      "options": [
        {
          "value": "none",
          "label": "t:options.none"
        },
        {
          "value": "solid",
          "label": "t:options.solid"
        }
      ],
      "default": "none"
    },
    {
      "type": "checkbox",
      "id": "use_individual_borders",
      "label": "Use individual border widths",
      "default": false,
      "visible_if": "{{ block.settings.border != 'none' }}"
    },
    {
      "type": "range",
      "id": "border_width",
      "min": 0,
      "max": 10,
      "step": 0.5,
      "unit": "px",
      "label": "t:settings.thickness",
      "default": 1,
      "visible_if": "{{ block.settings.border != 'none' and block.settings.use_individual_borders == false }}"
    },
    {
      "type": "range",
      "id": "border_width_top",
      "min": 0,
      "max": 10,
      "step": 0.5,
      "unit": "px",
      "label": "Top border width",
      "default": 1,
      "visible_if": "{{ block.settings.border != 'none' and block.settings.use_individual_borders == true }}"
    },
    {
      "type": "range",
      "id": "border_width_bottom",
      "min": 0,
      "max": 10,
      "step": 0.5,
      "unit": "px",
      "label": "Bottom border width",
      "default": 1,
      "visible_if": "{{ block.settings.border != 'none' and block.settings.use_individual_borders == true }}"
    },
    {
      "type": "range",
      "id": "border_width_left",
      "min": 0,
      "max": 10,
      "step": 0.5,
      "unit": "px",
      "label": "Left border width",
      "default": 1,
      "visible_if": "{{ block.settings.border != 'none' and block.settings.use_individual_borders == true }}"
    },
    {
      "type": "range",
      "id": "border_width_right",
      "min": 0,
      "max": 10,
      "step": 0.5,
      "unit": "px",
      "label": "Right border width",
      "default": 1,
      "visible_if": "{{ block.settings.border != 'none' and block.settings.use_individual_borders == true }}"
    },
    {
      "type": "header",
      "content": "Mobile border widths",
      "visible_if": "{{ block.settings.border != 'none' and block.settings.use_individual_borders == true }}"
    },
    {
      "type": "range",
      "id": "border_width_top_mobile",
      "min": 0,
      "max": 10,
      "step": 0.5,
      "unit": "px",
      "label": "Top border width (mobile)",
      "default": 1,
      "visible_if": "{{ block.settings.border != 'none' and block.settings.use_individual_borders == true }}"
    },
    {
      "type": "range",
      "id": "border_width_bottom_mobile",
      "min": 0,
      "max": 10,
      "step": 0.5,
      "unit": "px",
      "label": "Bottom border width (mobile)",
      "default": 1,
      "visible_if": "{{ block.settings.border != 'none' and block.settings.use_individual_borders == true }}"
    },
    {
      "type": "range",
      "id": "border_width_left_mobile",
      "min": 0,
      "max": 10,
      "step": 0.5,
      "unit": "px",
      "label": "Left border width (mobile)",
      "default": 1,
      "visible_if": "{{ block.settings.border != 'none' and block.settings.use_individual_borders == true }}"
    },
    {
      "type": "range",
      "id": "border_width_right_mobile",
      "min": 0,
      "max": 10,
      "step": 0.5,
      "unit": "px",
      "label": "Right border width (mobile)",
      "default": 1,
      "visible_if": "{{ block.settings.border != 'none' and block.settings.use_individual_borders == true }}"
    },
    {
      "type": "range",
      "id": "border_opacity",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "label": "t:settings.opacity",
      "default": 100,
      "visible_if": "{{ block.settings.border != 'none' }}"
    },
    {
      "type": "range",
      "id": "border_radius",
      "label": "t:settings.border_radius",
      "min": 0,
      "max": 32,
      "step": 1,
      "unit": "px",
      "default": 0
    },
    {
      "type": "header",
      "content": "t:content.padding"
    },
    {
      "type": "range",
      "id": "padding-block-start",
      "label": "t:settings.top",
      "min": 0,
      "max": 50,
      "step": 1,
      "unit": "px",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding-block-end",
      "label": "t:settings.bottom",
      "min": 0,
      "max": 50,
      "step": 1,
      "unit": "px",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding-inline-start",
      "label": "t:settings.left",
      "min": 0,
      "max": 50,
      "step": 1,
      "unit": "px",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding-inline-end",
      "label": "t:settings.right",
      "min": 0,
      "max": 50,
      "step": 1,
      "unit": "px",
      "default": 0
    }
  ],
  "presets": [
    {
      "name": "t:names.1_blog_post_card",
      "category": "t:categories.blog_post",
      "settings": {
        "inherit_color_scheme": true,
        "color_scheme": "",
        "border": "none",
        "use_individual_borders": false,
        "border_width": 1,
        "border_width_top": 1,
        "border_width_bottom": 1,
        "border_width_left": 1,
        "border_width_right": 1,
        "border_width_top_mobile": 1,
        "border_width_bottom_mobile": 1,
        "border_width_left_mobile": 1,
        "border_width_right_mobile": 1,
        "border_opacity": 100,
        "border_radius": 0,
        "padding-block-start": 0,
        "padding-block-end": 0,
        "padding-inline-start": 0,
        "padding-inline-end": 0
      },
      "blocks": {
        "product_card": {
          "type": "1-group",
          "name": "t:names.1_blog_post_card",
          "settings": {
            "link": "{{ closest.article.url }}",
            "open_in_new_tab": false,
            "visibility": "show_all",
            "content_direction": "column",
            "vertical_on_mobile": true,
            "horizontal_on_mobile": false,
            "reverse_order_on_mobile": false,
            "horizontal_alignment": "flex-start",
            "vertical_alignment": "center",
            "align_baseline": false,
            "horizontal_alignment_flex_direction_column": "flex-start",
            "vertical_alignment_flex_direction_column": "flex-start",
            "use_mobile_layout": false,
            "horizontal_alignment_mobile": "flex-start",
            "vertical_alignment_mobile": "center",
            "align_baseline_mobile": false,
            "horizontal_alignment_flex_direction_column_mobile": "flex-start",
            "vertical_alignment_flex_direction_column_mobile": "center",
            "gap": 16,
            "flex_wrap": "nowrap",
            "flex_wrap_mobile": "inherit",
            "width": "fill",
            "custom_width": 100,
            "width_mobile": "fill",
            "custom_width_mobile": 100,
            "height": "fill",
            "custom_height": 100,
            "position": "static",
            "z_index": 0,
            "enable_parallax": false,
            "parallax_speed": "medium",
            "parallax_direction": "vertical",
            "parallax_on_mobile": false,
            "position_top": 0,
            "position_bottom": 0,
            "position_left": 0,
            "position_right": 0,
            "enable_callout_pointer": false,
            "pointer_side_desktop": "left",
            "pointer_side_mobile": "bottomLeft",
            "pointer_length": 100,
            "pointer_length_mobile": 100,
            "pointer_width_mobile": 100,
            "pointer_style": "dashed",
            "pointer_color": "#ffffff",
            "pointer_opacity": 100,
            "inherit_color_scheme": true,
            "color_scheme": "",
            "background_media": "none",
            "video_position": "cover",
            "background_image_position": "cover",
            "enable_backdrop_blur": false,
            "backdrop_blur_amount": 20,
            "border": "none",
            "use_individual_borders": false,
            "border_width": 2,
            "border_width_top": 2,
            "border_width_bottom": 2,
            "border_width_left": 2,
            "border_width_right": 2,
            "border_width_top_mobile": 1,
            "border_width_bottom_mobile": 1,
            "border_width_left_mobile": 1,
            "border_width_right_mobile": 1,
            "border_opacity": 100,
            "border_radius": 0,
            "toggle_overlay": false,
            "overlay_color": "#00000026",
            "overlay_style": "solid",
            "gradient_direction": "to top",
            "padding-block-start": 0,
            "padding-block-end": 0,
            "padding-inline-start": 0,
            "padding-inline-end": 0,
            "use_mobile_padding": false,
            "padding-block-start-mobile": 0,
            "padding-block-end-mobile": 0,
            "padding-inline-start-mobile": 0,
            "padding-inline-end-mobile": 0
          },
          "blocks": {
            "post_image_wrapper": {
              "type": "1-group",
              "name": "t:names.1_blog_post_image",
              "settings": {
                "link": "",
                "open_in_new_tab": false,
                "visibility": "show_all",
                "content_direction": "column",
                "vertical_on_mobile": true,
                "horizontal_on_mobile": false,
                "reverse_order_on_mobile": false,
                "horizontal_alignment": "flex-start",
                "vertical_alignment": "center",
                "align_baseline": false,
                "horizontal_alignment_flex_direction_column": "flex-start",
                "vertical_alignment_flex_direction_column": "center",
                "use_mobile_layout": false,
                "horizontal_alignment_mobile": "flex-start",
                "vertical_alignment_mobile": "center",
                "align_baseline_mobile": false,
                "horizontal_alignment_flex_direction_column_mobile": "flex-start",
                "vertical_alignment_flex_direction_column_mobile": "center",
                "gap": 12,
                "flex_wrap": "nowrap",
                "flex_wrap_mobile": "inherit",
                "width": "fill",
                "custom_width": 100,
                "width_mobile": "fill",
                "custom_width_mobile": 100,
                "height": "fit",
                "custom_height": 100,
                "position": "static",
                "z_index": 0,
                "enable_parallax": false,
                "parallax_speed": "medium",
                "parallax_direction": "vertical",
                "parallax_on_mobile": false,
                "position_top": 0,
                "position_bottom": 0,
                "position_left": 0,
                "position_right": 0,
                "enable_callout_pointer": false,
                "pointer_side_desktop": "left",
                "pointer_side_mobile": "bottomLeft",
                "pointer_length": 100,
                "pointer_length_mobile": 100,
                "pointer_width_mobile": 100,
                "pointer_style": "dashed",
                "pointer_color": "#ffffff",
                "pointer_opacity": 100,
                "inherit_color_scheme": false,
                "color_scheme": "scheme-2",
                "background_media": "none",
                "video_position": "cover",
                "background_image_position": "cover",
                "enable_backdrop_blur": false,
                "backdrop_blur_amount": 20,
                "border": "none",
                "use_individual_borders": false,
                "border_width": 1,
                "border_width_top": 1,
                "border_width_bottom": 1,
                "border_width_left": 1,
                "border_width_right": 1,
                "border_width_top_mobile": 1,
                "border_width_bottom_mobile": 1,
                "border_width_left_mobile": 1,
                "border_width_right_mobile": 1,
                "border_opacity": 100,
                "border_radius": 24,
                "toggle_overlay": false,
                "overlay_color": "#00000026",
                "overlay_style": "solid",
                "gradient_direction": "to top",
                "padding-block-start": 0,
                "padding-block-end": 0,
                "padding-inline-start": 0,
                "padding-inline-end": 0,
                "use_mobile_padding": false,
                "padding-block-start-mobile": 0,
                "padding-block-end-mobile": 0,
                "padding-inline-start-mobile": 0,
                "padding-inline-end-mobile": 0
              },
              "blocks": {
                "post_image": {
                  "type": "1-blog-post-image",
                  "settings": {
                    "image": "{{ closest.article.image }}",
                    "link": "",
                    "image_ratio": "landscape",
                    "width": "fill",
                    "custom_width": 100,
                    "width_mobile": "fill",
                    "custom_width_mobile": 100,
                    "height": "fit",
                    "border": "none",
                    "border_width": 1,
                    "border_opacity": 100,
                    "border_radius": 0,
                    "padding-block-start": 0,
                    "padding-block-end": 0,
                    "padding-inline-start": 0,
                    "padding-inline-end": 0
                  },
                  "blocks": {}
                }
              },
              "block_order": [
                "post_image"
              ]
            },
            "post_content": {
              "type": "1-group",
              "name": "t:names.1_blog_post_content",
              "settings": {
                "link": "",
                "open_in_new_tab": false,
                "visibility": "show_all",
                "content_direction": "column",
                "vertical_on_mobile": true,
                "horizontal_on_mobile": false,
                "reverse_order_on_mobile": false,
                "horizontal_alignment": "flex-start",
                "vertical_alignment": "center",
                "align_baseline": false,
                "horizontal_alignment_flex_direction_column": "flex-start",
                "vertical_alignment_flex_direction_column": "center",
                "use_mobile_layout": false,
                "horizontal_alignment_mobile": "flex-start",
                "vertical_alignment_mobile": "center",
                "align_baseline_mobile": false,
                "horizontal_alignment_flex_direction_column_mobile": "flex-start",
                "vertical_alignment_flex_direction_column_mobile": "center",
                "gap": 24,
                "flex_wrap": "nowrap",
                "flex_wrap_mobile": "inherit",
                "width": "fill",
                "custom_width": 100,
                "width_mobile": "fill",
                "custom_width_mobile": 100,
                "height": "fit",
                "custom_height": 100,
                "position": "static",
                "z_index": 0,
                "enable_parallax": false,
                "parallax_speed": "medium",
                "parallax_direction": "vertical",
                "parallax_on_mobile": false,
                "position_top": 0,
                "position_bottom": 0,
                "position_left": 0,
                "position_right": 0,
                "enable_callout_pointer": false,
                "pointer_side_desktop": "left",
                "pointer_side_mobile": "bottomLeft",
                "pointer_length": 100,
                "pointer_length_mobile": 100,
                "pointer_width_mobile": 100,
                "pointer_style": "dashed",
                "pointer_color": "#ffffff",
                "pointer_opacity": 100,
                "inherit_color_scheme": true,
                "color_scheme": "",
                "background_media": "none",
                "video_position": "cover",
                "background_image_position": "cover",
                "enable_backdrop_blur": false,
                "backdrop_blur_amount": 20,
                "border": "none",
                "use_individual_borders": false,
                "border_width": 1,
                "border_width_top": 1,
                "border_width_bottom": 1,
                "border_width_left": 1,
                "border_width_right": 1,
                "border_width_top_mobile": 1,
                "border_width_bottom_mobile": 1,
                "border_width_left_mobile": 1,
                "border_width_right_mobile": 1,
                "border_opacity": 100,
                "border_radius": 0,
                "toggle_overlay": false,
                "overlay_color": "#00000026",
                "overlay_style": "solid",
                "gradient_direction": "to top",
                "padding-block-start": 0,
                "padding-block-end": 0,
                "padding-inline-start": 0,
                "padding-inline-end": 0,
                "use_mobile_padding": false,
                "padding-block-start-mobile": 0,
                "padding-block-end-mobile": 0,
                "padding-inline-start-mobile": 0,
                "padding-inline-end-mobile": 0
              },
              "blocks": {
                "post_main": {
                  "type": "1-group",
                  "name": "t:names.1_blog_post_main",
                  "settings": {
                    "link": "",
                    "open_in_new_tab": false,
                    "visibility": "show_all",
                    "content_direction": "column",
                    "vertical_on_mobile": true,
                    "horizontal_on_mobile": false,
                    "reverse_order_on_mobile": false,
                    "horizontal_alignment": "flex-start",
                    "vertical_alignment": "center",
                    "align_baseline": false,
                    "horizontal_alignment_flex_direction_column": "flex-start",
                    "vertical_alignment_flex_direction_column": "center",
                    "use_mobile_layout": false,
                    "horizontal_alignment_mobile": "flex-start",
                    "vertical_alignment_mobile": "center",
                    "align_baseline_mobile": false,
                    "horizontal_alignment_flex_direction_column_mobile": "flex-start",
                    "vertical_alignment_flex_direction_column_mobile": "center",
                    "gap": 12,
                    "flex_wrap": "nowrap",
                    "flex_wrap_mobile": "inherit",
                    "width": "fill",
                    "custom_width": 100,
                    "width_mobile": "fill",
                    "custom_width_mobile": 100,
                    "height": "fit",
                    "custom_height": 100,
                    "position": "static",
                    "z_index": 0,
                    "enable_parallax": false,
                    "parallax_speed": "medium",
                    "parallax_direction": "vertical",
                    "parallax_on_mobile": false,
                    "position_top": 0,
                    "position_bottom": 0,
                    "position_left": 0,
                    "position_right": 0,
                    "enable_callout_pointer": false,
                    "pointer_side_desktop": "left",
                    "pointer_side_mobile": "bottomLeft",
                    "pointer_length": 100,
                    "pointer_length_mobile": 100,
                    "pointer_width_mobile": 100,
                    "pointer_style": "dashed",
                    "pointer_color": "#ffffff",
                    "pointer_opacity": 100,
                    "inherit_color_scheme": true,
                    "color_scheme": "",
                    "background_media": "none",
                    "video_position": "cover",
                    "background_image_position": "cover",
                    "enable_backdrop_blur": false,
                    "backdrop_blur_amount": 20,
                    "border": "none",
                    "use_individual_borders": false,
                    "border_width": 1,
                    "border_width_top": 1,
                    "border_width_bottom": 1,
                    "border_width_left": 1,
                    "border_width_right": 1,
                    "border_width_top_mobile": 1,
                    "border_width_bottom_mobile": 1,
                    "border_width_left_mobile": 1,
                    "border_width_right_mobile": 1,
                    "border_opacity": 100,
                    "border_radius": 0,
                    "toggle_overlay": false,
                    "overlay_color": "#00000026",
                    "overlay_style": "solid",
                    "gradient_direction": "to top",
                    "padding-block-start": 0,
                    "padding-block-end": 0,
                    "padding-inline-start": 0,
                    "padding-inline-end": 0,
                    "use_mobile_padding": false,
                    "padding-block-start-mobile": 0,
                    "padding-block-end-mobile": 0,
                    "padding-inline-start-mobile": 0,
                    "padding-inline-end-mobile": 0
                  },
                  "blocks": {
                    "title": {
                      "type": "1-text",
                      "settings": {
                        "text": "<h3><strong>{{ closest.article.title }}</strong></h3>",
                        "width": "fit-content",
                        "max_width": "normal",
                        "alignment": "left",
                        "type_preset": "h3",
                        "font": "var(--font-heading--family)",
                        "font_size": "1.25rem",
                        "line_height": "normal",
                        "letter_spacing": "normal",
                        "case": "none",
                        "wrap": "pretty",
                        "color": "var(--color-foreground-heading)",
                        "background": false,
                        "background_color": "#00000026",
                        "corner_radius": 0,
                        "padding-block-start": 0,
                        "padding-block-end": 0,
                        "padding-inline-start": 0,
                        "padding-inline-end": 0
                      },
                      "blocks": {}
                    },
                    "exerpt": {
                      "type": "1-text",
                      "settings": {
                        "text": "{{ closest.article.excerpt }}",
                        "width": "fit-content",
                        "max_width": "none",
                        "alignment": "left",
                        "type_preset": "paragraph",
                        "font": "var(--font-body--family)",
                        "font_size": "0.875rem",
                        "line_height": "normal",
                        "letter_spacing": "normal",
                        "case": "none",
                        "wrap": "pretty",
                        "color": "var(--color-foreground-heading)",
                        "background": false,
                        "background_color": "#00000026",
                        "corner_radius": 0,
                        "padding-block-start": 0,
                        "padding-block-end": 0,
                        "padding-inline-start": 0,
                        "padding-inline-end": 0
                      },
                      "blocks": {}
                    }
                  },
                  "block_order": [
                    "title",
                    "exerpt"
                  ]
                },
                "post_button": {
                  "type": "1-group",
                  "name": "t:names.button",
                  "settings": {
                    "link": "",
                    "open_in_new_tab": false,
                    "visibility": "show_all",
                    "content_direction": "row",
                    "vertical_on_mobile": false,
                    "horizontal_on_mobile": false,
                    "reverse_order_on_mobile": false,
                    "horizontal_alignment": "flex-start",
                    "vertical_alignment": "center",
                    "align_baseline": false,
                    "horizontal_alignment_flex_direction_column": "flex-start",
                    "vertical_alignment_flex_direction_column": "center",
                    "use_mobile_layout": false,
                    "horizontal_alignment_mobile": "flex-start",
                    "vertical_alignment_mobile": "center",
                    "align_baseline_mobile": false,
                    "horizontal_alignment_flex_direction_column_mobile": "flex-start",
                    "vertical_alignment_flex_direction_column_mobile": "center",
                    "gap": 16,
                    "flex_wrap": "nowrap",
                    "flex_wrap_mobile": "inherit",
                    "width": "fit-content",
                    "custom_width": 100,
                    "width_mobile": "fit-content",
                    "custom_width_mobile": 100,
                    "height": "fit",
                    "custom_height": 100,
                    "position": "static",
                    "z_index": 0,
                    "enable_parallax": false,
                    "parallax_speed": "medium",
                    "parallax_direction": "vertical",
                    "parallax_on_mobile": false,
                    "position_top": 0,
                    "position_bottom": 0,
                    "position_left": 0,
                    "position_right": 0,
                    "enable_callout_pointer": false,
                    "pointer_side_desktop": "left",
                    "pointer_side_mobile": "bottomLeft",
                    "pointer_length": 100,
                    "pointer_length_mobile": 100,
                    "pointer_width_mobile": 100,
                    "pointer_style": "dashed",
                    "pointer_color": "#ffffff",
                    "pointer_opacity": 100,
                    "inherit_color_scheme": true,
                    "color_scheme": "",
                    "background_media": "none",
                    "video_position": "cover",
                    "background_image_position": "cover",
                    "enable_backdrop_blur": false,
                    "backdrop_blur_amount": 20,
                    "border": "none",
                    "use_individual_borders": false,
                    "border_width": 1,
                    "border_width_top": 1,
                    "border_width_bottom": 1,
                    "border_width_left": 1,
                    "border_width_right": 1,
                    "border_width_top_mobile": 1,
                    "border_width_bottom_mobile": 1,
                    "border_width_left_mobile": 1,
                    "border_width_right_mobile": 1,
                    "border_opacity": 100,
                    "border_radius": 0,
                    "toggle_overlay": false,
                    "overlay_color": "#00000026",
                    "overlay_style": "solid",
                    "gradient_direction": "to top",
                    "padding-block-start": 0,
                    "padding-block-end": 0,
                    "padding-inline-start": 0,
                    "padding-inline-end": 0,
                    "use_mobile_padding": false,
                    "padding-block-start-mobile": 0,
                    "padding-block-end-mobile": 0,
                    "padding-inline-start-mobile": 0,
                    "padding-inline-end-mobile": 0
                  },
                  "blocks": {
                    "button_text": {
                      "type": "1-text",
                      "name": "t:names.1_text",
                      "settings": {
                        "text": "<p><strong>Read More</strong></p>",
                        "width": "fit-content",
                        "max_width": "normal",
                        "alignment": "left",
                        "type_preset": "paragraph",
                        "font": "var(--font-body--family)",
                        "font_size": "1rem",
                        "line_height": "normal",
                        "letter_spacing": "normal",
                        "case": "none",
                        "wrap": "pretty",
                        "color": "var(--color-foreground-heading)",
                        "background": false,
                        "background_color": "#00000026",
                        "corner_radius": 0,
                        "padding-block-start": 0,
                        "padding-block-end": 0,
                        "padding-inline-start": 0,
                        "padding-inline-end": 0
                      },
                      "blocks": {}
                    },
                    "button_icon": {
                      "type": "icon",
                      "name": "t:names.icon",
                      "settings": {
                        "icon": "price_tag",
                        "image_upload": "shopify://shop_images/icon-arrow-right.svg",
                        "width": 20,
                        "link": "",
                        "open_in_new_tab": false
                      },
                      "blocks": {}
                    }
                  },
                  "block_order": [
                    "button_text",
                    "button_icon"
                  ]
                }
              },
              "block_order": [
                "post_main",
                "post_button"
              ]
            }
          },
          "block_order": [
            "post_image_wrapper",
            "post_content"
          ]
        }
      },
      "block_order": [
        "product_card"
      ]
    }
  ]
}
{% endschema %}