

{% liquid
  assign product = block.settings.product
-%}

{% capture children %}
  {% content_for 'blocks', closest.product: product %}
{% endcapture %}

{% render '1-product-card', children: children, product: product %}

{% stylesheet %}
  product-card .buy-buttons-block .sealsubs-target-element {
    display: none;
  }
{% endstylesheet %}
{% schema %}
{
  "name": "t:names.1_product_card",
  "blocks": [
    {
      "type": "_product-card-group"
    },
    {
      "type": "_1-product-card-group"
    },
    {
      "type": "text"
    },
    {
      "type": "image"
    },
    {
      "type": "price"
    },
    {
      "type": "review"
    },
    {
      "type": "swatches"
    },
    {
      "type": "_1-product-card-gallery"
    },
    {
      "type": "1-okendo-star-rating-summary"
    },
    {
      "type": "product-title"
    },
    {
      "type": "button"
    },
    {
      "type": "@app"
    }
  ],
  "tag": null,
  "settings": [
    {
      "type": "product",
      "id": "product",
      "label": "t:settings.product"
    },
    {
      "type": "range",
      "id": "product_card_gap",
      "label": "t:settings.vertical_gap",
      "min": 0,
      "max": 50,
      "step": 1,
      "unit": "px",
      "default": 16
    },
    {
      "type": "checkbox",
      "id": "inherit_color_scheme",
      "label": "t:settings.inherit_color_scheme",
      "default": true
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:settings.color_scheme",
      "default": "scheme-1",
      "visible_if": "{{ block.settings.inherit_color_scheme == false }}"
    },
    {
      "type": "header",
      "content": "t:content.borders"
    },
    {
      "type": "select",
      "id": "border",
      "label": "t:settings.style",
      "options": [
        {
          "value": "none",
          "label": "t:options.none"
        },
        {
          "value": "solid",
          "label": "t:options.solid"
        }
      ],
      "default": "none"
    },
    {
      "type": "range",
      "id": "border_width",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:settings.thickness",
      "default": 1,
      "visible_if": "{{ block.settings.border != 'none' }}"
    },
    {
      "type": "range",
      "id": "border_opacity",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "label": "t:settings.opacity",
      "default": 100,
      "visible_if": "{{ block.settings.border != 'none' }}"
    },
    {
      "type": "range",
      "id": "border_radius",
      "label": "t:settings.border_radius",
      "min": 0,
      "max": 32,
      "step": 1,
      "default": 0
    },
    {
      "type": "header",
      "content": "t:content.padding"
    },
    {
      "type": "range",
      "id": "padding-block-start",
      "label": "t:settings.top",
      "min": 0,
      "max": 50,
      "step": 1,
      "unit": "px",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding-block-end",
      "label": "t:settings.bottom",
      "min": 0,
      "max": 50,
      "step": 1,
      "unit": "px",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding-inline-start",
      "label": "t:settings.left",
      "min": 0,
      "max": 50,
      "step": 1,
      "unit": "px",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding-inline-end",
      "label": "t:settings.right",
      "min": 0,
      "max": 50,
      "step": 1,
      "unit": "px",
      "default": 0
    }
  ],
  "presets": [
    {
      "name": "t:names.1_product_card",
      "category": "t:categories.product",
      "settings": {
        "product_card_gap": 16,
        "inherit_color_scheme": false,
        "color_scheme": "scheme-1",
        "border": "none",
        "border_width": 2,
        "border_opacity": 100,
        "border_radius": 0,
        "padding-block-start": 0,
        "padding-block-end": 0,
        "padding-inline-start": 0,
        "padding-inline-end": 0
      },
      "blocks": {
        "1_product_card_group_VyPaYF": {
          "type": "_1-product-card-group",
          "name": "t:names.1_group",
          "settings": {
            "link": "",
            "open_in_new_tab": false,
            "content_direction": "column",
            "vertical_on_mobile": true,
            "horizontal_on_mobile": false,
            "reverse_order_on_mobile": false,
            "horizontal_alignment": "flex-start",
            "vertical_alignment": "center",
            "align_baseline": false,
            "horizontal_alignment_flex_direction_column": "flex-start",
            "vertical_alignment_flex_direction_column": "flex-start",
            "use_mobile_layout": false,
            "horizontal_alignment_mobile": "flex-start",
            "vertical_alignment_mobile": "center",
            "align_baseline_mobile": false,
            "horizontal_alignment_flex_direction_column_mobile": "flex-start",
            "vertical_alignment_flex_direction_column_mobile": "center",
            "gap": 6,
            "flex_wrap": "nowrap",
            "flex_wrap_mobile": "inherit",
            "width": "fill",
            "custom_width": 100,
            "width_mobile": "fill",
            "custom_width_mobile": 100,
            "height": "fit",
            "custom_height": 100,
            "position": "static",
            "z_index": 0,
            "enable_parallax": false,
            "parallax_speed": "medium",
            "parallax_direction": "vertical",
            "parallax_on_mobile": false,
            "position_top": 0,
            "position_bottom": 0,
            "position_left": 0,
            "position_right": 0,
            "inherit_color_scheme": false,
            "color_scheme": "scheme-2",
            "background_media": "none",
            "video_position": "cover",
            "background_image_position": "cover",
            "border": "none",
            "use_individual_borders": false,
            "border_width": 1,
            "border_width_top": 1,
            "border_width_bottom": 1,
            "border_width_left": 1,
            "border_width_right": 1,
            "border_width_top_mobile": 1,
            "border_width_bottom_mobile": 1,
            "border_width_left_mobile": 1,
            "border_width_right_mobile": 1,
            "border_opacity": 100,
            "border_radius": 20,
            "toggle_overlay": false,
            "overlay_color": "#00000026",
            "overlay_style": "solid",
            "gradient_direction": "to top",
            "padding-block-start": 20,
            "padding-block-end": 20,
            "padding-inline-start": 20,
            "padding-inline-end": 20,
            "use_mobile_padding": false,
            "padding-block-start-mobile": 0,
            "padding-block-end-mobile": 0,
            "padding-inline-start-mobile": 0,
            "padding-inline-end-mobile": 0
          },
          "blocks": {
            "1_product_card_group_aFr9Bh": {
              "type": "_1-product-card-group",
              "name": "Label & Rating",
              "settings": {
                "link": "",
                "open_in_new_tab": false,
                "content_direction": "row",
                "vertical_on_mobile": false,
                "horizontal_on_mobile": false,
                "reverse_order_on_mobile": false,
                "horizontal_alignment": "space-between",
                "vertical_alignment": "center",
                "align_baseline": false,
                "horizontal_alignment_flex_direction_column": "flex-start",
                "vertical_alignment_flex_direction_column": "center",
                "use_mobile_layout": false,
                "horizontal_alignment_mobile": "flex-start",
                "vertical_alignment_mobile": "center",
                "align_baseline_mobile": false,
                "horizontal_alignment_flex_direction_column_mobile": "flex-start",
                "vertical_alignment_flex_direction_column_mobile": "center",
                "gap": 12,
                "flex_wrap": "nowrap",
                "flex_wrap_mobile": "inherit",
                "width": "fill",
                "custom_width": 100,
                "width_mobile": "fill",
                "custom_width_mobile": 100,
                "height": "fit",
                "custom_height": 100,
                "position": "static",
                "z_index": 0,
                "enable_parallax": false,
                "parallax_speed": "medium",
                "parallax_direction": "vertical",
                "parallax_on_mobile": false,
                "position_top": 0,
                "position_bottom": 0,
                "position_left": 0,
                "position_right": 0,
                "inherit_color_scheme": true,
                "color_scheme": "scheme-6",
                "background_media": "none",
                "video_position": "cover",
                "background_image_position": "cover",
                "border": "none",
                "use_individual_borders": false,
                "border_width": 1,
                "border_width_top": 1,
                "border_width_bottom": 1,
                "border_width_left": 1,
                "border_width_right": 1,
                "border_width_top_mobile": 1,
                "border_width_bottom_mobile": 1,
                "border_width_left_mobile": 1,
                "border_width_right_mobile": 1,
                "border_opacity": 100,
                "border_radius": 0,
                "toggle_overlay": false,
                "overlay_color": "#00000026",
                "overlay_style": "solid",
                "gradient_direction": "to top",
                "padding-block-start": 0,
                "padding-block-end": 0,
                "padding-inline-start": 0,
                "padding-inline-end": 0,
                "use_mobile_padding": false,
                "padding-block-start-mobile": 0,
                "padding-block-end-mobile": 0,
                "padding-inline-start-mobile": 0,
                "padding-inline-end-mobile": 0
              },
              "blocks": {
                "1_product_card_group_fWnEAp": {
                  "type": "_1-product-card-group",
                  "name": "Label",
                  "settings": {
                    "link": "",
                    "open_in_new_tab": false,
                    "content_direction": "column",
                    "vertical_on_mobile": true,
                    "horizontal_on_mobile": false,
                    "reverse_order_on_mobile": false,
                    "horizontal_alignment": "flex-start",
                    "vertical_alignment": "center",
                    "align_baseline": false,
                    "horizontal_alignment_flex_direction_column": "center",
                    "vertical_alignment_flex_direction_column": "center",
                    "use_mobile_layout": false,
                    "horizontal_alignment_mobile": "flex-start",
                    "vertical_alignment_mobile": "center",
                    "align_baseline_mobile": false,
                    "horizontal_alignment_flex_direction_column_mobile": "flex-start",
                    "vertical_alignment_flex_direction_column_mobile": "center",
                    "gap": 0,
                    "flex_wrap": "nowrap",
                    "flex_wrap_mobile": "inherit",
                    "width": "fit-content",
                    "custom_width": 100,
                    "width_mobile": "fit-content",
                    "custom_width_mobile": 100,
                    "height": "fit",
                    "custom_height": 100,
                    "position": "static",
                    "z_index": 0,
                    "enable_parallax": false,
                    "parallax_speed": "medium",
                    "parallax_direction": "vertical",
                    "parallax_on_mobile": false,
                    "position_top": 0,
                    "position_bottom": 0,
                    "position_left": 0,
                    "position_right": 0,
                    "inherit_color_scheme": false,
                    "color_scheme": "scheme-6",
                    "background_media": "none",
                    "video_position": "cover",
                    "background_image_position": "cover",
                    "border": "none",
                    "use_individual_borders": false,
                    "border_width": 1,
                    "border_width_top": 1,
                    "border_width_bottom": 1,
                    "border_width_left": 1,
                    "border_width_right": 1,
                    "border_width_top_mobile": 1,
                    "border_width_bottom_mobile": 1,
                    "border_width_left_mobile": 1,
                    "border_width_right_mobile": 1,
                    "border_opacity": 100,
                    "border_radius": 100,
                    "toggle_overlay": false,
                    "overlay_color": "#00000026",
                    "overlay_style": "solid",
                    "gradient_direction": "to top",
                    "padding-block-start": 0,
                    "padding-block-end": 0,
                    "padding-inline-start": 0,
                    "padding-inline-end": 0,
                    "use_mobile_padding": false,
                    "padding-block-start-mobile": 0,
                    "padding-block-end-mobile": 0,
                    "padding-inline-start-mobile": 0,
                    "padding-inline-end-mobile": 0
                  },
                  "blocks": {
                    "text_y8eLYj": {
                      "type": "text",
                      "name": "t:names.text",
                      "settings": {
                        "text": "<p>{{ closest.product.metafields.product_details.primary_health_interest.value.short_label.value }}</p>",
                        "width": "fit-content",
                        "max_width": "normal",
                        "alignment": "left",
                        "type_preset": "custom",
                        "font": "var(--font-body--family)",
                        "font_size": "0.875rem",
                        "line_height": "tight",
                        "letter_spacing": "loose",
                        "case": "uppercase",
                        "wrap": "pretty",
                        "color": "var(--color-foreground-heading)",
                        "background": true,
                        "background_color": "{{ closest.product.metafields.product_details.primary_health_interest.value.color.value }}",
                        "corner_radius": 0,
                        "padding-block-start": 6,
                        "padding-block-end": 0,
                        "padding-inline-start": 12,
                        "padding-inline-end": 12
                      },
                      "blocks": {}
                    }
                  },
                  "block_order": [
                    "text_y8eLYj"
                  ]
                },
                "1_product_card_group_BiQwf4": {
                  "type": "_1-product-card-group",
                  "name": "Rating",
                  "settings": {
                    "link": "",
                    "open_in_new_tab": false,
                    "content_direction": "row",
                    "vertical_on_mobile": false,
                    "horizontal_on_mobile": false,
                    "reverse_order_on_mobile": false,
                    "horizontal_alignment": "flex-end",
                    "vertical_alignment": "center",
                    "align_baseline": false,
                    "horizontal_alignment_flex_direction_column": "flex-end",
                    "vertical_alignment_flex_direction_column": "center",
                    "use_mobile_layout": false,
                    "horizontal_alignment_mobile": "flex-start",
                    "vertical_alignment_mobile": "center",
                    "align_baseline_mobile": false,
                    "horizontal_alignment_flex_direction_column_mobile": "flex-start",
                    "vertical_alignment_flex_direction_column_mobile": "center",
                    "gap": 4,
                    "flex_wrap": "nowrap",
                    "flex_wrap_mobile": "inherit",
                    "width": "fill",
                    "custom_width": 100,
                    "width_mobile": "fill",
                    "custom_width_mobile": 100,
                    "height": "fit",
                    "custom_height": 100,
                    "position": "static",
                    "z_index": 0,
                    "enable_parallax": false,
                    "parallax_speed": "medium",
                    "parallax_direction": "vertical",
                    "parallax_on_mobile": false,
                    "position_top": 0,
                    "position_bottom": 0,
                    "position_left": 0,
                    "position_right": 0,
                    "inherit_color_scheme": true,
                    "color_scheme": "scheme-58084d4c-a86e-4d0a-855e-a0966e5043f7",
                    "background_media": "none",
                    "video_position": "cover",
                    "background_image_position": "cover",
                    "border": "none",
                    "use_individual_borders": false,
                    "border_width": 1,
                    "border_width_top": 1,
                    "border_width_bottom": 1,
                    "border_width_left": 1,
                    "border_width_right": 1,
                    "border_width_top_mobile": 1,
                    "border_width_bottom_mobile": 1,
                    "border_width_left_mobile": 1,
                    "border_width_right_mobile": 1,
                    "border_opacity": 100,
                    "border_radius": 0,
                    "toggle_overlay": false,
                    "overlay_color": "#00000026",
                    "overlay_style": "solid",
                    "gradient_direction": "to top",
                    "padding-block-start": 0,
                    "padding-block-end": 0,
                    "padding-inline-start": 0,
                    "padding-inline-end": 0,
                    "use_mobile_padding": false,
                    "padding-block-start-mobile": 0,
                    "padding-block-end-mobile": 0,
                    "padding-inline-start-mobile": 0,
                    "padding-inline-end-mobile": 0
                  },
                  "blocks": {
                    "1_okendo_star_rating_summary_PdpzKi": {
                      "type": "1-okendo-star-rating-summary",
                      "name": "t:names.1_okendo_star_rating_summary",
                      "settings": {
                        "icon": "apple",
                        "image_upload": "shopify://shop_images/material-symbols_star-rounded.svg",
                        "width": 24
                      },
                      "blocks": {}
                    }
                  },
                  "block_order": [
                    "1_okendo_star_rating_summary_PdpzKi"
                  ]
                }
              },
              "block_order": [
                "1_product_card_group_fWnEAp",
                "1_product_card_group_BiQwf4"
              ]
            },
            "1_product_card_gallery_mP7Lt6": {
              "type": "_1-product-card-gallery",
              "name": "t:names.1_product_card_media",
              "settings": {
                "image_ratio": "portrait",
                "border": "none",
                "border_width": 1,
                "border_opacity": 100,
                "border_radius": 0,
                "padding-block-start": 0,
                "padding-block-end": 0,
                "padding-inline-start": 0,
                "padding-inline-end": 0
              },
              "blocks": {
                "1_product_card_gallery_hover_nqzdtH": {
                  "type": "_1-product-card-gallery-hover",
                  "name": "t:names.1_product_card_gallery_hover",
                  "settings": {
                    "metafield_key_name": "product_details.teaser_title",
                    "link": "",
                    "open_in_new_tab": false,
                    "content_direction": "column",
                    "vertical_on_mobile": true,
                    "horizontal_on_mobile": false,
                    "reverse_order_on_mobile": false,
                    "horizontal_alignment": "flex-start",
                    "vertical_alignment": "center",
                    "align_baseline": false,
                    "horizontal_alignment_flex_direction_column": "flex-start",
                    "vertical_alignment_flex_direction_column": "center",
                    "use_mobile_layout": false,
                    "horizontal_alignment_mobile": "flex-start",
                    "vertical_alignment_mobile": "center",
                    "align_baseline_mobile": false,
                    "horizontal_alignment_flex_direction_column_mobile": "flex-start",
                    "vertical_alignment_flex_direction_column_mobile": "center",
                    "gap": 12,
                    "flex_wrap": "nowrap",
                    "flex_wrap_mobile": "inherit",
                    "width": "fill",
                    "custom_width": 100,
                    "width_mobile": "fill",
                    "custom_width_mobile": 100,
                    "height": "fit",
                    "custom_height": 100,
                    "position": "static",
                    "z_index": 0,
                    "enable_parallax": false,
                    "parallax_speed": "medium",
                    "parallax_direction": "vertical",
                    "parallax_on_mobile": false,
                    "position_top": 0,
                    "position_bottom": 0,
                    "position_left": 0,
                    "position_right": 0,
                    "inherit_color_scheme": true,
                    "color_scheme": "",
                    "background_media": "none",
                    "video_position": "cover",
                    "background_image_position": "cover",
                    "border": "none",
                    "use_individual_borders": false,
                    "border_width": 1,
                    "border_width_top": 1,
                    "border_width_bottom": 1,
                    "border_width_left": 1,
                    "border_width_right": 1,
                    "border_width_top_mobile": 1,
                    "border_width_bottom_mobile": 1,
                    "border_width_left_mobile": 1,
                    "border_width_right_mobile": 1,
                    "border_opacity": 100,
                    "border_radius": 0,
                    "toggle_overlay": false,
                    "overlay_color": "#00000026",
                    "overlay_style": "solid",
                    "gradient_direction": "to top",
                    "padding-block-start": 10,
                    "padding-block-end": 0,
                    "padding-inline-start": 0,
                    "padding-inline-end": 0,
                    "use_mobile_padding": false,
                    "padding-block-start-mobile": 0,
                    "padding-block-end-mobile": 0,
                    "padding-inline-start-mobile": 0,
                    "padding-inline-end-mobile": 0
                  },
                  "blocks": {
                    "text_tydtBB": {
                      "type": "text",
                      "name": "t:names.heading",
                      "settings": {
                        "text": "<p>{{ closest.product.metafields.product_details.teaser_title.value }}</p>",
                        "width": "fit-content",
                        "max_width": "normal",
                        "alignment": "left",
                        "type_preset": "h3",
                        "font": "var(--font-body--family)",
                        "font_size": "1rem",
                        "line_height": "normal",
                        "letter_spacing": "normal",
                        "case": "none",
                        "wrap": "pretty",
                        "color": "var(--color-foreground-heading)",
                        "background": false,
                        "background_color": "#00000026",
                        "corner_radius": 0,
                        "padding-block-start": 0,
                        "padding-block-end": 0,
                        "padding-inline-start": 0,
                        "padding-inline-end": 0
                      },
                      "blocks": {}
                    },
                    "text_zpqGjf": {
                      "type": "text",
                      "name": "t:names.text",
                      "settings": {
                        "text": "<p>{{ closest.product.metafields.product_details.teaser_text | metafield_tag }}</p>",
                        "width": "fit-content",
                        "max_width": "normal",
                        "alignment": "left",
                        "type_preset": "paragraph",
                        "font": "var(--font-body--family)",
                        "font_size": "1rem",
                        "line_height": "normal",
                        "letter_spacing": "normal",
                        "case": "none",
                        "wrap": "pretty",
                        "color": "var(--color-foreground-heading)",
                        "background": false,
                        "background_color": "#00000026",
                        "corner_radius": 0,
                        "padding-block-start": 0,
                        "padding-block-end": 0,
                        "padding-inline-start": 0,
                        "padding-inline-end": 0
                      },
                      "blocks": {}
                    }
                  },
                  "block_order": [
                    "text_tydtBB",
                    "text_zpqGjf"
                  ]
                }
              },
              "block_order": [
                "1_product_card_gallery_hover_nqzdtH"
              ]
            }
          },
          "block_order": [
            "1_product_card_group_aFr9Bh",
            "1_product_card_gallery_mP7Lt6"
          ]
        },
        "product_card_group_EVK6xM": {
          "type": "_1-product-card-group",
          "name": "Content",
          "settings": {
            "link": "",
            "open_in_new_tab": false,
            "content_direction": "column",
            "vertical_on_mobile": true,
            "horizontal_on_mobile": false,
            "reverse_order_on_mobile": false,
            "horizontal_alignment": "flex-start",
            "vertical_alignment": "center",
            "align_baseline": false,
            "horizontal_alignment_flex_direction_column": "flex-start",
            "vertical_alignment_flex_direction_column": "space-between",
            "use_mobile_layout": false,
            "horizontal_alignment_mobile": "flex-start",
            "vertical_alignment_mobile": "center",
            "align_baseline_mobile": false,
            "horizontal_alignment_flex_direction_column_mobile": "flex-start",
            "vertical_alignment_flex_direction_column_mobile": "center",
            "gap": 12,
            "flex_wrap": "nowrap",
            "flex_wrap_mobile": "inherit",
            "width": "fill",
            "custom_width": 100,
            "width_mobile": "fill",
            "custom_width_mobile": 100,
            "height": "fill",
            "custom_height": 100,
            "position": "static",
            "z_index": 0,
            "enable_parallax": false,
            "parallax_speed": "medium",
            "parallax_direction": "vertical",
            "parallax_on_mobile": false,
            "position_top": 0,
            "position_bottom": 0,
            "position_left": 0,
            "position_right": 0,
            "inherit_color_scheme": true,
            "color_scheme": "",
            "background_media": "none",
            "video_position": "cover",
            "background_image_position": "cover",
            "border": "none",
            "use_individual_borders": false,
            "border_width": 1,
            "border_width_top": 1,
            "border_width_bottom": 1,
            "border_width_left": 1,
            "border_width_right": 1,
            "border_width_top_mobile": 1,
            "border_width_bottom_mobile": 1,
            "border_width_left_mobile": 1,
            "border_width_right_mobile": 1,
            "border_opacity": 100,
            "border_radius": 0,
            "toggle_overlay": false,
            "overlay_color": "#00000026",
            "overlay_style": "solid",
            "gradient_direction": "to top",
            "padding-block-start": 0,
            "padding-block-end": 0,
            "padding-inline-start": 0,
            "padding-inline-end": 0,
            "use_mobile_padding": false,
            "padding-block-start-mobile": 0,
            "padding-block-end-mobile": 0,
            "padding-inline-start-mobile": 0,
            "padding-inline-end-mobile": 0
          },
          "blocks": {
            "product_title_fHjji6": {
              "type": "product-title",
              "name": "t:names.product_title",
              "settings": {
                "width": "fit-content",
                "max_width": "normal",
                "alignment": "left",
                "type_preset": "h4",
                "font": "var(--font-body--family)",
                "font_size": "1rem",
                "line_height": "normal",
                "letter_spacing": "normal",
                "case": "none",
                "wrap": "pretty",
                "color": "var(--color-foreground)",
                "background": false,
                "background_color": "#00000026",
                "corner_radius": 0,
                "padding-block-start": 0,
                "padding-block-end": 0,
                "padding-inline-start": 0,
                "padding-inline-end": 0
              },
              "blocks": {}
            },
            "product_card_group_mHnLDd": {
              "type": "_1-product-card-group",
              "name": "Info",
              "settings": {
                "link": "",
                "open_in_new_tab": false,
                "content_direction": "row",
                "vertical_on_mobile": false,
                "horizontal_on_mobile": false,
                "reverse_order_on_mobile": false,
                "horizontal_alignment": "space-between",
                "vertical_alignment": "flex-end",
                "align_baseline": false,
                "horizontal_alignment_flex_direction_column": "flex-start",
                "vertical_alignment_flex_direction_column": "center",
                "use_mobile_layout": false,
                "horizontal_alignment_mobile": "flex-start",
                "vertical_alignment_mobile": "flex-end",
                "align_baseline_mobile": true,
                "horizontal_alignment_flex_direction_column_mobile": "flex-start",
                "vertical_alignment_flex_direction_column_mobile": "center",
                "gap": 16,
                "flex_wrap": "nowrap",
                "flex_wrap_mobile": "inherit",
                "width": "fill",
                "custom_width": 100,
                "width_mobile": "fill",
                "custom_width_mobile": 100,
                "height": "fit",
                "custom_height": 100,
                "position": "static",
                "z_index": 0,
                "enable_parallax": false,
                "parallax_speed": "medium",
                "parallax_direction": "vertical",
                "parallax_on_mobile": false,
                "position_top": 0,
                "position_bottom": 0,
                "position_left": 0,
                "position_right": 0,
                "inherit_color_scheme": true,
                "color_scheme": "",
                "background_media": "none",
                "video_position": "cover",
                "background_image_position": "cover",
                "border": "none",
                "use_individual_borders": false,
                "border_width": 1,
                "border_width_top": 1,
                "border_width_bottom": 1,
                "border_width_left": 1,
                "border_width_right": 1,
                "border_width_top_mobile": 1,
                "border_width_bottom_mobile": 1,
                "border_width_left_mobile": 1,
                "border_width_right_mobile": 1,
                "border_opacity": 100,
                "border_radius": 0,
                "toggle_overlay": false,
                "overlay_color": "#00000026",
                "overlay_style": "solid",
                "gradient_direction": "to top",
                "padding-block-start": 0,
                "padding-block-end": 8,
                "padding-inline-start": 0,
                "padding-inline-end": 8,
                "use_mobile_padding": false,
                "padding-block-start-mobile": 0,
                "padding-block-end-mobile": 0,
                "padding-inline-start-mobile": 0,
                "padding-inline-end-mobile": 0
              },
              "blocks": {
                "1_product_card_group_N9qYVE": {
                  "type": "_1-product-card-group",
                  "name": "t:names.1_group",
                  "settings": {
                    "link": "",
                    "open_in_new_tab": false,
                    "content_direction": "column",
                    "vertical_on_mobile": true,
                    "horizontal_on_mobile": false,
                    "reverse_order_on_mobile": false,
                    "horizontal_alignment": "flex-start",
                    "vertical_alignment": "center",
                    "align_baseline": false,
                    "horizontal_alignment_flex_direction_column": "flex-start",
                    "vertical_alignment_flex_direction_column": "flex-start",
                    "use_mobile_layout": false,
                    "horizontal_alignment_mobile": "flex-start",
                    "vertical_alignment_mobile": "center",
                    "align_baseline_mobile": false,
                    "horizontal_alignment_flex_direction_column_mobile": "flex-start",
                    "vertical_alignment_flex_direction_column_mobile": "center",
                    "gap": 16,
                    "flex_wrap": "nowrap",
                    "flex_wrap_mobile": "inherit",
                    "width": "fill",
                    "custom_width": 100,
                    "width_mobile": "fill",
                    "custom_width_mobile": 100,
                    "height": "fit",
                    "custom_height": 100,
                    "position": "static",
                    "z_index": 0,
                    "enable_parallax": false,
                    "parallax_speed": "medium",
                    "parallax_direction": "vertical",
                    "parallax_on_mobile": false,
                    "position_top": 0,
                    "position_bottom": 0,
                    "position_left": 0,
                    "position_right": 0,
                    "inherit_color_scheme": true,
                    "color_scheme": "",
                    "background_media": "none",
                    "video_position": "cover",
                    "background_image_position": "cover",
                    "border": "none",
                    "use_individual_borders": false,
                    "border_width": 1,
                    "border_width_top": 1,
                    "border_width_bottom": 1,
                    "border_width_left": 1,
                    "border_width_right": 1,
                    "border_width_top_mobile": 1,
                    "border_width_bottom_mobile": 1,
                    "border_width_left_mobile": 1,
                    "border_width_right_mobile": 1,
                    "border_opacity": 100,
                    "border_radius": 0,
                    "toggle_overlay": false,
                    "overlay_color": "#00000026",
                    "overlay_style": "solid",
                    "gradient_direction": "to top",
                    "padding-block-start": 0,
                    "padding-block-end": 0,
                    "padding-inline-start": 0,
                    "padding-inline-end": 0,
                    "use_mobile_padding": false,
                    "padding-block-start-mobile": 0,
                    "padding-block-end-mobile": 0,
                    "padding-inline-start-mobile": 0,
                    "padding-inline-end-mobile": 0
                  },
                  "blocks": {
                    "sizes_n6fjEP": {
                      "type": "1-product-option",
                      "name": "t:names.1_product_option",
                      "settings": {
                        "product_swatches_alignment": "flex-start",
                        "product_swatches_alignment_mobile": "flex-start",
                        "hide_padding": false,
                        "product_swatches_padding_top": 0,
                        "product_swatches_padding_bottom": 0,
                        "product_swatches_padding_left": 0,
                        "product_swatches_padding_right": 0
                      },
                      "blocks": {}
                    },
                    "price_eqwLnU": {
                      "type": "price",
                      "name": "t:names.product_price",
                      "settings": {
                        "show_sale_price_first": true,
                        "show_installments": false,
                        "show_tax_info": false,
                        "type_preset": "h4",
                        "width": "fit-content",
                        "alignment": "left",
                        "font": "var(--font-body--family)",
                        "font_size": "1rem",
                        "line_height": "normal",
                        "letter_spacing": "normal",
                        "case": "none",
                        "color": "var(--color-foreground)",
                        "padding-block-start": 0,
                        "padding-block-end": 0,
                        "padding-inline-start": 0,
                        "padding-inline-end": 0
                      },
                      "blocks": {}
                    }
                  },
                  "block_order": [
                    "sizes_n6fjEP",
                    "price_eqwLnU"
                  ]
                },
                "1_product_card_group_CYXzbR": {
                  "type": "_1-product-card-group",
                  "name": "t:names.1_group",
                  "settings": {
                    "link": "",
                    "open_in_new_tab": false,
                    "content_direction": "column",
                    "vertical_on_mobile": false,
                    "horizontal_on_mobile": false,
                    "reverse_order_on_mobile": false,
                    "horizontal_alignment": "flex-end",
                    "vertical_alignment": "center",
                    "align_baseline": false,
                    "horizontal_alignment_flex_direction_column": "flex-end",
                    "vertical_alignment_flex_direction_column": "flex-end",
                    "use_mobile_layout": false,
                    "horizontal_alignment_mobile": "flex-start",
                    "vertical_alignment_mobile": "center",
                    "align_baseline_mobile": false,
                    "horizontal_alignment_flex_direction_column_mobile": "flex-start",
                    "vertical_alignment_flex_direction_column_mobile": "center",
                    "gap": 0,
                    "flex_wrap": "nowrap",
                    "flex_wrap_mobile": "inherit",
                    "width": "fit-content",
                    "custom_width": 0,
                    "width_mobile": "fit-content",
                    "custom_width_mobile": 100,
                    "height": "fit",
                    "custom_height": 100,
                    "position": "static",
                    "z_index": 0,
                    "enable_parallax": false,
                    "parallax_speed": "medium",
                    "parallax_direction": "vertical",
                    "parallax_on_mobile": false,
                    "position_top": 0,
                    "position_bottom": 0,
                    "position_left": 0,
                    "position_right": 0,
                    "inherit_color_scheme": true,
                    "color_scheme": "",
                    "background_media": "none",
                    "video_position": "cover",
                    "background_image_position": "cover",
                    "border": "none",
                    "use_individual_borders": false,
                    "border_width": 1,
                    "border_width_top": 1,
                    "border_width_bottom": 1,
                    "border_width_left": 1,
                    "border_width_right": 1,
                    "border_width_top_mobile": 1,
                    "border_width_bottom_mobile": 1,
                    "border_width_left_mobile": 1,
                    "border_width_right_mobile": 1,
                    "border_opacity": 100,
                    "border_radius": 0,
                    "toggle_overlay": false,
                    "overlay_color": "#00000026",
                    "overlay_style": "solid",
                    "gradient_direction": "to top",
                    "padding-block-start": 0,
                    "padding-block-end": 0,
                    "padding-inline-start": 0,
                    "padding-inline-end": 0,
                    "use_mobile_padding": false,
                    "padding-block-start-mobile": 0,
                    "padding-block-end-mobile": 0,
                    "padding-inline-start-mobile": 0,
                    "padding-inline-end-mobile": 0
                  },
                  "blocks": {
                    "1_buy_buttons_xFiJjE": {
                      "type": "1-buy-button",
                      "name": "t:names.1_product_buy_button",
                      "settings": {
                        "hide_add_to_cart_text": true,
                        "hide_add_to_cart_icon": false,
                        "style_class": "button-secondary",
                        "stacking": false,
                        "show_pickup_availability": false,
                        "padding-block-start": 0,
                        "padding-block-end": 0,
                        "padding-inline-start": 0,
                        "padding-inline-end": 0
                      },
                      "blocks": {
                        "add-to-cart": {
                          "type": "1-add-to-cart",
                          "static": true,
                          "settings": {
                            "style_class": "button-secondary"
                          },
                          "blocks": {}
                        }
                      },
                      "block_order": []
                    }
                  },
                  "block_order": [
                    "1_buy_buttons_xFiJjE"
                  ]
                }
              },
              "block_order": [
                "1_product_card_group_N9qYVE",
                "1_product_card_group_CYXzbR"
              ]
            }
          },
          "block_order": [
            "product_title_fHjji6",
            "product_card_group_mHnLDd"
          ]
        }
      },
      "block_order": [
        "1_product_card_group_VyPaYF",
        "product_card_group_EVK6xM"
      ]
    },
    {
      "name": "t:names.1_product_card_lifestyle",
      "category": "t:categories.product",
      "settings": {
        "product": "puro-reserva-12oz",
        "product_card_gap": 0,
        "inherit_color_scheme": true,
        "color_scheme": "",
        "border": "none",
        "border_width": 1,
        "border_opacity": 100,
        "border_radius": 0,
        "padding-block-start": 0,
        "padding-block-end": 0,
        "padding-inline-start": 0,
        "padding-inline-end": 0
      },
      "blocks": {
        "product_card_group_iNHbUQ": {
          "type": "_1-product-card-group",
          "name": "t:names.group",
          "settings": {
            "link": "",
            "open_in_new_tab": false,
            "content_direction": "column",
            "vertical_on_mobile": true,
            "horizontal_alignment": "flex-start",
            "vertical_alignment": "center",
            "align_baseline": false,
            "horizontal_alignment_flex_direction_column": "flex-start",
            "vertical_alignment_flex_direction_column": "center",
            "gap": 0,
            "width": "fill",
            "custom_width": 100,
            "width_mobile": "fill",
            "custom_width_mobile": 100,
            "height": "fit",
            "custom_height": 100,
            "inherit_color_scheme": true,
            "color_scheme": "",
            "background_media": "none",
            "video_position": "cover",
            "background_image_position": "cover",
            "border": "none",
            "border_width": 1,
            "border_opacity": 100,
            "border_radius": 0,
            "toggle_overlay": false,
            "overlay_color": "#00000026",
            "overlay_style": "solid",
            "gradient_direction": "to top",
            "padding-block-start": 0,
            "padding-block-end": 0,
            "padding-inline-start": 0,
            "padding-inline-end": 0
          },
          "blocks": {
            "image_atVMQr": {
              "type": "image",
              "name": "t:names.image",
              "settings": {
                "image": "shopify:\/\/shop_images\/image_18.jpg",
                "link": "",
                "image_ratio": "adapt",
                "width": "fill",
                "custom_width": 100,
                "width_mobile": "fill",
                "custom_width_mobile": 100,
                "height": "fit",
                "border": "none",
                "border_width": 1,
                "border_opacity": 100,
                "border_radius": 0,
                "padding-block-start": 0,
                "padding-block-end": 0,
                "padding-inline-start": 0,
                "padding-inline-end": 0
              },
              "blocks": {}
            },
            "product_card_group_niELXX": {
              "type": "_1-product-card-group",
              "name": "t:names.group",
              "settings": {
                "link": "",
                "open_in_new_tab": false,
                "content_direction": "row",
                "vertical_on_mobile": false,
                "horizontal_alignment": "flex-start",
                "vertical_alignment": "center",
                "align_baseline": false,
                "horizontal_alignment_flex_direction_column": "flex-start",
                "vertical_alignment_flex_direction_column": "center",
                "gap": 0,
                "width": "fill",
                "custom_width": 100,
                "width_mobile": "fill",
                "custom_width_mobile": 100,
                "height": "fit",
                "custom_height": 100,
                "inherit_color_scheme": true,
                "color_scheme": "",
                "background_media": "none",
                "video_position": "cover",
                "background_image_position": "cover",
                "border": "none",
                "border_width": 1,
                "border_opacity": 100,
                "border_radius": 0,
                "toggle_overlay": false,
                "overlay_color": "#00000026",
                "overlay_style": "solid",
                "gradient_direction": "to top",
                "padding-block-start": 0,
                "padding-block-end": 0,
                "padding-inline-start": 0,
                "padding-inline-end": 0
              },
              "blocks": {
                "image_rb7Niz": {
                  "type": "image",
                  "name": "t:names.image",
                  "settings": {
                    "image": "{{ closest.product.featured_image }}",
                    "link": "",
                    "image_ratio": "square",
                    "width": "custom",
                    "custom_width": 30,
                    "width_mobile": "custom",
                    "custom_width_mobile": 30,
                    "height": "fit",
                    "border": "none",
                    "border_width": 1,
                    "border_opacity": 100,
                    "border_radius": 0,
                    "padding-block-start": 0,
                    "padding-block-end": 0,
                    "padding-inline-start": 0,
                    "padding-inline-end": 0
                  },
                  "blocks": {}
                },
                "product_card_group_yzmhGH": {
                  "type": "_1-product-card-group",
                  "name": "t:names.group",
                  "settings": {
                    "link": "",
                    "open_in_new_tab": false,
                    "content_direction": "column",
                    "vertical_on_mobile": true,
                    "horizontal_alignment": "flex-start",
                    "vertical_alignment": "center",
                    "align_baseline": false,
                    "horizontal_alignment_flex_direction_column": "flex-start",
                    "vertical_alignment_flex_direction_column": "center",
                    "gap": 8,
                    "width": "fill",
                    "custom_width": 100,
                    "width_mobile": "fill",
                    "custom_width_mobile": 100,
                    "height": "fit",
                    "custom_height": 100,
                    "inherit_color_scheme": true,
                    "color_scheme": "",
                    "background_media": "none",
                    "video_position": "cover",
                    "background_image_position": "cover",
                    "border": "none",
                    "border_width": 1,
                    "border_opacity": 100,
                    "border_radius": 0,
                    "toggle_overlay": false,
                    "overlay_color": "#00000026",
                    "overlay_style": "solid",
                    "gradient_direction": "to top",
                    "padding-block-start": 12,
                    "padding-block-end": 12,
                    "padding-inline-start": 12,
                    "padding-inline-end": 12
                  },
                  "blocks": {
                    "product_card_group_k6nRtY": {
                      "type": "_1-product-card-group",
                      "name": "t:names.group",
                      "settings": {
                        "link": "",
                        "open_in_new_tab": false,
                        "content_direction": "column",
                        "vertical_on_mobile": true,
                        "horizontal_alignment": "flex-start",
                        "vertical_alignment": "center",
                        "align_baseline": false,
                        "horizontal_alignment_flex_direction_column": "flex-start",
                        "vertical_alignment_flex_direction_column": "center",
                        "gap": 4,
                        "width": "fill",
                        "custom_width": 100,
                        "width_mobile": "fill",
                        "custom_width_mobile": 100,
                        "height": "fit",
                        "custom_height": 100,
                        "inherit_color_scheme": true,
                        "color_scheme": "",
                        "background_media": "none",
                        "video_position": "cover",
                        "background_image_position": "cover",
                        "border": "none",
                        "border_width": 1,
                        "border_opacity": 100,
                        "border_radius": 0,
                        "toggle_overlay": false,
                        "overlay_color": "#00000026",
                        "overlay_style": "solid",
                        "gradient_direction": "to top",
                        "padding-block-start": 0,
                        "padding-block-end": 0,
                        "padding-inline-start": 0,
                        "padding-inline-end": 0
                      },
                      "blocks": {
                        "product_title_RqAUKN": {
                          "type": "product-title",
                          "name": "t:names.product_title",
                          "settings": {
                            "width": "fit-content",
                            "max_width": "normal",
                            "alignment": "left",
                            "type_preset": "h5",
                            "font": "var(--font-body--family)",
                            "font_size": "1rem",
                            "line_height": "normal",
                            "letter_spacing": "normal",
                            "case": "none",
                            "wrap": "pretty",
                            "color": "var(--color-foreground-heading)",
                            "background": false,
                            "background_color": "#00000026",
                            "corner_radius": 0,
                            "padding-block-start": 4,
                            "padding-block-end": 0,
                            "padding-inline-start": 0,
                            "padding-inline-end": 0
                          },
                          "blocks": {}
                        },
                        "text_AaFU8T": {
                          "type": "text",
                          "name": "t:names.text",
                          "settings": {
                            "text": "",
                            "width": "fit-content",
                            "max_width": "normal",
                            "alignment": "left",
                            "type_preset": "custom",
                            "font": "var(--font-body--family)",
                            "font_size": "0.875rem",
                            "line_height": "normal",
                            "letter_spacing": "normal",
                            "case": "none",
                            "wrap": "pretty",
                            "color": "var(--color-foreground)",
                            "background": false,
                            "background_color": "#00000026",
                            "corner_radius": 0,
                            "padding-block-start": 0,
                            "padding-block-end": 0,
                            "padding-inline-start": 0,
                            "padding-inline-end": 0
                          },
                          "blocks": {}
                        }
                      },
                      "block_order": [
                        "product_title_RqAUKN",
                        "text_AaFU8T"
                      ]
                    },
                    "price_RG8afD": {
                      "type": "price",
                      "name": "t:names.product_price",
                      "settings": {
                        "show_sale_price_first": true,
                        "show_installments": false,
                        "show_tax_info": false,
                        "type_preset": "h6",
                        "width": "100%",
                        "alignment": "left",
                        "font": "var(--font-body--family)",
                        "font_size": "1rem",
                        "line_height": "normal",
                        "letter_spacing": "normal",
                        "case": "none",
                        "color": "var(--color-foreground-heading)",
                        "padding-block-start": 0,
                        "padding-block-end": 0,
                        "padding-inline-start": 0,
                        "padding-inline-end": 0
                      },
                      "blocks": {}
                    }
                  },
                  "block_order": [
                    "product_card_group_k6nRtY",
                    "price_RG8afD"
                  ]
                }
              },
              "block_order": [
                "image_rb7Niz",
                "product_card_group_yzmhGH"
              ]
            }
          },
          "block_order": [
            "image_atVMQr",
            "product_card_group_niELXX"
          ]
        }
      },
      "block_order": [
        "product_card_group_iNHbUQ"
      ]
    }
  ]
}
{% endschema %}
