{%- doc -%}
  Renders recent blog posts.
  This block displays a configurable number of recent blog posts from a selected blog.
{%- enddoc -%}

{% liquid
  assign blog = block.settings.blog
  assign articles = blog.articles | slice: 0, block.settings.slide_count
%}
{% capture children %}
  {%- content_for 'block', type: '_content', id: 'static-header' -%}
{% endcapture %}

{% capture list_items %}
  {% for article in articles %}
    {% content_for 'block',
      type: '1-blog-post-card',
      id: 'static-blog-post-card',
      closest.article: article
    %}
    {% unless forloop.last %}
      <!--@list/split-->
    {% endunless %}
  {% endfor %}
{% endcapture %}

{% render '1-list', children: children, list_items: list_items, settings: block.settings, shopify_attributes: block.shopify_attributes %}

{% stylesheet %}
  .recent-blog-posts__list {
    display: grid;
    grid-template-columns: 1fr;
    @media (min-width: 768px) {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  .recent-blog-posts-wrapper {
    width: 100%;
  }

  .recent-blog-posts {
    display: block;
  }
{% endstylesheet %}

{% schema %}
{
  "name": "t:names.1_recent_blog_posts",
  "class": "recent-blog-posts-wrapper",
  "blocks": [
    {
      "type": "@theme"
    },
    {
      "type": "@app"
    },
    {
      "type": "_divider"
    }
  ],
  "settings": [
    {
      "type": "blog",
      "id": "blog",
      "label": "t:settings.blog"
    },
    {
      "type": "range",
      "id": "slide_count",
      "label": "t:settings.post_count",
      "min": 1,
      "max": 12,
      "step": 1,
      "default": 6
    },
    {
      "type": "header",
      "content": "t:content.layout"
    },
    {
      "type": "select",
      "id": "layout_type",
      "label": "t:settings.layout_type",
      "options": [
        {
          "value": "grid",
          "label": "t:options.grid"
        },
        {
          "value": "carousel",
          "label": "t:options.carousel"
        }
      ],
      "default": "grid"
    },
    {
      "type": "select",
      "id": "layout_type_mobile",
      "label": "t:settings.1_layout_type_mobile",
      "options": [
        {
          "value": "grid",
          "label": "t:options.grid"
        },
        {
          "value": "carousel",
          "label": "t:options.carousel"
        }
      ],
      "default": "grid"
    },
    {
      "type": "range",
      "id": "columns",
      "label": "t:settings.columns",
      "min": 1,
      "max": 8,
      "step": 1,
      "default": 4
    },
    {
      "type": "select",
      "id": "mobile_columns",
      "label": "t:settings.mobile_columns",
      "options": [
        {
          "value": "1",
          "label": "t:options.one_number"
        },
        {
          "value": "2",
          "label": "t:options.two_number"
        }
      ],
      "default": "2",
      "visible_if": "{{ block.settings.layout_type_mobile == 'grid' }}"
    },
    {
      "type": "checkbox",
      "id": "full_width_on_mobile",
      "label": "t:settings.full_width_on_mobile",
      "default": false,
      "visible_if": "{{ block.settings.layout_type_mobile == 'carousel' }}"
    },
    {
      "type": "range",
      "id": "columns_gap",
      "label": "t:settings.horizontal_gap",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 8
    },
    {
      "type": "range",
      "id": "rows_gap",
      "label": "t:settings.vertical_gap",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 8,
      "visible_if": "{{ block.settings.layout_type == 'grid'}}"
    },
    {
      "type": "header",
      "content": "t:content.carousel_navigation",
      "visible_if": "{{ block.settings.layout_type == 'carousel' or block.settings.layout_type_mobile == 'carousel' }}"
    },
    {
      "type": "checkbox",
      "id": "autoplay",
      "label": "t:settings.auto_rotate_slides",
      "default": false
    },
    {
      "type": "range",
      "id": "autoplay_speed",
      "label": "t:settings.speed",
      "min": 3,
      "max": 7,
      "step": 1,
      "unit": "s",
      "default": 4,
      "visible_if": "{{ block.settings.autoplay }}"
    },
    {
      "type": "select",
      "id": "icons_style",
      "label": "t:settings.icon",
      "options": [
        {
          "value": "arrow",
          "label": "t:options.arrows"
        },
        {
          "value": "chevron",
          "label": "t:options.chevrons"
        },
        {
          "value": "arrows_large",
          "label": "t:options.arrows_large"
        },
        {
          "value": "chevron_large",
          "label": "t:options.chevron_large"
        },
        {
          "value": "none",
          "label": "t:options.none"
        }
      ],
      "default": "arrow",
      "visible_if": "{{ block.settings.layout_type == 'carousel' or block.settings.layout_type_mobile == 'carousel' }}"
    },
    {
      "type": "select",
      "id": "slideshow_controls_position",
      "label": "t:settings.position",
      "options": [
        {
          "value": "left",
          "label": "t:options.left"
        },
        {
          "value": "center",
          "label": "t:options.center"
        },
        {
          "value": "right",
          "label": "t:options.right"
        },
        {
          "value": "bottom",
          "label": "t:options.bottom"
        }
      ],
      "default": "center",
      "visible_if": "{{ block.settings.layout_type == 'carousel' or block.settings.layout_type_mobile == 'carousel' }}"
    },
    {
      "type": "select",
      "id": "icons_shape",
      "label": "t:settings.icon_background",
      "options": [
        {
          "value": "none",
          "label": "t:options.none"
        },
        {
          "value": "circle",
          "label": "t:options.circle"
        },
        {
          "value": "square",
          "label": "t:options.square"
        }
      ],
      "default": "none",
      "visible_if": "{{ block.settings.icons_style != 'none' and block.settings.layout_type == 'carousel' or block.settings.layout_type_mobile == 'carousel' }}"
    },
    {
      "type": "select",
      "id": "slideshow_controls_style",
      "label": "t:settings.pagination",
      "options": [
        {
          "value": "dots",
          "label": "t:options.dots"
        },
        {
          "value": "counter",
          "label": "t:options.counter"
        },
        {
          "value": "none",
          "label": "t:options.none"
        }
      ],
      "default": "none",
      "visible_if": "{{ block.settings.layout_type == 'carousel' }}"
    },
    {
      "type": "select",
      "id": "slideshow_mobile_controls_style",
      "label": "t:settings.mobile_pagination",
      "options": [
        {
          "value": "dots",
          "label": "t:options.dots"
        },
        {
          "value": "counter",
          "label": "t:options.counter"
        },
        {
          "value": "none",
          "label": "t:options.none"
        }
      ],
      "default": "none",
      "visible_if": "{{ block.settings.layout_type == 'carousel' or block.settings.layout_type_mobile == 'carousel' }}"
    },
    {
      "type": "header",
      "content": "t:content.section_layout"
    },
    {
      "type": "range",
      "id": "gap",
      "label": "t:settings.gap",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 48
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:settings.color_scheme",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:content.borders"
    },
    {
      "type": "select",
      "id": "border",
      "label": "t:settings.style",
      "options": [
        {
          "value": "none",
          "label": "t:options.none"
        },
        {
          "value": "solid",
          "label": "t:options.solid"
        }
      ],
      "default": "none"
    },
    {
      "type": "checkbox",
      "id": "use_individual_borders",
      "label": "Use individual border widths",
      "default": false,
      "visible_if": "{{ block.settings.border != 'none' }}"
    },
    {
      "type": "range",
      "id": "border_width",
      "min": 0,
      "max": 10,
      "step": 0.5,
      "unit": "px",
      "label": "t:settings.thickness",
      "default": 1,
      "visible_if": "{{ block.settings.border != 'none' and block.settings.use_individual_borders == false }}"
    },
    {
      "type": "range",
      "id": "border_width_top",
      "min": 0,
      "max": 10,
      "step": 0.5,
      "unit": "px",
      "label": "Top border width",
      "default": 1,
      "visible_if": "{{ block.settings.border != 'none' and block.settings.use_individual_borders == true }}"
    },
    {
      "type": "range",
      "id": "border_width_bottom",
      "min": 0,
      "max": 10,
      "step": 0.5,
      "unit": "px",
      "label": "Bottom border width",
      "default": 1,
      "visible_if": "{{ block.settings.border != 'none' and block.settings.use_individual_borders == true }}"
    },
    {
      "type": "range",
      "id": "border_width_left",
      "min": 0,
      "max": 10,
      "step": 0.5,
      "unit": "px",
      "label": "Left border width",
      "default": 1,
      "visible_if": "{{ block.settings.border != 'none' and block.settings.use_individual_borders == true }}"
    },
    {
      "type": "range",
      "id": "border_width_right",
      "min": 0,
      "max": 10,
      "step": 0.5,
      "unit": "px",
      "label": "Right border width",
      "default": 1,
      "visible_if": "{{ block.settings.border != 'none' and block.settings.use_individual_borders == true }}"
    },
    {
      "type": "header",
      "content": "Mobile border widths",
      "visible_if": "{{ block.settings.border != 'none' and block.settings.use_individual_borders == true }}"
    },
    {
      "type": "range",
      "id": "border_width_top_mobile",
      "min": 0,
      "max": 10,
      "step": 0.5,
      "unit": "px",
      "label": "Top border width (mobile)",
      "default": 1,
      "visible_if": "{{ block.settings.border != 'none' and block.settings.use_individual_borders == true }}"
    },
    {
      "type": "range",
      "id": "border_width_bottom_mobile",
      "min": 0,
      "max": 10,
      "step": 0.5,
      "unit": "px",
      "label": "Bottom border width (mobile)",
      "default": 1,
      "visible_if": "{{ block.settings.border != 'none' and block.settings.use_individual_borders == true }}"
    },
    {
      "type": "range",
      "id": "border_width_left_mobile",
      "min": 0,
      "max": 10,
      "step": 0.5,
      "unit": "px",
      "label": "Left border width (mobile)",
      "default": 1,
      "visible_if": "{{ block.settings.border != 'none' and block.settings.use_individual_borders == true }}"
    },
    {
      "type": "range",
      "id": "border_width_right_mobile",
      "min": 0,
      "max": 10,
      "step": 0.5,
      "unit": "px",
      "label": "Right border width (mobile)",
      "default": 1,
      "visible_if": "{{ block.settings.border != 'none' and block.settings.use_individual_borders == true }}"
    },
    {
      "type": "range",
      "id": "border_opacity",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "label": "t:settings.opacity",
      "default": 100,
      "visible_if": "{{ block.settings.border != 'none' }}"
    },
    {
      "type": "range",
      "id": "border_radius",
      "label": "t:settings.border_radius",
      "min": 0,
      "max": 32,
      "step": 1,
      "unit": "px",
      "default": 0
    },
    {
      "type": "header",
      "content": "t:content.padding"
    },
    {
      "type": "range",
      "id": "padding-block-start",
      "label": "t:settings.top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding-block-end",
      "label": "t:settings.bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    }
  ],
  "presets": [
    {
      "name": "t:names.1_recent_blog_posts",
      "category": "t:categories.blog_post",
      "settings": {
        "blog": "herbal-extracts",
        "slide_count": 6,
        "layout_type": "carousel",
        "layout_type_mobile": "grid",
        "columns": 3,
        "mobile_columns": "1",
        "full_width_on_mobile": false,
        "columns_gap": 32,
        "rows_gap": 24,
        "autoplay": false,
        "autoplay_speed": 4,
        "icons_style": "none",
        "slideshow_controls_position": "center",
        "icons_shape": "none",
        "slideshow_controls_style": "dots",
        "slideshow_mobile_controls_style": "dots",
        "gap": 32,
        "color_scheme": "scheme-2",
        "border": "none",
        "use_individual_borders": true,
        "border_width": 1,
        "border_width_top": 0,
        "border_width_bottom": 0,
        "border_width_left": 0,
        "border_width_right": 0,
        "border_width_top_mobile": 0,
        "border_width_bottom_mobile": 1,
        "border_width_left_mobile": 0,
        "border_width_right_mobile": 0,
        "border_opacity": 100,
        "border_radius": 0,
        "padding-block-start": 0,
        "padding-block-end": 0
      },
      "blocks": {
        "static-header": {
          "type": "_content",
          "static": true,
          "settings": {
            "horizontal_alignment_flex_direction_column": "center",
            "vertical_alignment_flex_direction_column": "center",
            "gap": 24,
            "inherit_color_scheme": true,
            "color_scheme": "",
            "border_radius": 0,
            "padding-block-start": 0,
            "padding-block-end": 0,
            "padding-inline-start": 0,
            "padding-inline-end": 0
          },
          "blocks": {}
        },
        "static-blog-post-card": {
          "type": "1-blog-post-card",
          "static": true,
          "settings": {
            "inherit_color_scheme": true,
            "color_scheme": "",
            "border": "none",
            "use_individual_borders": false,
            "border_width": 4,
            "border_width_top": 1,
            "border_width_bottom": 0,
            "border_width_left": 0,
            "border_width_right": 0,
            "border_width_top_mobile": 1,
            "border_width_bottom_mobile": 0,
            "border_width_left_mobile": 0,
            "border_width_right_mobile": 0,
            "border_opacity": 100,
            "border_radius": 0,
            "padding-block-start": 0,
            "padding-block-end": 0,
            "padding-inline-start": 0,
            "padding-inline-end": 0
          },
          "blocks": {
            "1_group_YM9i7T": {
              "type": "1-group",
              "name": "t:names.1_group",
              "settings": {
                "link": "",
                "open_in_new_tab": false,
                "visibility": "show_all",
                "content_direction": "column",
                "vertical_on_mobile": true,
                "horizontal_on_mobile": false,
                "reverse_order_on_mobile": false,
                "horizontal_alignment": "flex-start",
                "vertical_alignment": "center",
                "align_baseline": false,
                "horizontal_alignment_flex_direction_column": "flex-start",
                "vertical_alignment_flex_direction_column": "center",
                "gap": 16,
                "flex_wrap": "nowrap",
                "use_mobile_layout": false,
                "horizontal_alignment_mobile": "flex-start",
                "vertical_alignment_mobile": "center",
                "align_baseline_mobile": false,
                "horizontal_alignment_flex_direction_column_mobile": "flex-start",
                "vertical_alignment_flex_direction_column_mobile": "center",
                "gap_mobile": 12,
                "flex_wrap_mobile": "inherit",
                "width": "fill",
                "custom_width": 100,
                "width_mobile": "fill",
                "custom_width_mobile": 100,
                "height": "fill",
                "custom_height": 100,
                "inherit_color_scheme": true,
                "color_scheme": "",
                "background_media": "none",
                "video_position": "cover",
                "background_image_position": "cover",
                "enable_backdrop_blur": false,
                "backdrop_blur_amount": 20,
                "border": "none",
                "border_width": 1,
                "border_opacity": 100,
                "border_radius": 0,
                "toggle_overlay": false,
                "overlay_color": "#00000026",
                "overlay_style": "solid",
                "gradient_direction": "to top",
                "padding-block-start": 0,
                "padding-block-end": 0,
                "padding-inline-start": 0,
                "padding-inline-end": 0,
                "use_mobile_padding": false,
                "padding-block-start-mobile": 0,
                "padding-block-end-mobile": 0,
                "padding-inline-start-mobile": 0,
                "padding-inline-end-mobile": 0
              },
              "blocks": {
                "1_blog_post_image_WMQGFL": {
                  "type": "1-blog-post-image",
                  "settings": {
                    "image": "{{ closest.article.image }}",
                    "link": "",
                    "image_ratio": "landscape",
                    "width": "fill",
                    "custom_width": 100,
                    "width_mobile": "fill",
                    "custom_width_mobile": 100,
                    "height": "fit",
                    "border": "none",
                    "border_width": 1,
                    "border_opacity": 100,
                    "border_radius": 24,
                    "padding-block-start": 0,
                    "padding-block-end": 0,
                    "padding-inline-start": 0,
                    "padding-inline-end": 0
                  },
                  "blocks": {}
                },
                "1_group_y8F6Bb": {
                  "type": "1-group",
                  "name": "Post Info",
                  "settings": {
                    "link": "",
                    "open_in_new_tab": false,
                    "visibility": "show_all",
                    "content_direction": "column",
                    "vertical_on_mobile": true,
                    "horizontal_on_mobile": false,
                    "reverse_order_on_mobile": false,
                    "horizontal_alignment": "flex-start",
                    "vertical_alignment": "center",
                    "align_baseline": false,
                    "horizontal_alignment_flex_direction_column": "flex-start",
                    "vertical_alignment_flex_direction_column": "space-between",
                    "gap": 24,
                    "flex_wrap": "nowrap",
                    "use_mobile_layout": false,
                    "horizontal_alignment_mobile": "flex-start",
                    "vertical_alignment_mobile": "center",
                    "align_baseline_mobile": false,
                    "horizontal_alignment_flex_direction_column_mobile": "flex-start",
                    "vertical_alignment_flex_direction_column_mobile": "center",
                    "gap_mobile": 12,
                    "flex_wrap_mobile": "inherit",
                    "width": "fill",
                    "custom_width": 100,
                    "width_mobile": "fill",
                    "custom_width_mobile": 100,
                    "height": "fill",
                    "custom_height": 100,
                    "inherit_color_scheme": true,
                    "color_scheme": "",
                    "background_media": "none",
                    "video_position": "cover",
                    "background_image_position": "cover",
                    "enable_backdrop_blur": false,
                    "backdrop_blur_amount": 20,
                    "border": "none",
                    "border_width": 1,
                    "border_opacity": 100,
                    "border_radius": 0,
                    "toggle_overlay": false,
                    "overlay_color": "#00000026",
                    "overlay_style": "solid",
                    "gradient_direction": "to top",
                    "padding-block-start": 4,
                    "padding-block-end": 0,
                    "padding-inline-start": 0,
                    "padding-inline-end": 0,
                    "use_mobile_padding": false,
                    "padding-block-start-mobile": 0,
                    "padding-block-end-mobile": 0,
                    "padding-inline-start-mobile": 0,
                    "padding-inline-end-mobile": 0
                  },
                  "blocks": {
                    "group_rAFmgq": {
                      "type": "group",
                      "name": "t:names.group",
                      "settings": {
                        "content_direction": "column",
                        "vertical_on_mobile": true,
                        "horizontal_alignment": "flex-start",
                        "vertical_alignment": "center",
                        "align_baseline": false,
                        "horizontal_alignment_flex_direction_column": "flex-start",
                        "vertical_alignment_flex_direction_column": "center",
                        "gap": 10,
                        "width": "fill",
                        "custom_width": 100,
                        "width_mobile": "fill",
                        "custom_width_mobile": 100,
                        "height": "fit",
                        "custom_height": 100,
                        "inherit_color_scheme": true,
                        "color_scheme": "",
                        "background_media": "none",
                        "video_position": "cover",
                        "background_image_position": "cover",
                        "border": "none",
                        "border_width": 1,
                        "border_opacity": 100,
                        "border_radius": 0,
                        "toggle_overlay": false,
                        "overlay_color": "#00000026",
                        "overlay_style": "solid",
                        "gradient_direction": "to top",
                        "link": "",
                        "open_in_new_tab": false,
                        "placeholder": "",
                        "padding-block-start": 0,
                        "padding-block-end": 0,
                        "padding-inline-start": 0,
                        "padding-inline-end": 0
                      },
                      "blocks": {
                        "1_text_GaNE4w": {
                          "type": "1-text",
                          "name": "Title",
                          "settings": {
                            "text": "<h3><strong>{{ closest.article.title }}</strong></h3>",
                            "width": "fit-content",
                            "max_width": "normal",
                            "alignment": "left",
                            "type_preset": "h3",
                            "font": "var(--font-heading--family)",
                            "font_size": "1.25rem",
                            "line_height": "normal",
                            "letter_spacing": "normal",
                            "case": "none",
                            "wrap": "pretty",
                            "color": "var(--color-foreground-heading)",
                            "background": false,
                            "background_color": "#00000026",
                            "corner_radius": 0,
                            "padding-block-start": 0,
                            "padding-block-end": 0,
                            "padding-inline-start": 0,
                            "padding-inline-end": 0
                          },
                          "blocks": {}
                        },
                        "1_text_9PzaNy": {
                          "type": "1-text",
                          "settings": {
                            "text": "{{ closest.article.excerpt }}",
                            "width": "100%",
                            "max_width": "none",
                            "alignment": "left",
                            "type_preset": "rte",
                            "font": "var(--font-body--family)",
                            "font_size": "0.875rem",
                            "line_height": "normal",
                            "letter_spacing": "normal",
                            "case": "none",
                            "wrap": "pretty",
                            "color": "var(--color-foreground)",
                            "background": false,
                            "background_color": "#00000026",
                            "corner_radius": 0,
                            "padding-block-start": 0,
                            "padding-block-end": 0,
                            "padding-inline-start": 0,
                            "padding-inline-end": 0
                          },
                          "blocks": {}
                        }
                      },
                      "block_order": [
                        "1_text_GaNE4w",
                        "1_text_9PzaNy"
                      ]
                    },
                    "group_eTVree": {
                      "type": "group",
                      "name": "t:names.group",
                      "settings": {
                        "content_direction": "row",
                        "vertical_on_mobile": false,
                        "horizontal_alignment": "flex-start",
                        "vertical_alignment": "center",
                        "align_baseline": false,
                        "horizontal_alignment_flex_direction_column": "flex-start",
                        "vertical_alignment_flex_direction_column": "center",
                        "gap": 16,
                        "width": "fill",
                        "custom_width": 100,
                        "width_mobile": "fill",
                        "custom_width_mobile": 100,
                        "height": "fit",
                        "custom_height": 100,
                        "inherit_color_scheme": true,
                        "color_scheme": "",
                        "background_media": "none",
                        "video_position": "cover",
                        "background_image_position": "cover",
                        "border": "none",
                        "border_width": 1,
                        "border_opacity": 100,
                        "border_radius": 0,
                        "toggle_overlay": false,
                        "overlay_color": "#00000026",
                        "overlay_style": "solid",
                        "gradient_direction": "to top",
                        "link": "",
                        "open_in_new_tab": false,
                        "placeholder": "",
                        "padding-block-start": 0,
                        "padding-block-end": 0,
                        "padding-inline-start": 0,
                        "padding-inline-end": 0
                      },
                      "blocks": {
                        "text_qWMADk": {
                          "type": "text",
                          "name": "t:names.text",
                          "settings": {
                            "text": "<p><strong>Explore Recipes</strong></p>",
                            "width": "fit-content",
                            "max_width": "normal",
                            "alignment": "left",
                            "type_preset": "paragraph",
                            "font": "var(--font-body--family)",
                            "font_size": "1rem",
                            "line_height": "normal",
                            "letter_spacing": "normal",
                            "case": "none",
                            "wrap": "pretty",
                            "color": "var(--color-foreground-heading)",
                            "background": false,
                            "background_color": "#00000026",
                            "corner_radius": 0,
                            "padding-block-start": 0,
                            "padding-block-end": 0,
                            "padding-inline-start": 0,
                            "padding-inline-end": 0
                          },
                          "blocks": {}
                        },
                        "icon_7RG3FQ": {
                          "type": "icon",
                          "name": "t:names.icon",
                          "settings": {
                            "icon": "price_tag",
                            "image_upload": "shopify://shop_images/icon-arrow-right.svg",
                            "width": 20,
                            "link": "",
                            "open_in_new_tab": false
                          },
                          "blocks": {}
                        }
                      },
                      "block_order": [
                        "text_qWMADk",
                        "icon_7RG3FQ"
                      ]
                    }
                  },
                  "block_order": [
                    "group_rAFmgq",
                    "group_eTVree"
                  ]
                }
              },
              "block_order": [
                "1_blog_post_image_WMQGFL",
                "1_group_y8F6Bb"
              ]
            }
          },
          "block_order": [
            "1_group_YM9i7T"
          ]
        }
      },
      "block_order": []
    }
  ]
}
{% endschema %}