

{% liquid
  assign media_count = 0
  if section.settings.image_1 != blank and section.settings.image_2 != blank
    assign media_width_desktop = 100 | divided_by: 2 | append: 'vw'
  else
    assign media_width_desktop = '100vw'
  endif
  assign media_width_mobile = '100vw'
  assign sizes = '(min-width: 750px) ' | append: media_width_desktop | append: ', ' | append: media_width_mobile
  assign widths = '832, 1200, 1600, 1920, 2560, 3840'

  assign has_image_1 = false
  assign has_image_2 = false
  assign has_video_1 = false
  assign has_video_2 = false
  assign has_image = false
  assign has_video = false
  assign has_video_multiple = false
  assign has_media = false
  assign media_type_1 = section.settings.media_type_1
  assign media_type_2 = section.settings.media_type_2
  if section.settings.image_1 != blank and media_type_1 == 'image'
    assign has_image_1 = true
  endif
  if section.settings.image_2 != blank and media_type_2 == 'image'
    assign has_image_2 = true
  endif
  if section.settings.video_1 != blank and media_type_1 == 'video'
    assign has_video_1 = true
  endif
  if section.settings.video_2 != blank and media_type_2 == 'video'
    assign has_video_2 = true
  endif

  if has_image_1 or has_image_2
    assign has_image = true
  endif
  if has_video_1 or has_video_2
    assign has_video = true
  endif
  if has_video_1 and has_video_2
    assign has_video_multiple = true
  endif
  if has_image or has_video
    assign has_media = true
  endif

  comment
    Mobile media - determine if we have dedicated mobile media or fallback to desktop
  endcomment
  assign has_mobile_media = false
  assign has_image_1_mobile = false
  assign has_image_2_mobile = false
  assign has_video_1_mobile = false
  assign has_video_2_mobile = false
  assign media_type_1_mobile = section.settings.media_type_1_mobile
  assign media_type_2_mobile = section.settings.media_type_2_mobile

  if section.settings.image_1_mobile != blank and media_type_1_mobile == 'image'
    assign has_image_1_mobile = true
    assign has_mobile_media = true
  endif
  if section.settings.image_2_mobile != blank and media_type_2_mobile == 'image'
    assign has_image_2_mobile = true
    assign has_mobile_media = true
  endif
  if section.settings.video_1_mobile != blank and media_type_1_mobile == 'video'
    assign has_video_1_mobile = true
    assign has_mobile_media = true
  endif
  if section.settings.video_2_mobile != blank and media_type_2_mobile == 'video'
    assign has_video_2_mobile = true
    assign has_mobile_media = true
  endif

  assign alpha = section.settings.overlay_color.alpha
  assign is_transparent = true
  if alpha == 1 and section.settings.toggle_overlay
    assign is_transparent = false
  endif

  assign fetch_priority = 'auto'

  if section.index == 1
    assign fetch_priority = 'high'
  endif
%}

{% capture media %}
  {%- comment -%} Desktop Media {%- endcomment -%}
  <div class="hero__media-desktop{% if has_mobile_media %} hidden--mobile{% endif %}">
    {%- if has_image_1 -%}
      {% assign media_count = media_count | plus: 1 %}
      {{
        section.settings.image_1
        | image_url: width: 3840
        | image_tag:
          width: section.settings.image_1.width,
          widths: widths,
          height: section.settings.image_1.height,
          alt: section.settings.image_1.alt,
          class: 'hero__image',
          sizes: sizes,
          fetchpriority: fetch_priority
      }}
    {%- endif -%}

    {%- if has_video_1 -%}
      {% assign media_count = media_count | plus: 1 %}
      {%- if section.settings.video_1.preview_image -%}
        {% liquid
          assign fetch_priority_poster = false
          if section.index == 1
            assign fetch_priority_poster = 'high'
          endif
        %}
        {{
          section.settings.video_1.preview_image
          | image_url: width: 3840
          | image_tag:
            width: section.settings.video_1.preview_image.width,
            widths: widths,
            height: section.settings.video_1.preview_image.height,
            alt: section.settings.video_1.alt,
            class: 'hero__video-poster',
            sizes: sizes,
            fetchpriority: fetch_priority_poster
        }}
      {%- endif -%}
      {{
        section.settings.video_1
        | video_tag:
          poster: nil,
          autoplay: true,
          loop: true,
          controls: false,
          muted: true,
          class: 'hero__video'
      }}
    {%- endif -%}

    {%- if has_image_2 -%}
      {% assign media_count = media_count | plus: 1 %}
      {{
        section.settings.image_2
        | image_url: width: 3840
        | image_tag:
          width: section.settings.image_2.width,
          widths: widths,
          height: section.settings.image_2.height,
          alt: section.settings.image_2.alt,
          class: 'hero__image',
          sizes: sizes,
          fetchpriority: fetch_priority
      }}
    {%- endif -%}

    {%- if has_video_2 -%}
      {% assign media_count = media_count | plus: 1 %}
      {%- if section.settings.video_2.preview_image -%}
        {{
          section.settings.video_2.preview_image
          | image_url: width: 3840
          | image_tag:
            width: section.settings.video_2.preview_image.width,
            widths: widths,
            height: section.settings.video_2.preview_image.height,
            alt: section.settings.video_2.alt,
            class: 'hero__video-poster',
            sizes: sizes
        }}
      {%- endif -%}
      {{
        section.settings.video_2
        | video_tag:
          poster: nil,
          autoplay: true,
          loop: true,
          controls: false,
          muted: true,
          class: 'hero__video'
      }}
    {%- endif -%}

    {% if has_media == false and is_transparent %}
      <placeholder-image
        class="hero__image"
        data-block-id="{{ section.id }}"
        data-type="general"
      ></placeholder-image>
    {%- endif -%}
  </div>

  {%- comment -%} Mobile Media - only render if we have dedicated mobile media {%- endcomment -%}
  {%- if has_mobile_media -%}
    <div class="hero__media-mobile hidden--desktop">
      {%- if has_image_1_mobile -%}
        {{
          section.settings.image_1_mobile
          | image_url: width: 1600
          | image_tag:
            width: section.settings.image_1_mobile.width,
            widths: '400, 600, 800, 1000, 1200, 1600',
            height: section.settings.image_1_mobile.height,
            alt: section.settings.image_1_mobile.alt,
            class: 'hero__image',
            sizes: '100vw',
            fetchpriority: fetch_priority
        }}
      {%- endif -%}

      {%- if has_video_1_mobile -%}
        {%- if section.settings.video_1_mobile.preview_image -%}
          {{
            section.settings.video_1_mobile.preview_image
            | image_url: width: 1600
            | image_tag:
              width: section.settings.video_1_mobile.preview_image.width,
              widths: '400, 600, 800, 1000, 1200, 1600',
              height: section.settings.video_1_mobile.preview_image.height,
              alt: section.settings.video_1_mobile.alt,
              class: 'hero__video-poster',
              sizes: '100vw'
          }}
        {%- endif -%}
        {{
          section.settings.video_1_mobile
          | video_tag:
            poster: nil,
            autoplay: true,
            loop: true,
            controls: false,
            muted: true,
            class: 'hero__video'
        }}
      {%- endif -%}

      {%- if has_image_2_mobile -%}
        {{
          section.settings.image_2_mobile
          | image_url: width: 1600
          | image_tag:
            width: section.settings.image_2_mobile.width,
            widths: '400, 600, 800, 1000, 1200, 1600',
            height: section.settings.image_2_mobile.height,
            alt: section.settings.image_2_mobile.alt,
            class: 'hero__image',
            sizes: '100vw',
            fetchpriority: fetch_priority
        }}
      {%- endif -%}

      {%- if has_video_2_mobile -%}
        {%- if section.settings.video_2_mobile.preview_image -%}
          {{
            section.settings.video_2_mobile.preview_image
            | image_url: width: 1600
            | image_tag:
              width: section.settings.video_2_mobile.preview_image.width,
              widths: '400, 600, 800, 1000, 1200, 1600',
              height: section.settings.video_2_mobile.preview_image.height,
              alt: section.settings.video_2_mobile.alt,
              class: 'hero__video-poster',
              sizes: '100vw'
          }}
        {%- endif -%}
        {{
          section.settings.video_2_mobile
          | video_tag:
            poster: nil,
            autoplay: true,
            loop: true,
            controls: false,
            muted: true,
            class: 'hero__video'
        }}
      {%- endif -%}
    </div>
  {%- endif -%}
{% endcapture %}

{% capture media_blurred %}
  {% if has_image_1 %}
    {{
      section.settings.image_1
      | image_url: width: 3840
      | image_tag:
        width: section.settings.image_1.width,
        widths: widths,
        height: section.settings.image_1.height,
        alt: '',
        class: 'hero__image',
        sizes: sizes
    }}
  {% endif %}
  {% if has_image_2 %}
    {{
      section.settings.image_2
      | image_url: width: 3840
      | image_tag:
        width: section.settings.image_2.width,
        widths: widths,
        height: section.settings.image_2.height,
        alt: '',
        class: 'hero__image',
        sizes: sizes
    }}
  {% endif %}
  {% if has_media == false and is_transparent %}
    <placeholder-image
      class="hero__image"
      data-block-id="{{ section.id }}"
      data-type="general"
    ></placeholder-image>
  {% endif %}
{% endcapture %}

<div
  id="Hero-{{ section.id }}"
  class="hero color-{{ section.settings.color_scheme }}{% if section.blocks.size == 0 and section.settings.section_height == 'auto' %} hero--no-blocks-auto-height{% endif %}"
  style="
    --hero-border-style: {{ section.settings.border }};
    --hero-border-width: {{ section.settings.border_width }}px;
    --hero-border-opacity: {{ section.settings.border_opacity }}%;
    --blur-opacity: {{ section.settings.reflection_opacity | divided_by: 100.0 }};
    {% if section.settings.section_height == 'custom' %}
      --hero-min-height: {{ section.settings.section_height_custom }}svh;
    {% elsif section.settings.section_height == "full-screen" %}
       --hero-min-height: 100svh;
    {% else %}
      --hero-min-height: var(--section-height-{{ section.settings.section_height }});
    {% endif %}
  "
  {% if request.visual_preview_mode %}
    data-shopify-visual-preview
  {% endif %}
  {% if section.settings.blurred_reflection and has_video_multiple == false %}
    data-blur-shadow="true"
  {% endif %}
  {% if section.settings.allow_transparent_header %}allow-transparent-header{% endif %}
>
  {% if section.settings.blurred_reflection %}
    {% unless has_video_multiple or is_transparent == false %}
      <div class="hero__blurred-image">
        {{ media_blurred }}
      </div>
    {% endunless %}
  {% endif %}

  {% comment %}
    Hardcoded to section--full-width bc the media has to be full width in all cases.
    hero__content-wrapper applies section_width.
  {% endcomment %}

  <div
    class="hero__container spacing-style section section--full-width"
    style="      {% render 'spacing-style', settings: section.settings %}"
  >
    {%- if section.settings.link != blank -%}
      <a
        href="{{ section.settings.link }}"
        class="hero__link"
        {% if section.settings.open_in_new_tab %}
          target="_blank" rel="noopener"
        {% endif %}
      ></a>
    {%- endif -%}
    <div
      class="hero__media-wrapper"
      {%- if section.settings.image_1 != blank -%}
        style="--hero-media-aspect-ratio: {{ section.settings.image_1.aspect_ratio }}; --hero-media-count: {{ media_count }};"
      {%- endif -%}
    >
      {% liquid
        if section.settings.toggle_overlay
          render 'overlay', settings: section.settings
        endif
      %}
      {{ media }}
    </div>
    <div
      class="
        hero__content-wrapper
        layout-panel-flex
        layout-panel-flex--{{ section.settings.content_direction }}
        {% if section.settings.vertical_on_mobile %}mobile-column{% endif %}
        section-content-wrapper
        {{section.settings.section_width}}
        {% if request.design_mode %}hero__content-wrapper--design-mode{% endif %}
      "
      style="{% render 'layout-panel-style', settings: section.settings %}"
    >
      {% content_for 'blocks' %}
    </div>
  </div>
</div>
{%if section.settings.allow_transparent_header %}
  <style>
    .\31-header {
      --transparent-color-background: rgb({{ section.settings.color_scheme_transparent.settings.background.rgba }});
      /* RGB values only to apply different opacities - Relative color values are not supported in iOS < 16.4 */
      --transparent-color-background-rgb: {{ section.settings.color_scheme_transparent.settings.background.rgb }};
      --transparent-color-foreground: rgb({{ section.settings.color_scheme_transparent.settings.foreground.rgba }});
      --transparent-color-foreground-rgb: {{ section.settings.color_scheme_transparent.settings.foreground.rgb }};
      --transparent-color-foreground-heading: rgb({{ section.settings.color_scheme_transparent.settings.foreground_heading.rgba }});
      --transparent-color-foreground-heading-rgb: {{ section.settings.color_scheme_transparent.settings.foreground_heading.rgb }};
      --transparent-color-primary: rgb({{ section.settings.color_scheme_transparent.settings.primary.rgba }});
      --transparent-color-primary-rgb: {{ section.settings.color_scheme_transparent.settings.primary.rgb }};
      --transparent-color-primary-hover: rgb({{ section.settings.color_scheme_transparent.settings.primary_hover.rgba }});
      --transparent-color-primary-hover-rgb: {{ section.settings.color_scheme_transparent.settings.primary_hover.rgb }};
      --transparent-color-border: rgb({{ section.settings.color_scheme_transparent.settings.border.rgba }});
      --transparent-color-border-rgb: {{ section.settings.color_scheme_transparent.settings.border.rgb }};
      --transparent-color-shadow: rgb({{ section.settings.color_scheme_transparent.settings.shadow.rgba }});
      --transparent-color-shadow-rgb: {{ section.settings.color_scheme_transparent.settings.shadow.rgb }};
      --transparent-color-primary-button-text: rgb({{ section.settings.color_scheme_transparent.settings.primary_button_text.rgba }});
      --transparent-color-primary-button-background: rgb({{ section.settings.color_scheme_transparent.settings.primary_button_background.rgba }});
      --transparent-color-primary-button-border: rgb({{ section.settings.color_scheme_transparent.settings.primary_button_border.rgba }});
      --transparent-color-primary-button-hover-text: rgb({{ section.settings.color_scheme_transparent.settings.primary_button_hover_text.rgba }});
      --transparent-color-primary-button-hover-background: rgb({{ section.settings.color_scheme_transparent.settings.primary_button_hover_background.rgba }});
      --transparent-color-primary-button-hover-border: rgb({{ section.settings.color_scheme_transparent.settings.primary_button_hover_border.rgba }});
      --transparent-color-secondary-button-text: rgb({{ section.settings.color_scheme_transparent.settings.secondary_button_text.rgba }});
      --transparent-color-secondary-button-background: rgb({{ section.settings.color_scheme_transparent.settings.secondary_button_background.rgba }});
      --transparent-color-secondary-button-border: rgb({{ section.settings.color_scheme_transparent.settings.secondary_button_border.rgba }});
      --transparent-color-secondary-button-hover-text: rgb({{ section.settings.color_scheme_transparent.settings.secondary_button_hover_text.rgba }});
      --transparent-color-secondary-button-hover-background: rgb({{ section.settings.color_scheme_transparent.settings.secondary_button_hover_background.rgba }});
      --transparent-color-secondary-button-hover-border: rgb({{ section.settings.color_scheme_transparent.settings.secondary_button_hover_border.rgba }});
    }
  </style>
{% endif %}
{% stylesheet %}
  .hero-wrapper {
    --hero-height-offset: 0px;
  }

  body:has(> #header-group > .header-section > #header-component[transparent]):not(
      :has(> #header-group > .header-section + .shopify-section)
    )
    .hero-wrapper:first-child {
    --hero-height-offset: var(--header-group-height, 0);
  }

  .hero {
    position: relative;
    min-height: calc(var(--hero-min-height) - var(--hero-height-offset));
  }

  .hero[data-shopify-visual-preview] {
    --hero-min-height: 600px;

    min-height: 600px;
  }

  .hero__container {
    position: relative;
    overflow: hidden;
    border: var(--hero-border-width) var(--hero-border-style) rgb(var(--color-border-rgb) / var(--hero-border-opacity));
    min-height: inherit;
    align-items: var(--vertical-alignment-mobile);
    justify-content: var(--horizontal-alignment);
    z-index: var(--layer-base);

    @media screen and (min-width: 750px) {
      align-items: var(--vertical-alignment);
    }
  }

  .hero__content-wrapper.page-width {
    grid-column: 2 / 3;
  }

  .hero__content-wrapper {
    position: relative;
    inset: 0;
    z-index: var(--layer-flat);
  }

  .hero__content-wrapper .group-block-content {
    position: relative;
  }

  .hero__media-wrapper {
    position: absolute;
    inset: 0;
    display: grid;
    grid-column: 1 / -1;
    grid-template-columns: repeat(var(--hero-media-count, 1), 1fr);
  }

  .hero--auto .hero__image,
  .hero--auto .hero__video {
    aspect-ratio: var(--hero-media-aspect-ratio);
  }

  .hero--no-blocks-auto-height {
    :is(.hero__image, .hero__video) {
      width: 100%;
      aspect-ratio: auto;
    }

    .hero__media-wrapper {
      /* When there are no blocks and the height is auto, allow the image to appear. */
      position: relative;
    }
  }

  .hero__image,
  .hero__video,
  .hero__video-poster {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center center;
    overflow: hidden;
    position: relative;
    z-index: var(--layer-base);
  }

  img.hero__video-poster {
    position: absolute;
  }

  .hero__link {
    position: absolute;
    inset: 0;
    grid-column: 1 / -1;
  }

  .hero__media-wrapper,
  .hero__content-wrapper {
    pointer-events: none;

    :is(a, button, input, textarea, select) {
      pointer-events: auto;
    }
  }

  .hero__content-wrapper--design-mode * {
    pointer-events: auto;
  }

  .hero[data-blur-shadow='true'] {
    --blurred-reflection-filter-saturate: saturate(1.5);
    --blurred-reflection-mask-image: linear-gradient(to bottom, black 0%, black 60%, transparent 100%);
    --blurred-reflection-box-shadow: rgb(0 0 0 / 5%) 0 0 1rem;
    --blurred-reflection-filter-blur: blur(20px);
    --blurred-reflection-scale: scale(2, 1.25);
    --blurred-reflection-padding-block-end: 60px;
  }

  .hero[data-blur-shadow='true'] .hero__container {
    overflow: inherit;
  }

  .hero[data-blur-shadow='true'] .hero__container::before {
    content: '';
    position: absolute;
    inset: 0;
    box-shadow: var(--blurred-reflection-box-shadow);
    mix-blend-mode: overlay;
    pointer-events: none;
    z-index: -1;
  }

  .hero__blurred-image {
    position: absolute;
    inset: 0;
    z-index: -1;
    mask-image: var(--blurred-reflection-mask-image);
    filter: var(--blurred-reflection-filter-saturate);
    pointer-events: none;
    transform: translateY(50%);
    overflow: hidden;
  }

  .hero__blurred-image img {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
    filter: var(--blurred-reflection-filter-blur);
    opacity: var(--blur-opacity);
    transform: var(--blurred-reflection-scale);
    padding-block-end: var(--blurred-reflection-padding-block-end);

    &:not(:only-child) {
      width: 50%;

      &:last-child {
        right: 0;
        left: auto;
      }
    }
  }

  .hero__media-desktop,
  .hero__media-mobile {
    display: contents;
  }
{% endstylesheet %}

{% schema %}
{
  "name": "t:names.1_hero",
  "tag": "section",
  "class": "hero-wrapper section-wrapper",
  "blocks": [
    {
      "type": "@theme"
    },
    {
      "type": "text"
    },
    {
      "type": "button"
    },
    {
      "type": "logo"
    },
    {
      "type": "jumbo-text"
    },
    {
      "type": "spacer"
    },
    {
      "type": "group"
    },
    {
      "type": "_marquee"
    }
  ],
  "disabled_on": {
    "groups": ["header"]
  },
  "settings": [
    {
      "type": "checkbox",
      "id": "allow_transparent_header",
      "label": "t:settings.1_allow_transparent_header",
      "info": "t:info.1_allow_transparent_header_info",
      "default": false
    },
    {
      "type": "color_scheme",
      "id": "color_scheme_transparent",
      "label": "t:settings.inverse",
      "default": "scheme-16",
      "visible_if": "{{ section.settings.allow_transparent_header }}"
    },
    {
      "type": "header",
      "content": "t:content.media"
    },
    {
      "type": "select",
      "id": "media_type_1",
      "label": "t:settings.type",
      "options": [
        {
          "value": "image",
          "label": "t:options.image"
        },
        {
          "value": "video",
          "label": "t:options.video"
        }
      ],
      "default": "image"
    },
    {
      "type": "image_picker",
      "id": "image_1",
      "label": "t:settings.image",
      "visible_if": "{{ section.settings.media_type_1 == 'image' }}"
    },
    {
      "type": "video",
      "id": "video_1",
      "label": "t:settings.video",
      "visible_if": "{{ section.settings.media_type_1 == 'video' }}"
    },
    {
      "type": "header",
      "content": "Mobile media 1"
    },
    {
      "type": "paragraph",
      "content": "If empty, desktop media will be used"
    },
    {
      "type": "select",
      "id": "media_type_1_mobile",
      "label": "t:settings.type",
      "options": [
        {
          "value": "image",
          "label": "t:options.image"
        },
        {
          "value": "video",
          "label": "t:options.video"
        }
      ],
      "default": "image"
    },
    {
      "type": "image_picker",
      "id": "image_1_mobile",
      "label": "t:settings.image",
      "visible_if": "{{ section.settings.media_type_1_mobile == 'image' }}"
    },
    {
      "type": "video",
      "id": "video_1_mobile",
      "label": "t:settings.video",
      "visible_if": "{{ section.settings.media_type_1_mobile == 'video' }}"
    },
    {
      "type": "header",
      "content": "t:content.media_2"
    },
    {
      "type": "select",
      "id": "media_type_2",
      "label": "t:settings.type",
      "options": [
        {
          "value": "image",
          "label": "t:options.image"
        },
        {
          "value": "video",
          "label": "t:options.video"
        }
      ],
      "default": "image"
    },
    {
      "type": "image_picker",
      "id": "image_2",
      "label": "t:settings.image",
      "visible_if": "{{ section.settings.media_type_2 == 'image' }}"
    },
    {
      "type": "video",
      "id": "video_2",
      "label": "t:settings.video",
      "visible_if": "{{ section.settings.media_type_2 == 'video' }}"
    },
    {
      "type": "header",
      "content": "Mobile media 2"
    },
    {
      "type": "paragraph",
      "content": "If empty, desktop media will be used"
    },
    {
      "type": "select",
      "id": "media_type_2_mobile",
      "label": "t:settings.type",
      "options": [
        {
          "value": "image",
          "label": "t:options.image"
        },
        {
          "value": "video",
          "label": "t:options.video"
        }
      ],
      "default": "image"
    },
    {
      "type": "image_picker",
      "id": "image_2_mobile",
      "label": "t:settings.image",
      "visible_if": "{{ section.settings.media_type_2_mobile == 'image' }}"
    },
    {
      "type": "video",
      "id": "video_2_mobile",
      "label": "t:settings.video",
      "visible_if": "{{ section.settings.media_type_2_mobile == 'video' }}"
    },
    {
      "type": "header",
      "content": "t:content.section_link"
    },
    {
      "type": "url",
      "id": "link",
      "label": "t:settings.link"
    },
    {
      "type": "checkbox",
      "id": "open_in_new_tab",
      "label": "t:settings.open_new_tab",
      "default": false
    },
    {
      "type": "header",
      "content": "t:content.layout"
    },
    {
      "type": "select",
      "id": "content_direction",
      "label": "t:settings.direction",
      "options": [
        {
          "value": "column",
          "label": "t:options.vertical"
        },
        {
          "value": "row",
          "label": "t:options.horizontal"
        }
      ],
      "default": "column"
    },
    {
      "type": "checkbox",
      "id": "vertical_on_mobile",
      "label": "t:settings.vertical_on_mobile",
      "default": true,
      "visible_if": "{{ section.settings.content_direction == 'row' }}"
    },
    {
      "type": "select",
      "id": "horizontal_alignment",
      "label": "t:settings.alignment",
      "options": [
        {
          "value": "flex-start",
          "label": "t:options.left"
        },
        {
          "value": "center",
          "label": "t:options.center"
        },
        {
          "value": "flex-end",
          "label": "t:options.right"
        },
        {
          "value": "space-between",
          "label": "t:options.space_between"
        }
      ],
      "default": "flex-start",
      "visible_if": "{{ section.settings.content_direction == 'row' }}"
    },
    {
      "type": "select",
      "id": "vertical_alignment",
      "label": "t:settings.position",
      "options": [
        {
          "value": "flex-start",
          "label": "t:options.top"
        },
        {
          "value": "center",
          "label": "t:options.center"
        },
        {
          "value": "flex-end",
          "label": "t:options.bottom"
        }
      ],
      "default": "center",
      "visible_if": "{{ section.settings.content_direction == 'row' }}"
    },
    {
      "type": "checkbox",
      "id": "align_baseline",
      "label": "t:settings.align_baseline",
      "default": false,
      "visible_if": "{{ section.settings.vertical_alignment == 'flex-end' }}"
    },
    {
      "type": "select",
      "id": "horizontal_alignment_flex_direction_column",
      "label": "t:settings.alignment",
      "options": [
        {
          "value": "flex-start",
          "label": "t:options.left"
        },
        {
          "value": "center",
          "label": "t:options.center"
        },
        {
          "value": "flex-end",
          "label": "t:options.right"
        }
      ],
      "default": "flex-start",
      "visible_if": "{{ section.settings.content_direction != 'row' }}"
    },
    {
      "type": "select",
      "id": "vertical_alignment_flex_direction_column",
      "label": "t:settings.position",
      "options": [
        {
          "value": "flex-start",
          "label": "t:options.top"
        },
        {
          "value": "center",
          "label": "t:options.center"
        },
        {
          "value": "flex-end",
          "label": "t:options.bottom"
        },
        {
          "value": "space-between",
          "label": "t:options.space_between"
        }
      ],
      "default": "center",
      "visible_if": "{{ section.settings.content_direction == 'column' }}"
    },
    {
      "type": "range",
      "id": "gap",
      "label": "t:settings.gap",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 12
    },
    {
      "type": "select",
      "id": "section_width",
      "label": "t:settings.width",
      "options": [
        {
          "value": "page-width",
          "label": "t:options.page"
        },
        {
          "value": "full-width",
          "label": "t:options.full"
        }
      ],
      "default": "page-width"
    },
    {
      "type": "select",
      "id": "section_height",
      "label": "t:settings.height",
      "options": [
        {
          "value": "auto",
          "label": "t:options.auto"
        },
        {
          "value": "small",
          "label": "t:options.small"
        },
        {
          "value": "medium",
          "label": "t:options.medium"
        },
        {
          "value": "large",
          "label": "t:options.large"
        },
        {
          "value": "full-screen",
          "label": "t:options.full_screen"
        },
        {
          "value": "custom",
          "label": "t:options.custom"
        }
      ],
      "default": "medium"
    },
    {
      "type": "range",
      "id": "section_height_custom",
      "label": "t:settings.custom_height",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 50,
      "unit": "%",
      "visible_if": "{{ section.settings.section_height == 'custom' }}"
    },
    {
      "type": "header",
      "content": "t:content.appearance"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:settings.color_scheme",
      "default": "scheme-1"
    },
    {
      "type": "checkbox",
      "id": "toggle_overlay",
      "label": "t:settings.media_overlay"
    },
    {
      "type": "color",
      "id": "overlay_color",
      "label": "t:settings.overlay_color",
      "alpha": true,
      "default": "#00000026",
      "visible_if": "{{ section.settings.toggle_overlay }}"
    },
    {
      "type": "select",
      "id": "overlay_style",
      "label": "t:settings.overlay_style",
      "options": [
        {
          "value": "solid",
          "label": "t:options.solid"
        },
        {
          "value": "gradient",
          "label": "t:options.gradient"
        }
      ],
      "default": "solid",
      "visible_if": "{{ section.settings.toggle_overlay }}"
    },
    {
      "type": "select",
      "id": "gradient_direction",
      "label": "t:settings.gradient_direction",
      "options": [
        {
          "value": "to top",
          "label": "t:options.up"
        },
        {
          "value": "to bottom",
          "label": "t:options.down"
        }
      ],
      "default": "to top",
      "visible_if": "{{ section.settings.toggle_overlay and section.settings.overlay_style == 'gradient' }}"
    },
    {
      "type": "checkbox",
      "id": "blurred_reflection",
      "label": "t:settings.blurred_reflection",
      "default": false,
      "info": "t:info.applies_on_image_only"
    },
    {
      "type": "range",
      "id": "reflection_opacity",
      "label": "t:settings.reflection_opacity",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "default": 75,
      "visible_if": "{{ section.settings.blurred_reflection }}"
    },
    {
      "type": "header",
      "content": "t:content.padding"
    },
    {
      "type": "range",
      "id": "padding-block-start",
      "label": "t:settings.top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding-block-end",
      "label": "t:settings.bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    }
  ],
  "presets": [
    {
      "name": "t:names.1_hero",
      "category": "t:categories.banners",
      "blocks": {
        "info": {
          "type": "1-group",
          "name": "Info",
          "settings": {
            "link": "",
            "open_in_new_tab": false,
            "visibility": "show_all",
            "content_direction": "column",
            "vertical_on_mobile": true,
            "horizontal_on_mobile": false,
            "reverse_order_on_mobile": false,
            "horizontal_alignment": "flex-start",
            "vertical_alignment": "center",
            "align_baseline": false,
            "horizontal_alignment_flex_direction_column": "flex-start",
            "vertical_alignment_flex_direction_column": "center",
            "gap": 16,
            "flex_wrap": "nowrap",
            "use_mobile_layout": false,
            "horizontal_alignment_mobile": "flex-start",
            "vertical_alignment_mobile": "center",
            "align_baseline_mobile": false,
            "horizontal_alignment_flex_direction_column_mobile": "flex-start",
            "vertical_alignment_flex_direction_column_mobile": "center",
            "gap_mobile": 12,
            "flex_wrap_mobile": "inherit",
            "width": "custom",
            "custom_width": 90,
            "width_mobile": "custom",
            "custom_width_mobile": 75,
            "height": "fit",
            "custom_height": 100,
            "inherit_color_scheme": true,
            "color_scheme": "",
            "background_media": "none",
            "video_position": "cover",
            "background_image_position": "cover",
            "enable_backdrop_blur": false,
            "backdrop_blur_amount": 20,
            "border": "none",
            "border_width": 1,
            "border_opacity": 100,
            "border_radius": 0,
            "toggle_overlay": false,
            "overlay_color": "#00000026",
            "overlay_style": "solid",
            "gradient_direction": "to top",
            "padding-block-start": 64,
            "padding-block-end": 0,
            "padding-inline-start": 0,
            "padding-inline-end": 0,
            "use_mobile_padding": true,
            "padding-block-start-mobile": 24,
            "padding-block-end-mobile": 0,
            "padding-inline-start-mobile": 0,
            "padding-inline-end-mobile": 0
          },
          "blocks": {
            "1_group_RhnNPK": {
              "type": "1-group",
              "name": "t:names.1_group",
              "settings": {
                "link": "",
                "open_in_new_tab": false,
                "visibility": "show_all",
                "content_direction": "column",
                "vertical_on_mobile": true,
                "horizontal_on_mobile": false,
                "reverse_order_on_mobile": false,
                "horizontal_alignment": "flex-start",
                "vertical_alignment": "center",
                "align_baseline": false,
                "horizontal_alignment_flex_direction_column": "flex-start",
                "vertical_alignment_flex_direction_column": "center",
                "gap": 12,
                "flex_wrap": "nowrap",
                "use_mobile_layout": false,
                "horizontal_alignment_mobile": "flex-start",
                "vertical_alignment_mobile": "center",
                "align_baseline_mobile": false,
                "horizontal_alignment_flex_direction_column_mobile": "flex-start",
                "vertical_alignment_flex_direction_column_mobile": "center",
                "gap_mobile": 12,
                "flex_wrap_mobile": "inherit",
                "width": "fill",
                "custom_width": 100,
                "width_mobile": "fill",
                "custom_width_mobile": 100,
                "height": "fit",
                "custom_height": 100,
                "inherit_color_scheme": true,
                "color_scheme": "",
                "background_media": "none",
                "video_position": "cover",
                "background_image_position": "cover",
                "enable_backdrop_blur": false,
                "backdrop_blur_amount": 20,
                "border": "none",
                "border_width": 1,
                "border_opacity": 100,
                "border_radius": 0,
                "toggle_overlay": false,
                "overlay_color": "#00000026",
                "overlay_style": "solid",
                "gradient_direction": "to top",
                "padding-block-start": 0,
                "padding-block-end": 0,
                "padding-inline-start": 0,
                "padding-inline-end": 0,
                "use_mobile_padding": false,
                "padding-block-start-mobile": 0,
                "padding-block-end-mobile": 0,
                "padding-inline-start-mobile": 0,
                "padding-inline-end-mobile": 0
              },
              "blocks": {
                "1_group_YmYhT3": {
                  "type": "1-group",
                  "name": "t:names.1_group",
                  "settings": {
                    "link": "",
                    "open_in_new_tab": false,
                    "visibility": "show_all",
                    "content_direction": "column",
                    "vertical_on_mobile": true,
                    "horizontal_on_mobile": false,
                    "reverse_order_on_mobile": false,
                    "horizontal_alignment": "flex-start",
                    "vertical_alignment": "center",
                    "align_baseline": false,
                    "horizontal_alignment_flex_direction_column": "flex-start",
                    "vertical_alignment_flex_direction_column": "center",
                    "gap": 12,
                    "flex_wrap": "nowrap",
                    "use_mobile_layout": false,
                    "horizontal_alignment_mobile": "flex-start",
                    "vertical_alignment_mobile": "center",
                    "align_baseline_mobile": false,
                    "horizontal_alignment_flex_direction_column_mobile": "flex-start",
                    "vertical_alignment_flex_direction_column_mobile": "center",
                    "gap_mobile": 12,
                    "flex_wrap_mobile": "inherit",
                    "width": "fit-content",
                    "custom_width": 100,
                    "width_mobile": "fit-content",
                    "custom_width_mobile": 100,
                    "height": "fit",
                    "custom_height": 100,
                    "inherit_color_scheme": false,
                    "color_scheme": "scheme-4",
                    "background_media": "none",
                    "video_position": "cover",
                    "background_image_position": "cover",
                    "enable_backdrop_blur": false,
                    "backdrop_blur_amount": 20,
                    "border": "none",
                    "border_width": 1,
                    "border_opacity": 100,
                    "border_radius": 100,
                    "toggle_overlay": false,
                    "overlay_color": "#00000026",
                    "overlay_style": "solid",
                    "gradient_direction": "to top",
                    "padding-block-start": 5,
                    "padding-block-end": 5,
                    "padding-inline-start": 12,
                    "padding-inline-end": 12,
                    "use_mobile_padding": false,
                    "padding-block-start-mobile": 0,
                    "padding-block-end-mobile": 0,
                    "padding-inline-start-mobile": 0,
                    "padding-inline-end-mobile": 0
                  },
                  "blocks": {
                    "1_text_eqhAEw": {
                      "type": "1-text",
                      "name": "t:names.1_text",
                      "settings": {
                        "text": "<p>Nature's Answer</p>",
                        "width": "fit-content",
                        "max_width": "normal",
                        "alignment": "left",
                        "type_preset": "custom",
                        "font": "var(--font-body--family)",
                        "font_size": "0.875rem",
                        "line_height": "tight",
                        "letter_spacing": "normal",
                        "case": "none",
                        "wrap": "pretty",
                        "color": "var(--color-foreground-heading)",
                        "background": false,
                        "background_color": "#ddebb4",
                        "corner_radius": 0,
                        "padding-block-start": 0,
                        "padding-block-end": 0,
                        "padding-inline-start": 0,
                        "padding-inline-end": 0
                      },
                      "blocks": {}
                    }
                  },
                  "block_order": [
                    "1_text_eqhAEw"
                  ]
                }
              },
              "block_order": [
                "1_group_YmYhT3"
              ]
            },
            "text_YXqH7M": {
              "type": "1-text",
              "name": "t:names.heading",
              "settings": {
                "text": "<h1>Empowering Healthier Lives<br/>Through Nature and Science.</h1>",
                "width": "fit-content",
                "max_width": "normal",
                "alignment": "left",
                "type_preset": "custom",
                "font": "var(--font-heading--family)",
                "font_size": "5rem",
                "line_height": "tight",
                "letter_spacing": "normal",
                "case": "none",
                "wrap": "pretty",
                "color": "var(--color-foreground-heading)",
                "background": false,
                "background_color": "#00000026",
                "corner_radius": 0,
                "padding-block-start": 0,
                "padding-block-end": 0,
                "padding-inline-start": 0,
                "padding-inline-end": 0
              },
              "blocks": {}
            },
            "1_text_RhdX6X": {
              "type": "1-text",
              "name": "t:names.1_text",
              "settings": {
                "text": "<p>Trusted herbal supplements crafted since 1972 for purity, <br/>potency, and real results.</p>",
                "width": "fit-content",
                "max_width": "normal",
                "alignment": "left",
                "type_preset": "custom",
                "font": "var(--font-subheading--family)",
                "font_size": "1rem",
                "line_height": "normal",
                "letter_spacing": "loose",
                "case": "none",
                "wrap": "pretty",
                "color": "var(--color-foreground-heading)",
                "background": false,
                "background_color": "#00000026",
                "corner_radius": 0,
                "padding-block-start": 0,
                "padding-block-end": 16,
                "padding-inline-start": 0,
                "padding-inline-end": 0
              },
              "blocks": {}
            },
            "button_VkDYwm": {
              "type": "button",
              "name": "t:names.button",
              "settings": {
                "label": "Learn More",
                "link": "shopify://collections/all",
                "open_in_new_tab": false,
                "style_class": "button",
                "width": "custom",
                "custom_width": 22,
                "width_mobile": "custom",
                "custom_width_mobile": 100
              },
              "blocks": {}
            }
          },
          "block_order": [
            "1_group_RhnNPK",
            "text_YXqH7M",
            "1_text_RhdX6X",
            "button_VkDYwm"
          ]
        }
      },
      "block_order": [
        "info"
      ],
      "settings": {
        "allow_transparent_header": false,
        "color_scheme_transparent": "",
        "media_type_1": "image",
        "image_1": "shopify://shop_images/Frame_299.png",
        "media_type_2": "image",
        "link": "",
        "open_in_new_tab": false,
        "content_direction": "row",
        "vertical_on_mobile": true,
        "horizontal_alignment": "space-between",
        "vertical_alignment": "flex-end",
        "align_baseline": true,
        "horizontal_alignment_flex_direction_column": "center",
        "vertical_alignment_flex_direction_column": "flex-end",
        "gap": 24,
        "section_width": "page-width",
        "section_height": "custom",
        "section_height_custom": 90,
        "color_scheme": "scheme-7",
        "toggle_overlay": false,
        "overlay_color": "#12121266",
        "overlay_style": "solid",
        "gradient_direction": "to bottom",
        "blurred_reflection": false,
        "reflection_opacity": 75,
        "padding-block-start": 64,
        "padding-block-end": 64
      }
    },
    {
      "name": "t:names.1_landing_page_hero",
      "category": "t:categories.banners",
      "blocks": {
        "1_group_HMAitc": {
          "type": "1-group",
          "name": "Info",
          "settings": {
            "link": "",
            "open_in_new_tab": false,
            "visibility": "show_all",
            "content_direction": "column",
            "vertical_on_mobile": true,
            "horizontal_on_mobile": false,
            "reverse_order_on_mobile": false,
            "horizontal_alignment": "flex-start",
            "vertical_alignment": "center",
            "align_baseline": false,
            "horizontal_alignment_flex_direction_column": "flex-start",
            "vertical_alignment_flex_direction_column": "center",
            "gap": 24,
            "flex_wrap": "nowrap",
            "use_mobile_layout": false,
            "horizontal_alignment_mobile": "flex-start",
            "vertical_alignment_mobile": "center",
            "align_baseline_mobile": false,
            "horizontal_alignment_flex_direction_column_mobile": "flex-start",
            "vertical_alignment_flex_direction_column_mobile": "center",
            "gap_mobile": 12,
            "flex_wrap_mobile": "inherit",
            "width": "custom",
            "custom_width": 75,
            "width_mobile": "fill",
            "custom_width_mobile": 100,
            "height": "fit",
            "custom_height": 100,
            "inherit_color_scheme": true,
            "color_scheme": "",
            "background_media": "none",
            "video_position": "cover",
            "background_image_position": "cover",
            "enable_backdrop_blur": false,
            "backdrop_blur_amount": 20,
            "border": "none",
            "border_width": 1,
            "border_opacity": 100,
            "border_radius": 0,
            "toggle_overlay": false,
            "overlay_color": "#00000026",
            "overlay_style": "solid",
            "gradient_direction": "to top",
            "padding-block-start": 64,
            "padding-block-end": 64,
            "padding-inline-start": 0,
            "padding-inline-end": 0,
            "use_mobile_padding": true,
            "padding-block-start-mobile": 80,
            "padding-block-end-mobile": 32,
            "padding-inline-start-mobile": 0,
            "padding-inline-end-mobile": 0
          },
          "blocks": {
            "1_group_qBn8ww": {
              "type": "1-group",
              "name": "t:names.1_group",
              "settings": {
                "link": "",
                "open_in_new_tab": false,
                "visibility": "show_all",
                "content_direction": "column",
                "vertical_on_mobile": true,
                "horizontal_on_mobile": false,
                "reverse_order_on_mobile": false,
                "horizontal_alignment": "flex-start",
                "vertical_alignment": "center",
                "align_baseline": false,
                "horizontal_alignment_flex_direction_column": "center",
                "vertical_alignment_flex_direction_column": "center",
                "gap": 12,
                "flex_wrap": "nowrap",
                "use_mobile_layout": false,
                "horizontal_alignment_mobile": "flex-start",
                "vertical_alignment_mobile": "center",
                "align_baseline_mobile": false,
                "horizontal_alignment_flex_direction_column_mobile": "flex-start",
                "vertical_alignment_flex_direction_column_mobile": "center",
                "gap_mobile": 12,
                "flex_wrap_mobile": "inherit",
                "width": "fit-content",
                "custom_width": 100,
                "width_mobile": "fit-content",
                "custom_width_mobile": 100,
                "height": "fit",
                "custom_height": 100,
                "inherit_color_scheme": false,
                "color_scheme": "scheme-4",
                "background_media": "none",
                "video_position": "cover",
                "background_image_position": "cover",
                "enable_backdrop_blur": false,
                "backdrop_blur_amount": 20,
                "border": "none",
                "border_width": 1,
                "border_opacity": 100,
                "border_radius": 100,
                "toggle_overlay": false,
                "overlay_color": "#00000026",
                "overlay_style": "solid",
                "gradient_direction": "to top",
                "padding-block-start": 5,
                "padding-block-end": 5,
                "padding-inline-start": 12,
                "padding-inline-end": 12,
                "use_mobile_padding": false,
                "padding-block-start-mobile": 0,
                "padding-block-end-mobile": 0,
                "padding-inline-start-mobile": 0,
                "padding-inline-end-mobile": 0
              },
              "blocks": {
                "1_text_EMTcch": {
                  "type": "1-text",
                  "name": "t:names.1_text",
                  "settings": {
                    "text": "<p>New</p>",
                    "width": "fit-content",
                    "max_width": "normal",
                    "alignment": "left",
                    "type_preset": "custom",
                    "font": "var(--font-body--family)",
                    "font_size": "0.875rem",
                    "line_height": "tight",
                    "letter_spacing": "normal",
                    "case": "none",
                    "wrap": "pretty",
                    "color": "var(--color-foreground-heading)",
                    "background": false,
                    "background_color": "#ddebb4",
                    "corner_radius": 0,
                    "padding-block-start": 0,
                    "padding-block-end": 0,
                    "padding-inline-start": 0,
                    "padding-inline-end": 0
                  },
                  "blocks": {}
                }
              },
              "block_order": [
                "1_text_EMTcch"
              ]
            },
            "group_XGTeE9": {
              "type": "group",
              "name": "t:names.group",
              "settings": {
                "content_direction": "column",
                "vertical_on_mobile": true,
                "horizontal_alignment": "flex-start",
                "vertical_alignment": "center",
                "align_baseline": false,
                "horizontal_alignment_flex_direction_column": "flex-start",
                "vertical_alignment_flex_direction_column": "center",
                "gap": 10,
                "width": "fill",
                "custom_width": 100,
                "width_mobile": "fill",
                "custom_width_mobile": 100,
                "height": "fit",
                "custom_height": 100,
                "inherit_color_scheme": true,
                "color_scheme": "",
                "background_media": "none",
                "video_position": "cover",
                "background_image_position": "cover",
                "border": "none",
                "border_width": 1,
                "border_opacity": 100,
                "border_radius": 0,
                "toggle_overlay": false,
                "overlay_color": "#00000026",
                "overlay_style": "solid",
                "gradient_direction": "to top",
                "link": "",
                "open_in_new_tab": false,
                "placeholder": "",
                "padding-block-start": 0,
                "padding-block-end": 0,
                "padding-inline-start": 0,
                "padding-inline-end": 0
              },
              "blocks": {
                "1_text_PGPr4m": {
                  "type": "1-text",
                  "name": "t:names.heading",
                  "settings": {
                    "text": "<h1>Natural Cough Syrup And Respiratory Support.</h1>",
                    "width": "fit-content",
                    "max_width": "normal",
                    "alignment": "left",
                    "type_preset": "custom",
                    "font": "var(--font-heading--family)",
                    "font_size": "5rem",
                    "line_height": "tight",
                    "letter_spacing": "normal",
                    "case": "none",
                    "wrap": "pretty",
                    "color": "var(--color-foreground-heading)",
                    "background": false,
                    "background_color": "#00000026",
                    "corner_radius": 0,
                    "padding-block-start": 0,
                    "padding-block-end": 0,
                    "padding-inline-start": 0,
                    "padding-inline-end": 0
                  },
                  "blocks": {}
                },
                "1_group_QMNa4U": {
                  "type": "1-group",
                  "name": "t:names.1_group",
                  "settings": {
                    "link": "",
                    "open_in_new_tab": false,
                    "visibility": "show_all",
                    "content_direction": "column",
                    "vertical_on_mobile": true,
                    "horizontal_on_mobile": false,
                    "reverse_order_on_mobile": false,
                    "horizontal_alignment": "flex-start",
                    "vertical_alignment": "center",
                    "align_baseline": false,
                    "horizontal_alignment_flex_direction_column": "flex-start",
                    "vertical_alignment_flex_direction_column": "center",
                    "gap": 12,
                    "flex_wrap": "nowrap",
                    "use_mobile_layout": false,
                    "horizontal_alignment_mobile": "flex-start",
                    "vertical_alignment_mobile": "center",
                    "align_baseline_mobile": false,
                    "horizontal_alignment_flex_direction_column_mobile": "flex-start",
                    "vertical_alignment_flex_direction_column_mobile": "center",
                    "gap_mobile": 12,
                    "flex_wrap_mobile": "inherit",
                    "width": "custom",
                    "custom_width": 70,
                    "width_mobile": "fill",
                    "custom_width_mobile": 100,
                    "height": "fit",
                    "custom_height": 100,
                    "inherit_color_scheme": true,
                    "color_scheme": "",
                    "background_media": "none",
                    "video_position": "cover",
                    "background_image_position": "cover",
                    "enable_backdrop_blur": false,
                    "backdrop_blur_amount": 20,
                    "border": "none",
                    "border_width": 1,
                    "border_opacity": 100,
                    "border_radius": 0,
                    "toggle_overlay": false,
                    "overlay_color": "#00000026",
                    "overlay_style": "solid",
                    "gradient_direction": "to top",
                    "padding-block-start": 0,
                    "padding-block-end": 0,
                    "padding-inline-start": 0,
                    "padding-inline-end": 0,
                    "use_mobile_padding": true,
                    "padding-block-start-mobile": 0,
                    "padding-block-end-mobile": 100,
                    "padding-inline-start-mobile": 0,
                    "padding-inline-end-mobile": 0
                  },
                  "blocks": {
                    "1_text_NQkfTc": {
                      "type": "1-text",
                      "name": "t:names.1_text",
                      "settings": {
                        "text": "<p>Mullein-X delivers drug-free, non-drowsy relief using a potent blend of respiratory herbs extracted for maximum strength and purity. Clear mucus, soothe your throat, and support upper respiratory function with a formula designed to work with your body, not against it.</p>",
                        "width": "fit-content",
                        "max_width": "none",
                        "alignment": "left",
                        "type_preset": "custom",
                        "font": "var(--font-subheading--family)",
                        "font_size": "1rem",
                        "line_height": "normal",
                        "letter_spacing": "loose",
                        "case": "none",
                        "wrap": "pretty",
                        "color": "var(--color-foreground-heading)",
                        "background": false,
                        "background_color": "#00000026",
                        "corner_radius": 0,
                        "padding-block-start": 0,
                        "padding-block-end": 0,
                        "padding-inline-start": 0,
                        "padding-inline-end": 0
                      },
                      "blocks": {}
                    }
                  },
                  "block_order": [
                    "1_text_NQkfTc"
                  ]
                }
              },
              "block_order": [
                "1_text_PGPr4m",
                "1_group_QMNa4U"
              ]
            },
            "1_group_VdV64y": {
              "type": "1-group",
              "name": "t:names.1_group",
              "settings": {
                "link": "",
                "open_in_new_tab": false,
                "visibility": "show_all",
                "content_direction": "column",
                "vertical_on_mobile": true,
                "horizontal_on_mobile": false,
                "reverse_order_on_mobile": false,
                "horizontal_alignment": "flex-start",
                "vertical_alignment": "center",
                "align_baseline": false,
                "horizontal_alignment_flex_direction_column": "flex-start",
                "vertical_alignment_flex_direction_column": "center",
                "gap": 12,
                "flex_wrap": "nowrap",
                "use_mobile_layout": false,
                "horizontal_alignment_mobile": "flex-start",
                "vertical_alignment_mobile": "center",
                "align_baseline_mobile": false,
                "horizontal_alignment_flex_direction_column_mobile": "flex-start",
                "vertical_alignment_flex_direction_column_mobile": "center",
                "gap_mobile": 12,
                "flex_wrap_mobile": "inherit",
                "width": "fill",
                "custom_width": 100,
                "width_mobile": "fill",
                "custom_width_mobile": 100,
                "height": "fit",
                "custom_height": 100,
                "inherit_color_scheme": true,
                "color_scheme": "",
                "background_media": "none",
                "video_position": "cover",
                "background_image_position": "cover",
                "enable_backdrop_blur": false,
                "backdrop_blur_amount": 20,
                "border": "none",
                "border_width": 1,
                "border_opacity": 100,
                "border_radius": 0,
                "toggle_overlay": false,
                "overlay_color": "#00000026",
                "overlay_style": "solid",
                "gradient_direction": "to top",
                "padding-block-start": 0,
                "padding-block-end": 0,
                "padding-inline-start": 0,
                "padding-inline-end": 0,
                "use_mobile_padding": true,
                "padding-block-start-mobile": 100,
                "padding-block-end-mobile": 0,
                "padding-inline-start-mobile": 0,
                "padding-inline-end-mobile": 0
              },
              "blocks": {
                "button_zFxBqU": {
                  "type": "button",
                  "name": "t:names.button",
                  "settings": {
                    "label": "Shop Mullein-X",
                    "link": "shopify://collections/all",
                    "open_in_new_tab": false,
                    "style_class": "button",
                    "width": "custom",
                    "custom_width": 24,
                    "width_mobile": "custom",
                    "custom_width_mobile": 100
                  },
                  "blocks": {}
                }
              },
              "block_order": [
                "button_zFxBqU"
              ]
            }
          },
          "block_order": [
            "1_group_qBn8ww",
            "group_XGTeE9",
            "1_group_VdV64y"
          ]
        }
      },
      "block_order": [
        "1_group_HMAitc"
      ],
      "settings": {
        "allow_transparent_header": true,
        "color_scheme_transparent": "scheme-16",
        "media_type_1": "image",
        "image_1": "shopify://shop_images/e078f48c80139a0061b296843b120b9bd2d68758.png",
        "media_type_2": "image",
        "link": "",
        "open_in_new_tab": false,
        "content_direction": "row",
        "vertical_on_mobile": true,
        "horizontal_alignment": "space-between",
        "vertical_alignment": "flex-end",
        "align_baseline": true,
        "horizontal_alignment_flex_direction_column": "center",
        "vertical_alignment_flex_direction_column": "flex-end",
        "gap": 24,
        "section_width": "page-width",
        "section_height": "medium",
        "section_height_custom": 76,
        "color_scheme": "scheme-58084d4c-a86e-4d0a-855e-a0966e5043f7",
        "toggle_overlay": false,
        "overlay_color": "#12121266",
        "overlay_style": "solid",
        "gradient_direction": "to bottom",
        "blurred_reflection": false,
        "reflection_opacity": 75,
        "padding-block-start": 100,
        "padding-block-end": 0
      }
    },
    {
      "name": "t:names.1_landing_page_hero_split",
      "category": "t:categories.banners",
      "blocks": {
        "content": {
          "type": "1-group",
          "name": "t:names.content",
          "settings": {
            "link": "",
            "open_in_new_tab": false,
            "visibility": "show_all",
            "content_direction": "column",
            "vertical_on_mobile": true,
            "horizontal_on_mobile": false,
            "reverse_order_on_mobile": false,
            "horizontal_alignment": "flex-start",
            "vertical_alignment": "center",
            "align_baseline": false,
            "horizontal_alignment_flex_direction_column": "flex-start",
            "vertical_alignment_flex_direction_column": "center",
            "gap": 16,
            "flex_wrap": "nowrap",
            "use_mobile_layout": false,
            "horizontal_alignment_mobile": "flex-start",
            "vertical_alignment_mobile": "center",
            "align_baseline_mobile": false,
            "horizontal_alignment_flex_direction_column_mobile": "flex-start",
            "vertical_alignment_flex_direction_column_mobile": "center",
            "gap_mobile": 12,
            "flex_wrap_mobile": "inherit",
            "width": "fill",
            "custom_width": 90,
            "width_mobile": "fill",
            "custom_width_mobile": 70,
            "height": "fit",
            "custom_height": 100,
            "inherit_color_scheme": true,
            "color_scheme": "",
            "background_media": "none",
            "video_position": "cover",
            "background_image_position": "cover",
            "enable_backdrop_blur": false,
            "backdrop_blur_amount": 20,
            "border": "none",
            "border_width": 1,
            "border_opacity": 100,
            "border_radius": 0,
            "toggle_overlay": false,
            "overlay_color": "#00000026",
            "overlay_style": "solid",
            "gradient_direction": "to top",
            "padding-block-start": 64,
            "padding-block-end": 64,
            "padding-inline-start": 0,
            "padding-inline-end": 0,
            "use_mobile_padding": true,
            "padding-block-start-mobile": 64,
            "padding-block-end-mobile": 32,
            "padding-inline-start-mobile": 0,
            "padding-inline-end-mobile": 0
          },
          "blocks": {
            "1_group_EPqcYg": {
              "type": "1-group",
              "name": "t:names.1_group",
              "settings": {
                "link": "",
                "open_in_new_tab": false,
                "visibility": "show_all",
                "content_direction": "column",
                "vertical_on_mobile": true,
                "horizontal_on_mobile": false,
                "reverse_order_on_mobile": false,
                "horizontal_alignment": "center",
                "vertical_alignment": "center",
                "align_baseline": false,
                "horizontal_alignment_flex_direction_column": "flex-start",
                "vertical_alignment_flex_direction_column": "center",
                "gap": 12,
                "flex_wrap": "nowrap",
                "use_mobile_layout": false,
                "horizontal_alignment_mobile": "flex-start",
                "vertical_alignment_mobile": "center",
                "align_baseline_mobile": false,
                "horizontal_alignment_flex_direction_column_mobile": "flex-start",
                "vertical_alignment_flex_direction_column_mobile": "center",
                "gap_mobile": 12,
                "flex_wrap_mobile": "inherit",
                "width": "fit-content",
                "custom_width": 100,
                "width_mobile": "fit-content",
                "custom_width_mobile": 100,
                "height": "fit",
                "custom_height": 100,
                "inherit_color_scheme": false,
                "color_scheme": "scheme-4",
                "background_media": "none",
                "video_position": "cover",
                "background_image_position": "cover",
                "enable_backdrop_blur": false,
                "backdrop_blur_amount": 20,
                "border": "none",
                "border_width": 1,
                "border_opacity": 100,
                "border_radius": 100,
                "toggle_overlay": false,
                "overlay_color": "#00000026",
                "overlay_style": "solid",
                "gradient_direction": "to top",
                "padding-block-start": 5,
                "padding-block-end": 5,
                "padding-inline-start": 12,
                "padding-inline-end": 12,
                "use_mobile_padding": false,
                "padding-block-start-mobile": 0,
                "padding-block-end-mobile": 0,
                "padding-inline-start-mobile": 0,
                "padding-inline-end-mobile": 0
              },
              "blocks": {
                "1_text_JgfDAQ": {
                  "type": "1-text",
                  "name": "t:names.1_text",
                  "settings": {
                    "text": "<p>New</p>",
                    "width": "fit-content",
                    "max_width": "normal",
                    "alignment": "left",
                    "type_preset": "custom",
                    "font": "var(--font-body--family)",
                    "font_size": "0.875rem",
                    "line_height": "tight",
                    "letter_spacing": "normal",
                    "case": "none",
                    "wrap": "pretty",
                    "color": "var(--color-foreground-heading)",
                    "background": false,
                    "background_color": "#ddebb4",
                    "corner_radius": 0,
                    "padding-block-start": 0,
                    "padding-block-end": 0,
                    "padding-inline-start": 0,
                    "padding-inline-end": 0
                  },
                  "blocks": {}
                }
              },
              "block_order": [
                "1_text_JgfDAQ"
              ]
            },
            "group_cCaMVe": {
              "type": "group",
              "name": "t:names.group",
              "settings": {
                "content_direction": "column",
                "vertical_on_mobile": true,
                "horizontal_alignment": "flex-start",
                "vertical_alignment": "center",
                "align_baseline": false,
                "horizontal_alignment_flex_direction_column": "flex-start",
                "vertical_alignment_flex_direction_column": "center",
                "gap": 10,
                "width": "fill",
                "custom_width": 100,
                "width_mobile": "fill",
                "custom_width_mobile": 100,
                "height": "fit",
                "custom_height": 100,
                "inherit_color_scheme": true,
                "color_scheme": "",
                "background_media": "none",
                "video_position": "cover",
                "background_image_position": "cover",
                "border": "none",
                "border_width": 1,
                "border_opacity": 100,
                "border_radius": 0,
                "toggle_overlay": false,
                "overlay_color": "#00000026",
                "overlay_style": "solid",
                "gradient_direction": "to top",
                "link": "",
                "open_in_new_tab": false,
                "placeholder": "",
                "padding-block-start": 0,
                "padding-block-end": 0,
                "padding-inline-start": 0,
                "padding-inline-end": 0
              },
              "blocks": {
                "1_text_xk39rn": {
                  "type": "1-text",
                  "name": "t:names.1_heading",
                  "settings": {
                    "text": "<h1>When Potency is Paramount</h1>",
                    "width": "fit-content",
                    "max_width": "normal",
                    "alignment": "left",
                    "type_preset": "custom",
                    "font": "var(--font-heading--family)",
                    "font_size": "5rem",
                    "line_height": "tight",
                    "letter_spacing": "normal",
                    "case": "none",
                    "wrap": "pretty",
                    "color": "var(--color-foreground-heading)",
                    "background": false,
                    "background_color": "#00000026",
                    "corner_radius": 0,
                    "padding-block-start": 0,
                    "padding-block-end": 0,
                    "padding-inline-start": 0,
                    "padding-inline-end": 0
                  },
                  "blocks": {}
                },
                "1_text_tNkBkp": {
                  "type": "1-text",
                  "name": "t:names.1_text",
                  "settings": {
                    "text": "<p>Natures Answer Sambucus delivers 12,000 mg of concentrated black elderberries per serving. Backed by 50 years of herbal expertise and produced in a certified facility, these formulas provide consistent, dependable support for your immune system.</p>",
                    "width": "fit-content",
                    "max_width": "none",
                    "alignment": "left",
                    "type_preset": "custom",
                    "font": "var(--font-subheading--family)",
                    "font_size": "1rem",
                    "line_height": "normal",
                    "letter_spacing": "loose",
                    "case": "none",
                    "wrap": "pretty",
                    "color": "var(--color-foreground-heading)",
                    "background": false,
                    "background_color": "#00000026",
                    "corner_radius": 0,
                    "padding-block-start": 0,
                    "padding-block-end": 16,
                    "padding-inline-start": 0,
                    "padding-inline-end": 0
                  },
                  "blocks": {}
                }
              },
              "block_order": [
                "1_text_xk39rn",
                "1_text_tNkBkp"
              ]
            },
            "1_group_bPj6Ch": {
              "type": "1-group",
              "name": "t:names.1_group",
              "settings": {
                "link": "",
                "open_in_new_tab": false,
                "visibility": "hide_mobile",
                "content_direction": "column",
                "vertical_on_mobile": true,
                "horizontal_on_mobile": false,
                "reverse_order_on_mobile": false,
                "horizontal_alignment": "flex-start",
                "vertical_alignment": "center",
                "align_baseline": false,
                "horizontal_alignment_flex_direction_column": "flex-start",
                "vertical_alignment_flex_direction_column": "center",
                "gap": 12,
                "flex_wrap": "nowrap",
                "use_mobile_layout": false,
                "horizontal_alignment_mobile": "flex-start",
                "vertical_alignment_mobile": "center",
                "align_baseline_mobile": false,
                "horizontal_alignment_flex_direction_column_mobile": "flex-start",
                "vertical_alignment_flex_direction_column_mobile": "center",
                "gap_mobile": 12,
                "flex_wrap_mobile": "inherit",
                "width": "fill",
                "custom_width": 100,
                "width_mobile": "fill",
                "custom_width_mobile": 100,
                "height": "fit",
                "custom_height": 100,
                "inherit_color_scheme": true,
                "color_scheme": "",
                "background_media": "none",
                "video_position": "cover",
                "background_image_position": "cover",
                "enable_backdrop_blur": false,
                "backdrop_blur_amount": 20,
                "border": "none",
                "border_width": 1,
                "border_opacity": 100,
                "border_radius": 0,
                "toggle_overlay": false,
                "overlay_color": "#00000026",
                "overlay_style": "solid",
                "gradient_direction": "to top",
                "padding-block-start": 0,
                "padding-block-end": 0,
                "padding-inline-start": 0,
                "padding-inline-end": 0,
                "use_mobile_padding": false,
                "padding-block-start-mobile": 0,
                "padding-block-end-mobile": 0,
                "padding-inline-start-mobile": 0,
                "padding-inline-end-mobile": 0
              },
              "blocks": {
                "button_TmxNrr": {
                  "type": "button",
                  "name": "t:names.button",
                  "settings": {
                    "label": "Shop Sambucus",
                    "link": "shopify://collections",
                    "open_in_new_tab": false,
                    "style_class": "button",
                    "width": "custom",
                    "custom_width": 35,
                    "width_mobile": "custom",
                    "custom_width_mobile": 100
                  },
                  "blocks": {}
                }
              },
              "block_order": [
                "button_TmxNrr"
              ]
            }
          },
          "block_order": [
            "1_group_EPqcYg",
            "group_cCaMVe",
            "1_group_bPj6Ch"
          ]
        },
        "media": {
          "type": "1-group",
          "name": "t:names.media",
          "settings": {
            "link": "",
            "open_in_new_tab": false,
            "visibility": "show_all",
            "content_direction": "column",
            "vertical_on_mobile": true,
            "horizontal_on_mobile": false,
            "reverse_order_on_mobile": false,
            "horizontal_alignment": "flex-start",
            "vertical_alignment": "center",
            "align_baseline": false,
            "horizontal_alignment_flex_direction_column": "flex-end",
            "vertical_alignment_flex_direction_column": "flex-end",
            "gap": 0,
            "flex_wrap": "nowrap",
            "use_mobile_layout": false,
            "horizontal_alignment_mobile": "flex-start",
            "vertical_alignment_mobile": "center",
            "align_baseline_mobile": false,
            "horizontal_alignment_flex_direction_column_mobile": "flex-start",
            "vertical_alignment_flex_direction_column_mobile": "center",
            "gap_mobile": 12,
            "flex_wrap_mobile": "inherit",
            "width": "fill",
            "custom_width": 100,
            "width_mobile": "fill",
            "custom_width_mobile": 100,
            "height": "fit",
            "custom_height": 100,
            "inherit_color_scheme": true,
            "color_scheme": "",
            "background_media": "none",
            "video_position": "cover",
            "background_image_position": "cover",
            "enable_backdrop_blur": false,
            "backdrop_blur_amount": 20,
            "border": "none",
            "border_width": 1,
            "border_opacity": 100,
            "border_radius": 0,
            "toggle_overlay": false,
            "overlay_color": "#00000026",
            "overlay_style": "solid",
            "gradient_direction": "to top",
            "padding-block-start": 0,
            "padding-block-end": 0,
            "padding-inline-start": 0,
            "padding-inline-end": 0,
            "use_mobile_padding": true,
            "padding-block-start-mobile": 0,
            "padding-block-end-mobile": 32,
            "padding-inline-start-mobile": 0,
            "padding-inline-end-mobile": 0
          },
          "blocks": {
            "video_pYT77E": {
              "type": "1-video",
              "name": "t:names.1_video",
              "settings": {
                "source": "uploaded",
                "video": "",
                "video_url": "",
                "video_autoplay": true,
                "video_loop": true,
                "disable_controls": true,
                "alt": "",
                "custom_width": 100,
                "custom_width_mobile": 100,
                "aspect_ratio": "auto",
                "border": "none",
                "border_width": 1,
                "border_opacity": 100,
                "border_radius": 0,
                "padding-block-start": 0,
                "padding-block-end": 0,
                "padding-inline-start": 0,
                "padding-inline-end": 0
              },
              "blocks": {}
            },
            "1_group_THYMUP": {
              "type": "1-group",
              "name": "t:names.1_group",
              "settings": {
                "link": "",
                "open_in_new_tab": false,
                "visibility": "hide_desktop",
                "content_direction": "column",
                "vertical_on_mobile": true,
                "horizontal_on_mobile": false,
                "reverse_order_on_mobile": false,
                "horizontal_alignment": "flex-start",
                "vertical_alignment": "center",
                "align_baseline": false,
                "horizontal_alignment_flex_direction_column": "flex-start",
                "vertical_alignment_flex_direction_column": "center",
                "gap": 12,
                "flex_wrap": "nowrap",
                "use_mobile_layout": false,
                "horizontal_alignment_mobile": "flex-start",
                "vertical_alignment_mobile": "center",
                "align_baseline_mobile": false,
                "horizontal_alignment_flex_direction_column_mobile": "flex-start",
                "vertical_alignment_flex_direction_column_mobile": "center",
                "gap_mobile": 12,
                "flex_wrap_mobile": "inherit",
                "width": "fill",
                "custom_width": 100,
                "width_mobile": "fill",
                "custom_width_mobile": 100,
                "height": "fit",
                "custom_height": 100,
                "inherit_color_scheme": true,
                "color_scheme": "",
                "background_media": "none",
                "video_position": "cover",
                "background_image_position": "cover",
                "enable_backdrop_blur": false,
                "backdrop_blur_amount": 20,
                "border": "none",
                "border_width": 1,
                "border_opacity": 100,
                "border_radius": 0,
                "toggle_overlay": false,
                "overlay_color": "#00000026",
                "overlay_style": "solid",
                "gradient_direction": "to top",
                "padding-block-start": 0,
                "padding-block-end": 0,
                "padding-inline-start": 0,
                "padding-inline-end": 0,
                "use_mobile_padding": false,
                "padding-block-start-mobile": 0,
                "padding-block-end-mobile": 0,
                "padding-inline-start-mobile": 0,
                "padding-inline-end-mobile": 0
              },
              "blocks": {
                "button_zEd3fM": {
                  "type": "button",
                  "name": "t:names.button",
                  "settings": {
                    "label": "Shop Sambucus",
                    "link": "shopify://collections",
                    "open_in_new_tab": false,
                    "style_class": "button",
                    "width": "custom",
                    "custom_width": 35,
                    "width_mobile": "custom",
                    "custom_width_mobile": 100
                  },
                  "blocks": {}
                }
              },
              "block_order": [
                "button_zEd3fM"
              ]
            }
          },
          "block_order": [
            "video_pYT77E",
            "1_group_THYMUP"
          ]
        }
      },
      "block_order": [
        "content",
        "media"
      ],
      "settings": {
        "allow_transparent_header": true,
        "color_scheme_transparent": "",
        "media_type_1": "video",
        "media_type_2": "video",
        "link": "",
        "open_in_new_tab": false,
        "content_direction": "row",
        "vertical_on_mobile": true,
        "horizontal_alignment": "flex-start",
        "vertical_alignment": "flex-end",
        "align_baseline": false,
        "horizontal_alignment_flex_direction_column": "center",
        "vertical_alignment_flex_direction_column": "flex-end",
        "gap": 0,
        "section_width": "page-width",
        "section_height": "medium",
        "section_height_custom": 76,
        "color_scheme": "scheme-58084d4c-a86e-4d0a-855e-a0966e5043f7",
        "toggle_overlay": false,
        "overlay_color": "#12121266",
        "overlay_style": "solid",
        "gradient_direction": "to bottom",
        "blurred_reflection": false,
        "reflection_opacity": 75,
        "padding-block-start": 100,
        "padding-block-end": 0
      }
      
    }
  ]
}
{% endschema %}
