{% capture children %}
  {%- content_for 'block', type: '_content', id: 'static-header' -%}
{% endcapture %}

{% capture list_items %}
  {% for timeline_item in section.settings.timeline_items %}
    {% content_for 'block', type: '_1-timeline-item', id: 'static-timeline-item', closest.metaobject.timeline: timeline_item %}
  {% endfor %}
{% endcapture %}

{% render '1-timeline', children: children, list_items: list_items, settings: section.settings, slide_count: section.settings.timeline_items.size %}
{% stylesheet %}

  .\31-slideshow-controls__timelines.slideshow-controls__thumbnails {
    padding-inline: var(--gutter-slide-width, 0);
    padding-block: 0;
  }

  .\31-slideshow-controls__timeline-item.slideshow-control {
    --dot-size: 12px;
    --seperator-size: 150px;
    display: flex;
    gap: var(--gap-lg);
    align-items: flex-end;
  }

  .\31-resource-list--timeline slideshow-component[dragging] slideshow-arrows {
    display: flex;
  }

  .\31-slideshow-controls__timeline-content {
    display: grid;
    place-items: center;
    gap: var(--gap-lg);
  }

  .\31-slideshow-controls__timeline-time {
    color: rgb(var(--color-foreground-rgb) / 0.6);
    text-transform: uppercase;
  }
  
  .\31-slideshow-controls__timeline-dot {
    width: var(--dot-size);
    height: var(--dot-size);
    background: rgb(var(--color-foreground-rgb) / 0.6);
    display: block;
    border-radius: var(--dot-size);
    transform: scale(0.5);
    transition: transform 0.2s ease, background 0.2s ease;
  }

  .\31-slideshow-controls__timeline-seperator {
    width: var(--seperator-size);
    height: 1px;
    margin-block: calc(var(--dot-size) / 2 - 1px);
    background: rgb(var(--color-foreground-rgb) / 0.6);
  }

  .slideshow-controls__thumbnails .\31-slideshow-controls__timeline-item.slideshow-control:is([aria-selected='true']) {
    outline: none;
    color: var(--color-foreground-heading);
  }

  .\31-slideshow-controls__timeline-item.slideshow-control:is([aria-selected='true']) .\31-slideshow-controls__timeline-dot {
    transform: none;
    background: rgb(var(--color-foreground-rgb));
  }

{% endstylesheet %}
{% schema %}
{
  "name": "t:names.1_timeline",
  "class": "timeline-section-wrapper",
  "blocks": [
    {
      "type": "_1-timeline-item"
    }
  ],
  "settings": [
    {
      "type": "metaobject_list",
      "id": "timeline_items",
      "label": "t:settings.1_timeline_items",
      "metaobject_type": "timeline"
    },
    {
      "type": "header",
      "content": "t:content.layout"
    },
    {
      "type": "select",
      "id": "layout_type",
      "label": "t:settings.layout_type",
      "options": [
        {
          "value": "grid",
          "label": "t:options.grid"
        },
        {
          "value": "carousel",
          "label": "t:options.carousel"
        }
      ],
      "default": "grid"
    },
    {
      "type": "select",
      "id": "layout_type_mobile",
      "label": "t:settings.1_layout_type_mobile",
      "options": [
        {
          "value": "grid",
          "label": "t:options.grid"
        },
        {
          "value": "carousel",
          "label": "t:options.carousel"
        }
      ],
      "default": "grid"
    },
    {
      "type": "range",
      "id": "columns",
      "label": "t:settings.columns",
      "min": 1,
      "max": 8,
      "step": 1,
      "default": 4
    },
    {
      "type": "select",
      "id": "mobile_columns",
      "label": "t:settings.mobile_columns",
      "options": [
        {
          "value": "1",
          "label": "t:options.one_number"
        },
        {
          "value": "2",
          "label": "t:options.two_number"
        }
      ],
      "default": "2",
      "visible_if": "{{ section.settings.layout_type_mobile == 'grid' }}"
    },
    {
      "type": "checkbox",
      "id": "full_width_on_mobile",
      "label": "t:settings.full_width_on_mobile",
      "default": false,
      "visible_if": "{{ section.settings.layout_type_mobile == 'carousel' }}"
    },
    {
      "type": "range",
      "id": "columns_gap",
      "label": "t:settings.horizontal_gap",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 8
    },
    {
      "type": "range",
      "id": "rows_gap",
      "label": "t:settings.vertical_gap",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 8,
      "visible_if": "{{ section.settings.layout_type == 'grid'}}"
    },
    {
      "type": "header",
      "content": "t:content.carousel_navigation",
      "visible_if": "{{ section.settings.layout_type == 'carousel' or section.settings.layout_type_mobile == 'carousel' }}"
    },
    {
      "type": "checkbox",
      "id": "autoplay",
      "label": "t:settings.auto_rotate_slides",
      "default": false
    },
    {
      "type": "range",
      "id": "autoplay_speed",
      "label": "t:settings.speed",
      "min": 3,
      "max": 7,
      "step": 1,
      "unit": "s",
      "default": 4,
      "visible_if": "{{ section.settings.autoplay }}"
    },
    {
      "type": "select",
      "id": "icons_style",
      "label": "t:settings.icon",
      "options": [
        {
          "value": "arrow",
          "label": "t:options.arrows"
        },
        {
          "value": "chevron",
          "label": "t:options.chevrons"
        },
        {
          "value": "arrows_large",
          "label": "t:options.arrows_large"
        },
        {
          "value": "chevron_large",
          "label": "t:options.chevron_large"
        },
        {
          "value": "none",
          "label": "t:options.none"
        }
      ],
      "default": "arrow",
      "visible_if": "{{ section.settings.layout_type == 'carousel' or section.settings.layout_type_mobile == 'carousel' }}"
    },
    {
      "type": "select",
      "id": "slideshow_controls_position",
      "label": "t:settings.position",
      "options": [
        {
          "value": "left",
          "label": "t:options.left"
        },
        {
          "value": "center",
          "label": "t:options.center"
        },
        {
          "value": "right",
          "label": "t:options.right"
        },
        {
          "value": "bottom",
          "label": "t:options.bottom"
        },
        {
          "value": "below-slideshow",
          "label": "t:options.1_below_slideshow"
        }
      ],
      "default": "center",
      "visible_if": "{{ section.settings.layout_type == 'carousel' or section.settings.layout_type_mobile == 'carousel' }}"
    },
    {
      "type": "select",
      "id": "icons_shape",
      "label": "t:settings.icon_background",
      "options": [
        {
          "value": "none",
          "label": "t:options.none"
        },
        {
          "value": "circle",
          "label": "t:options.circle"
        },
        {
          "value": "square",
          "label": "t:options.square"
        }
      ],
      "default": "none",
      "visible_if": "{{ section.settings.icons_style != 'none' and section.settings.layout_type == 'carousel' or section.settings.layout_type_mobile == 'carousel' }}"
    },
    {
      "type": "select",
      "id": "slideshow_controls_style",
      "label": "t:settings.pagination",
      "options": [
        {
          "value": "timeline",
          "label": "t:options.1_timeline"
        },
        {
          "value": "dots",
          "label": "t:options.dots"
        },
        {
          "value": "counter",
          "label": "t:options.counter"
        },
        {
          "value": "none",
          "label": "t:options.none"
        }
      ],
      "default": "none",
      "visible_if": "{{ section.settings.layout_type == 'carousel' }}"
    },
    {
      "type": "select",
      "id": "slideshow_mobile_controls_style",
      "label": "t:settings.mobile_pagination",
      "options": [
        {
          "value": "timeline",
          "label": "t:options.1_timeline"
        },
        {
          "value": "dots",
          "label": "t:options.dots"
        },
        {
          "value": "counter",
          "label": "t:options.counter"
        },
        {
          "value": "none",
          "label": "t:options.none"
        }
      ],
      "default": "none",
      "visible_if": "{{ section.settings.layout_type == 'carousel' or section.settings.layout_type_mobile == 'carousel' }}"
    },
    {
      "type": "range",
      "id": "gap",
      "label": "t:settings.gap",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 12
    },
    {
      "type": "header",
      "content": "t:content.size"
    },
    {
      "type": "select",
      "id": "section_width",
      "label": "t:settings.width",
      "options": [
        {
          "value": "page-width",
          "label": "t:options.page"
        },
        {
          "value": "full-width",
          "label": "t:options.full"
        }
      ],
      "default": "page-width"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:settings.color_scheme",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:content.padding"
    },
    {
      "type": "range",
      "id": "padding-block-start",
      "label": "t:settings.top",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding-block-end",
      "label": "t:settings.bottom",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "default": 0
    }
  ],
  "presets": [
    {
      "name": "t:names.1_timeline",
      "category": "t:categories.storytelling",
      "blocks": {
        "static-header": {
          "type": "_content",
          "static": true,
          "settings": {
            "horizontal_alignment_flex_direction_column": "center",
            "vertical_alignment_flex_direction_column": "center",
            "gap": 24,
            "inherit_color_scheme": true,
            "color_scheme": "",
            "border_radius": 0,
            "padding-block-start": 0,
            "padding-block-end": 0,
            "padding-inline-start": 0,
            "padding-inline-end": 0
          },
          "blocks": {
            "1_group_HtGfaV": {
              "type": "1-group",
              "name": "Heading",
              "settings": {
                "link": "",
                "open_in_new_tab": false,
                "visibility": "show_all",
                "content_direction": "column",
                "vertical_on_mobile": true,
                "horizontal_on_mobile": false,
                "reverse_order_on_mobile": false,
                "horizontal_alignment": "flex-start",
                "vertical_alignment": "center",
                "align_baseline": false,
                "horizontal_alignment_flex_direction_column": "center",
                "vertical_alignment_flex_direction_column": "center",
                "gap": 16,
                "flex_wrap": "nowrap",
                "use_mobile_layout": false,
                "horizontal_alignment_mobile": "flex-start",
                "vertical_alignment_mobile": "center",
                "align_baseline_mobile": false,
                "horizontal_alignment_flex_direction_column_mobile": "flex-start",
                "vertical_alignment_flex_direction_column_mobile": "center",
                "gap_mobile": 12,
                "flex_wrap_mobile": "inherit",
                "width": "fill",
                "custom_width": 100,
                "width_mobile": "fill",
                "custom_width_mobile": 100,
                "height": "fit",
                "custom_height": 100,
                "inherit_color_scheme": true,
                "color_scheme": "",
                "background_media": "none",
                "video_position": "cover",
                "background_image_position": "cover",
                "enable_backdrop_blur": false,
                "backdrop_blur_amount": 20,
                "border": "none",
                "border_width": 1,
                "border_opacity": 100,
                "border_radius": 0,
                "toggle_overlay": false,
                "overlay_color": "#00000026",
                "overlay_style": "solid",
                "gradient_direction": "to top",
                "padding-block-start": 0,
                "padding-block-end": 0,
                "padding-inline-start": 0,
                "padding-inline-end": 0,
                "use_mobile_padding": false,
                "padding-block-start-mobile": 0,
                "padding-block-end-mobile": 0,
                "padding-inline-start-mobile": 0,
                "padding-inline-end-mobile": 0
              },
              "blocks": {
                "1_group_FJaxt8": {
                  "type": "1-group",
                  "name": "t:names.1_group",
                  "settings": {
                    "link": "",
                    "open_in_new_tab": false,
                    "visibility": "show_all",
                    "content_direction": "column",
                    "vertical_on_mobile": true,
                    "horizontal_on_mobile": false,
                    "reverse_order_on_mobile": false,
                    "horizontal_alignment": "flex-start",
                    "vertical_alignment": "center",
                    "align_baseline": false,
                    "horizontal_alignment_flex_direction_column": "flex-start",
                    "vertical_alignment_flex_direction_column": "center",
                    "gap": 12,
                    "flex_wrap": "nowrap",
                    "use_mobile_layout": false,
                    "horizontal_alignment_mobile": "flex-start",
                    "vertical_alignment_mobile": "center",
                    "align_baseline_mobile": false,
                    "horizontal_alignment_flex_direction_column_mobile": "flex-start",
                    "vertical_alignment_flex_direction_column_mobile": "center",
                    "gap_mobile": 12,
                    "flex_wrap_mobile": "inherit",
                    "width": "fit-content",
                    "custom_width": 100,
                    "width_mobile": "fit-content",
                    "custom_width_mobile": 100,
                    "height": "fit",
                    "custom_height": 100,
                    "inherit_color_scheme": false,
                    "color_scheme": "scheme-4",
                    "background_media": "none",
                    "video_position": "cover",
                    "background_image_position": "cover",
                    "enable_backdrop_blur": false,
                    "backdrop_blur_amount": 20,
                    "border": "none",
                    "border_width": 1,
                    "border_opacity": 100,
                    "border_radius": 100,
                    "toggle_overlay": false,
                    "overlay_color": "#00000026",
                    "overlay_style": "solid",
                    "gradient_direction": "to top",
                    "padding-block-start": 5,
                    "padding-block-end": 5,
                    "padding-inline-start": 12,
                    "padding-inline-end": 12,
                    "use_mobile_padding": false,
                    "padding-block-start-mobile": 0,
                    "padding-block-end-mobile": 0,
                    "padding-inline-start-mobile": 0,
                    "padding-inline-end-mobile": 0
                  },
                  "blocks": {
                    "1_text_kDqwPw": {
                      "type": "1-text",
                      "name": "t:names.1_text",
                      "settings": {
                        "text": "<p>Our Facility & Quality Promise</p>",
                        "width": "fit-content",
                        "max_width": "normal",
                        "alignment": "left",
                        "type_preset": "custom",
                        "font": "var(--font-body--family)",
                        "font_size": "0.875rem",
                        "line_height": "tight",
                        "letter_spacing": "normal",
                        "case": "none",
                        "wrap": "pretty",
                        "color": "var(--color-foreground-heading)",
                        "background": false,
                        "background_color": "#ddebb4",
                        "corner_radius": 50,
                        "padding-block-start": 0,
                        "padding-block-end": 0,
                        "padding-inline-start": 0,
                        "padding-inline-end": 0
                      },
                      "blocks": {}
                    }
                  },
                  "block_order": [
                    "1_text_kDqwPw"
                  ]
                },
                "group_eNXxfG": {
                  "type": "group",
                  "name": "t:names.group",
                  "settings": {
                    "content_direction": "column",
                    "vertical_on_mobile": true,
                    "horizontal_alignment": "center",
                    "vertical_alignment": "center",
                    "align_baseline": false,
                    "horizontal_alignment_flex_direction_column": "center",
                    "vertical_alignment_flex_direction_column": "center",
                    "gap": 10,
                    "width": "fill",
                    "custom_width": 100,
                    "width_mobile": "fill",
                    "custom_width_mobile": 100,
                    "height": "fit",
                    "custom_height": 100,
                    "inherit_color_scheme": true,
                    "color_scheme": "",
                    "background_media": "none",
                    "video_position": "cover",
                    "background_image_position": "cover",
                    "border": "none",
                    "border_width": 1,
                    "border_opacity": 100,
                    "border_radius": 0,
                    "toggle_overlay": false,
                    "overlay_color": "#00000026",
                    "overlay_style": "solid",
                    "gradient_direction": "to top",
                    "link": "",
                    "open_in_new_tab": false,
                    "placeholder": "",
                    "padding-block-start": 0,
                    "padding-block-end": 0,
                    "padding-inline-start": 0,
                    "padding-inline-end": 0
                  },
                  "blocks": {
                    "1_text_gtzbzm": {
                      "type": "1-text",
                      "name": "t:names.1_text",
                      "settings": {
                        "text": "<h2>Take a Walk With Nature’s Answer!</h2>",
                        "width": "fit-content",
                        "max_width": "normal",
                        "alignment": "left",
                        "type_preset": "h1",
                        "font": "var(--font-body--family)",
                        "font_size": "1rem",
                        "line_height": "normal",
                        "letter_spacing": "normal",
                        "case": "none",
                        "wrap": "pretty",
                        "color": "var(--color-foreground-heading)",
                        "background": false,
                        "background_color": "#00000026",
                        "corner_radius": 0,
                        "padding-block-start": 0,
                        "padding-block-end": 0,
                        "padding-inline-start": 0,
                        "padding-inline-end": 0
                      },
                      "blocks": {}
                    },
                    "1_group_tg3TmD": {
                      "type": "1-group",
                      "name": "t:names.1_group",
                      "settings": {
                        "link": "",
                        "open_in_new_tab": false,
                        "visibility": "show_all",
                        "content_direction": "column",
                        "vertical_on_mobile": true,
                        "horizontal_on_mobile": false,
                        "reverse_order_on_mobile": false,
                        "horizontal_alignment": "flex-start",
                        "vertical_alignment": "center",
                        "align_baseline": false,
                        "horizontal_alignment_flex_direction_column": "center",
                        "vertical_alignment_flex_direction_column": "center",
                        "gap": 12,
                        "flex_wrap": "nowrap",
                        "use_mobile_layout": false,
                        "horizontal_alignment_mobile": "flex-start",
                        "vertical_alignment_mobile": "center",
                        "align_baseline_mobile": false,
                        "horizontal_alignment_flex_direction_column_mobile": "flex-start",
                        "vertical_alignment_flex_direction_column_mobile": "center",
                        "gap_mobile": 12,
                        "flex_wrap_mobile": "inherit",
                        "width": "custom",
                        "custom_width": 35,
                        "width_mobile": "fill",
                        "custom_width_mobile": 100,
                        "height": "fit",
                        "custom_height": 100,
                        "inherit_color_scheme": true,
                        "color_scheme": "",
                        "background_media": "none",
                        "video_position": "cover",
                        "background_image_position": "cover",
                        "enable_backdrop_blur": false,
                        "backdrop_blur_amount": 20,
                        "border": "none",
                        "border_width": 1,
                        "border_opacity": 100,
                        "border_radius": 0,
                        "toggle_overlay": false,
                        "overlay_color": "#00000026",
                        "overlay_style": "solid",
                        "gradient_direction": "to top",
                        "padding-block-start": 0,
                        "padding-block-end": 0,
                        "padding-inline-start": 0,
                        "padding-inline-end": 0,
                        "use_mobile_padding": false,
                        "padding-block-start-mobile": 0,
                        "padding-block-end-mobile": 0,
                        "padding-inline-start-mobile": 0,
                        "padding-inline-end-mobile": 0
                      },
                      "blocks": {
                        "1_text_xbTzxR": {
                          "type": "1-text",
                          "name": "t:names.1_text",
                          "settings": {
                            "text": "<p>From family-owned health shops to major online retailers, Nature’s Answer products are trusted and available wherever wellness is found.</p>",
                            "width": "fit-content",
                            "max_width": "none",
                            "alignment": "left",
                            "type_preset": "rte",
                            "font": "var(--font-body--family)",
                            "font_size": "1rem",
                            "line_height": "normal",
                            "letter_spacing": "normal",
                            "case": "none",
                            "wrap": "pretty",
                            "color": "var(--color-foreground)",
                            "background": false,
                            "background_color": "#00000026",
                            "corner_radius": 0,
                            "padding-block-start": 0,
                            "padding-block-end": 0,
                            "padding-inline-start": 0,
                            "padding-inline-end": 0
                          },
                          "blocks": {}
                        }
                      },
                      "block_order": [
                        "1_text_xbTzxR"
                      ]
                    }
                  },
                  "block_order": [
                    "1_text_gtzbzm",
                    "1_group_tg3TmD"
                  ]
                }
              },
              "block_order": [
                "1_group_FJaxt8",
                "group_eNXxfG"
              ]
            }
          },
          "block_order": [
            "1_group_HtGfaV"
          ]
        },
        "static-timeline-item": {
          "type": "_1-timeline-item",
          "static": true,
          "settings": {
            "timeline": "",
            "link": "",
            "open_in_new_tab": false,
            "content_direction": "column",
            "vertical_on_mobile": true,
            "horizontal_alignment": "flex-start",
            "vertical_alignment": "center",
            "align_baseline": false,
            "horizontal_alignment_flex_direction_column": "flex-start",
            "vertical_alignment_flex_direction_column": "center",
            "gap": 12,
            "width": "fill",
            "custom_width": 100,
            "width_mobile": "fill",
            "custom_width_mobile": 100,
            "height": "fill",
            "custom_height": 100,
            "inherit_color_scheme": false,
            "color_scheme": "scheme-11",
            "background_media": "none",
            "video_position": "cover",
            "background_image_position": "cover",
            "shadow": "none",
            "border": "none",
            "border_width": 1,
            "border_opacity": 100,
            "border_radius": 24,
            "toggle_overlay": false,
            "overlay_color": "#00000026",
            "overlay_style": "solid",
            "gradient_direction": "to top",
            "padding-block-start": 0,
            "padding-block-end": 0,
            "padding-inline-start": 0,
            "padding-inline-end": 0
          },
          "blocks": {
            "1_group_q93am3": {
              "type": "1-group",
              "name": "Image With Text",
              "settings": {
                "link": "",
                "open_in_new_tab": false,
                "visibility": "show_all",
                "content_direction": "row",
                "vertical_on_mobile": true,
                "horizontal_on_mobile": false,
                "reverse_order_on_mobile": false,
                "horizontal_alignment": "flex-start",
                "vertical_alignment": "flex-start",
                "align_baseline": false,
                "horizontal_alignment_flex_direction_column": "flex-start",
                "vertical_alignment_flex_direction_column": "center",
                "gap": 0,
                "flex_wrap": "nowrap",
                "use_mobile_layout": false,
                "horizontal_alignment_mobile": "space-between",
                "vertical_alignment_mobile": "flex-start",
                "align_baseline_mobile": true,
                "horizontal_alignment_flex_direction_column_mobile": "flex-start",
                "vertical_alignment_flex_direction_column_mobile": "space-between",
                "gap_mobile": 12,
                "flex_wrap_mobile": "inherit",
                "width": "fill",
                "custom_width": 100,
                "width_mobile": "fill",
                "custom_width_mobile": 100,
                "height": "fill",
                "custom_height": 100,
                "inherit_color_scheme": true,
                "color_scheme": "",
                "background_media": "none",
                "video_position": "cover",
                "background_image_position": "cover",
                "enable_backdrop_blur": false,
                "backdrop_blur_amount": 20,
                "border": "none",
                "border_width": 1,
                "border_opacity": 100,
                "border_radius": 0,
                "toggle_overlay": false,
                "overlay_color": "#00000026",
                "overlay_style": "solid",
                "gradient_direction": "to top",
                "padding-block-start": 0,
                "padding-block-end": 0,
                "padding-inline-start": 0,
                "padding-inline-end": 0,
                "use_mobile_padding": false,
                "padding-block-start-mobile": 0,
                "padding-block-end-mobile": 0,
                "padding-inline-start-mobile": 0,
                "padding-inline-end-mobile": 0
              },
              "blocks": {
                "1_group_XXzftr": {
                  "type": "1-group",
                  "name": "t:names.image",
                  "settings": {
                    "link": "",
                    "open_in_new_tab": false,
                    "visibility": "show_all",
                    "content_direction": "column",
                    "vertical_on_mobile": true,
                    "horizontal_on_mobile": false,
                    "reverse_order_on_mobile": false,
                    "horizontal_alignment": "flex-start",
                    "vertical_alignment": "center",
                    "align_baseline": false,
                    "horizontal_alignment_flex_direction_column": "flex-start",
                    "vertical_alignment_flex_direction_column": "center",
                    "gap": 12,
                    "flex_wrap": "nowrap",
                    "use_mobile_layout": false,
                    "horizontal_alignment_mobile": "flex-start",
                    "vertical_alignment_mobile": "center",
                    "align_baseline_mobile": false,
                    "horizontal_alignment_flex_direction_column_mobile": "flex-start",
                    "vertical_alignment_flex_direction_column_mobile": "center",
                    "gap_mobile": 12,
                    "flex_wrap_mobile": "inherit",
                    "width": "fill",
                    "custom_width": 50,
                    "width_mobile": "fill",
                    "custom_width_mobile": 100,
                    "height": "fit",
                    "custom_height": 100,
                    "inherit_color_scheme": true,
                    "color_scheme": "",
                    "background_media": "none",
                    "video_position": "cover",
                    "background_image_position": "cover",
                    "enable_backdrop_blur": false,
                    "backdrop_blur_amount": 20,
                    "border": "none",
                    "border_width": 1,
                    "border_opacity": 100,
                    "border_radius": 0,
                    "toggle_overlay": false,
                    "overlay_color": "#00000026",
                    "overlay_style": "solid",
                    "gradient_direction": "to top",
                    "padding-block-start": 0,
                    "padding-block-end": 0,
                    "padding-inline-start": 0,
                    "padding-inline-end": 0,
                    "use_mobile_padding": false,
                    "padding-block-start-mobile": 0,
                    "padding-block-end-mobile": 0,
                    "padding-inline-start-mobile": 0,
                    "padding-inline-end-mobile": 0
                  },
                  "blocks": {
                    "1_image_GbEnph": {
                      "type": "1-image",
                      "name": "t:names.1_image",
                      "settings": {
                        "image": "",
                        "link": "",
                        "image_ratio": "adapt",
                        "width": "fill",
                        "custom_width": 100,
                        "width_mobile": "fill",
                        "custom_width_mobile": 100,
                        "height": "fill",
                        "move_vertically": 0,
                        "mask_enabled": true,
                        "mask_position": "center",
                        "mask_repeat": "no-repeat",
                        "border": "none",
                        "border_width": 1,
                        "border_opacity": 100,
                        "border_radius": 0,
                        "padding-block-start": 0,
                        "padding-block-end": 0,
                        "padding-inline-start": 0,
                        "padding-inline-end": 0
                      },
                      "blocks": {}
                    }
                  },
                  "block_order": [
                    "1_image_GbEnph"
                  ]
                },
                "1_group_EFB3QG": {
                  "type": "1-group",
                  "name": "Content",
                  "settings": {
                    "link": "",
                    "open_in_new_tab": false,
                    "visibility": "show_all",
                    "content_direction": "column",
                    "vertical_on_mobile": true,
                    "horizontal_on_mobile": false,
                    "reverse_order_on_mobile": false,
                    "horizontal_alignment": "flex-start",
                    "vertical_alignment": "center",
                    "align_baseline": false,
                    "horizontal_alignment_flex_direction_column": "flex-start",
                    "vertical_alignment_flex_direction_column": "space-between",
                    "gap": 24,
                    "flex_wrap": "nowrap",
                    "use_mobile_layout": false,
                    "horizontal_alignment_mobile": "flex-start",
                    "vertical_alignment_mobile": "center",
                    "align_baseline_mobile": false,
                    "horizontal_alignment_flex_direction_column_mobile": "flex-start",
                    "vertical_alignment_flex_direction_column_mobile": "center",
                    "gap_mobile": 12,
                    "flex_wrap_mobile": "inherit",
                    "width": "fill",
                    "custom_width": 50,
                    "width_mobile": "fill",
                    "custom_width_mobile": 100,
                    "height": "fill",
                    "custom_height": 100,
                    "inherit_color_scheme": true,
                    "color_scheme": "",
                    "background_media": "none",
                    "video_position": "cover",
                    "background_image_position": "cover",
                    "enable_backdrop_blur": false,
                    "backdrop_blur_amount": 20,
                    "border": "none",
                    "border_width": 1,
                    "border_opacity": 100,
                    "border_radius": 0,
                    "toggle_overlay": false,
                    "overlay_color": "#00000026",
                    "overlay_style": "solid",
                    "gradient_direction": "to top",
                    "padding-block-start": 40,
                    "padding-block-end": 40,
                    "padding-inline-start": 32,
                    "padding-inline-end": 32,
                    "use_mobile_padding": true,
                    "padding-block-start-mobile": 24,
                    "padding-block-end-mobile": 24,
                    "padding-inline-start-mobile": 24,
                    "padding-inline-end-mobile": 24
                  },
                  "blocks": {
                    "1_text_kJzFxn": {
                      "type": "1-text",
                      "name": "t:names.1_heading",
                      "settings": {
                        "text": "<h3>Timeline Time</h3>",
                        "width": "fit-content",
                        "max_width": "normal",
                        "alignment": "left",
                        "type_preset": "custom",
                        "font": "var(--font-heading--family)",
                        "font_size": "5.5rem",
                        "line_height": "tight",
                        "letter_spacing": "normal",
                        "case": "none",
                        "wrap": "pretty",
                        "color": "var(--color-foreground-heading)",
                        "background": false,
                        "background_color": "#00000026",
                        "corner_radius": 0,
                        "padding-block-start": 0,
                        "padding-block-end": 0,
                        "padding-inline-start": 0,
                        "padding-inline-end": 0
                      },
                      "blocks": {}
                    },
                    "1_group_dtqyYz": {
                      "type": "1-group",
                      "name": "Text",
                      "settings": {
                        "link": "",
                        "open_in_new_tab": false,
                        "visibility": "show_all",
                        "content_direction": "column",
                        "vertical_on_mobile": true,
                        "horizontal_on_mobile": false,
                        "reverse_order_on_mobile": false,
                        "horizontal_alignment": "flex-start",
                        "vertical_alignment": "center",
                        "align_baseline": false,
                        "horizontal_alignment_flex_direction_column": "flex-start",
                        "vertical_alignment_flex_direction_column": "center",
                        "gap": 0,
                        "flex_wrap": "nowrap",
                        "use_mobile_layout": false,
                        "horizontal_alignment_mobile": "flex-start",
                        "vertical_alignment_mobile": "center",
                        "align_baseline_mobile": false,
                        "horizontal_alignment_flex_direction_column_mobile": "flex-start",
                        "vertical_alignment_flex_direction_column_mobile": "center",
                        "gap_mobile": 12,
                        "flex_wrap_mobile": "inherit",
                        "width": "fill",
                        "custom_width": 100,
                        "width_mobile": "fill",
                        "custom_width_mobile": 100,
                        "height": "fit",
                        "custom_height": 100,
                        "inherit_color_scheme": true,
                        "color_scheme": "",
                        "background_media": "none",
                        "video_position": "cover",
                        "background_image_position": "cover",
                        "enable_backdrop_blur": false,
                        "backdrop_blur_amount": 20,
                        "border": "none",
                        "border_width": 1,
                        "border_opacity": 100,
                        "border_radius": 0,
                        "toggle_overlay": false,
                        "overlay_color": "#00000026",
                        "overlay_style": "solid",
                        "gradient_direction": "to top",
                        "padding-block-start": 0,
                        "padding-block-end": 0,
                        "padding-inline-start": 0,
                        "padding-inline-end": 0,
                        "use_mobile_padding": false,
                        "padding-block-start-mobile": 0,
                        "padding-block-end-mobile": 0,
                        "padding-inline-start-mobile": 0,
                        "padding-inline-end-mobile": 0
                      },
                      "blocks": {
                        "1_text_VAB6m7": {
                          "type": "1-text",
                          "name": "t:names.1_heading",
                          "settings": {
                            "text": "<p>Timeline Title</p>",
                            "width": "fit-content",
                            "max_width": "none",
                            "alignment": "left",
                            "type_preset": "h2",
                            "font": "var(--font-body--family)",
                            "font_size": "1rem",
                            "line_height": "normal",
                            "letter_spacing": "normal",
                            "case": "none",
                            "wrap": "pretty",
                            "color": "var(--color-foreground-heading)",
                            "background": false,
                            "background_color": "#00000026",
                            "corner_radius": 0,
                            "padding-block-start": 0,
                            "padding-block-end": 0,
                            "padding-inline-start": 0,
                            "padding-inline-end": 0
                          },
                          "blocks": {}
                        },
                        "1_text_DAN3zB": {
                          "type": "1-text",
                          "settings": {
                            "text": "<p>Timeline Text</p>",
                            "width": "fit-content",
                            "max_width": "none",
                            "alignment": "left",
                            "type_preset": "rte",
                            "font": "var(--font-body--family)",
                            "font_size": "1.125rem",
                            "line_height": "normal",
                            "letter_spacing": "loose",
                            "case": "none",
                            "wrap": "pretty",
                            "color": "var(--color-foreground)",
                            "background": false,
                            "background_color": "#00000026",
                            "corner_radius": 0,
                            "padding-block-start": 0,
                            "padding-block-end": 0,
                            "padding-inline-start": 0,
                            "padding-inline-end": 0
                          },
                          "blocks": {}
                        }
                      },
                      "block_order": [
                        "1_text_VAB6m7",
                        "1_text_DAN3zB"
                      ]
                    }
                  },
                  "block_order": [
                    "1_text_kJzFxn",
                    "1_group_dtqyYz"
                  ]
                }
              },
              "block_order": [
                "1_group_XXzftr",
                "1_group_EFB3QG"
              ]
            }
          },
          "block_order": [
            "1_group_q93am3"
          ]
        }
      },
      "settings": {
        "timeline_items": [
          "1945",
          "1970",
          "1972",
          "1973",
          "1974",
          "1976",
          "1980",
          "1988",
          "1990",
          "1992",
          "1999",
          "2013",
          "current"
        ],
        "layout_type": "carousel",
        "layout_type_mobile": "carousel",
        "columns": 1,
        "mobile_columns": "2",
        "full_width_on_mobile": true,
        "columns_gap": 32,
        "rows_gap": 8,
        "autoplay": false,
        "autoplay_speed": 4,
        "icons_style": "chevron_large",
        "slideshow_controls_position": "below-slideshow",
        "icons_shape": "circle",
        "slideshow_controls_style": "timeline",
        "slideshow_mobile_controls_style": "timeline",
        "gap": 32,
        "section_width": "page-width",
        "color_scheme": "scheme-5",
        "padding-block-start": 80,
        "padding-block-end": 80
      }
    }
  ]
}
{% endschema %}